{%extends display.main%}

{%block content%}
  <div class="main homepage">
  {{block('homeTop1')}}
  <h2 class="special-heading bigger election-title">{%trans "Presidents of Islamic Republic of Iran"%}</h2>

   <div class="customers-container">

    <div class="f customer reverse">
     <a href="{{url.kingdom}}/target/organizations-and-companies" class="customer-img">
      <img src="{{url.site}}/static/images/miniature/companies.png" alt='{%trans "Organizations and Companies"%}'>
     </a>
     <div class="customer-content">
      <h3><a href="{{url.kingdom}}/target/organizations-and-companies">{%trans "Organizations and Companies"%}</a></h3>
      <p>{%trans "Sarshomar will provide you with the experience of evaluating the status quo, customer consent, and the market as well as promoting the level of services."%}</p>
     </div>
    </div>

    <div class="f customer">
     <a href="{{url.kingdom}}/target/universities-and-research-institutes" class="customer-img">
      <img src="{{url.site}}/static/images/miniature/universities.png" alt='{%trans "Universities and Research Institutes"%}'>
     </a>
     <div class="customer-content">
      <h3><a href="{{url.kingdom}}/target/universities-and-research-institutes">{%trans "Universities and Research Institutes"%}</a></h3>
      <p>{%trans "By means of administering tests, polling and evaluating in Sarshomar, you will have access to accurate information, while enjoying a reduction in the costs of data gathering and processing."%}</p>
     </div>
    </div>

    <div class="f customer reverse">
     <a href="{{url.kingdom}}/target/agencies" class="customer-img">
      <img src="{{url.site}}/static/images/miniature/agencies.png" alt='{%trans "Agencies"%}'>
     </a>
     <div class="customer-content">
      <h3><a href="{{url.kingdom}}/target/agencies">{%trans "Advertising Agencies"%}</a></h3>
      <p>{%trans "Furthermore, excite your customers by use of Sarshomar's new advertising strategies along with goal-oriented advertising."%}</p>
     </div>
    </div>

    <div class="f customer">
     <a href="{{url.kingdom}}/target/developers-and-webmasters" class="customer-img">
      <img src="{{url.site}}/static/images/miniature/developers.png" alt='{%trans "Developers and Webmasters"%}'>
     </a>
     <div class="customer-content">
      <h3><a href="{{url.kingdom}}/target/developers-and-webmasters">{%trans "Developers and Webmasters"%}</a></h3>
      <p>{%trans "Finally, using API, you can have the benefit of Sarshomar's qualities and forget your concerns about polling."%}</p>
     </div>
    </div>
   </div>

   <div class="f triplet" id="features-box">
    <div class="c4 s12 triplet-item">
     <a href="{{url.kingdom}}/benefits/easy-access">
      <img src="{{url.site}}/static/images/miniature/easy-access.png" alt='{%trans "Easy Access"%}'>
     </a>
     <h4><a href="{{url.kingdom}}/benefits/easy-access">{%trans "Easy Access"%}</a></h4>
     <p>{%trans "You can enjoy a variety of Sarshomar's services only through having access to the internet‌ and without having to need to install any particular software"%}</p>
    </div>

    <div class="c4 s12 triplet-item">
     <a href="{{url.kingdom}}/benefits/valid-population">
      <img src="{{url.site}}/static/images/miniature/valid-population.png" alt='{%trans "Valid Statistical Population"%}'>
     </a>
     <h4><a href="{{url.kingdom}}/benefits/valid-population">{%trans "Valid Statistical Population"%}</a></h4>
     <p>{%trans "Ask Sarshomar's valid population your questions and analyze the results separately, along with the graphs"%}</p>
    </div>

    <div class="c4 s12 triplet-item">
     <a href="{{url.kingdom}}/benefits/knowledge-base">
      <img src="{{url.site}}/static/images/miniature/knowledge-base.png" alt='{%trans "Sarshomar Knowledge"%}'>
     </a>
     <h4><a href="{{url.kingdom}}/benefits/knowledge-base">{%trans "Sarshomar Knowledge"%}</a></h4>
     <p>{%trans "Enjoy Sarshomar's comprehensive and valuable knowledge as a valid source in line with your broad objectives"%}</p>
    </div>
   </div>

  </div>
{%endblock%}



{%block homeTopSarshomar%}
     <div class="c4 s12 m12" id="intro-box">
      <h2>{{site.slogan}}</h2>
      <p>{%trans "Focus on your question. Do not be too concerned about how to ask or analyze."%} {%trans "Equipped with an integrated platform, Sarshomar has made it possible for you to ask your questions via any means."%}</p>
{%if not login%}
      <a href="{{url.kingdom}}/enter" class="special-btn" data-direct>{%trans "Enter to Sarshomar"%}</a>
{%endif%}
     </div>
{%endblock%}



{%block homeTopRandomChart%}
       <div class='column chart' data-place='div' data-vals='{{result.data | raw  }}' data-color2='auto' data-format='homepageTop' data-trans='{%trans "vote"%}'></div>
{%endblock%}



{%block homeTopGender%}
      {%set ageTooltip%}{formatter: '::xformater'}{%endset%}
      <div class="chart" id="age-chart" data-format="homepageGender" data-vals='{{male_female_chart.data | raw}}' data-title='{%trans "Sarshomar Society Distributtion"%}'></div>
{%endblock%}




{%block homeTop1%}
   <div class="box">
    <div class="f">
{%if site.currentlang == "en"%}
     {{block('homeTopSarshomar')}}
     <div class="c7 s12 m12{%if site.currentlang=='fa'%} wide{%endif%}" id='random-chart'>
      <h3 class="unselectable"><a href='{{result.url}}'>{{result.title|trim('\"')}}</a></h3>
      {{block('homeTopRandomChart')}}
     </div>
{%else%}
     {{block('homeTopSarshomar')}}
     <div class="c2 m0 s0"></div>
     <div class="c6 m12 s12">{{block('homeTopGender')}}</div>
{%endif%}
    </div>
   </div>
{%endblock%}


