{%extends display.main%}

{%block content%}
  <div class="main homepage">
  {{block('homeTop1')}}
  <h2 class="special-heading bigger election-title">{%trans "Presidents of Islamic Republic of Iran"%}</h2>
  {{block('homeElectionTimeline')}}
  {%if false%}{{block('homeTop2')}}{%endif%}

   <div class="customers-container">

    <div class="f customer reverse">
     <a href="{{url.base}}/target/organizations-and-companies" class="customer-img">
      <img src="{{url.static}}images/miniature/companies.png" alt='{%trans "Organizations and Companies"%}'>
     </a>
     <div class="customer-content">
      <h3><a href="{{url.base}}/target/organizations-and-companies">{%trans "Organizations and Companies"%}</a></h3>
      <p>{%trans "Sarshomar will provide you with the experience of evaluating the status quo, customer consent, and the market as well as promoting the level of services."%}</p>
     </div>
    </div>

    <div class="f customer">
     <a href="{{url.base}}/target/universities-and-research-institutes" class="customer-img">
      <img src="{{url.static}}images/miniature/universities.png" alt='{%trans "Universities and Research Institutes"%}'>
     </a>
     <div class="customer-content">
      <h3><a href="{{url.base}}/target/universities-and-research-institutes">{%trans "Universities and Research Institutes"%}</a></h3>
      <p>{%trans "By means of administering tests, polling and evaluating in Sarshomar, you will have access to accurate information, while enjoying a reduction in the costs of data gathering and processing."%}</p>
     </div>
    </div>

    <div class="f customer reverse">
     <a href="{{url.base}}/target/agencies" class="customer-img">
      <img src="{{url.static}}images/miniature/agencies.png" alt='{%trans "Agencies"%}'>
     </a>
     <div class="customer-content">
      <h3><a href="{{url.base}}/target/agencies">{%trans "Advertising Agencies"%}</a></h3>
      <p>{%trans "Furthermore, excite your customers by use of Sarshomar's new advertising strategies along with goal-oriented advertising."%}</p>
     </div>
    </div>

    <div class="f customer">
     <a href="{{url.base}}/target/developers-and-webmasters" class="customer-img">
      <img src="{{url.static}}images/miniature/developers.png" alt='{%trans "Developers and Webmasters"%}'>
     </a>
     <div class="customer-content">
      <h3><a href="{{url.base}}/target/developers-and-webmasters">{%trans "Developers and Webmasters"%}</a></h3>
      <p>{%trans "Finally, using API, you can have the benefit of Sarshomar's qualities and forget your concerns about polling."%}</p>
     </div>
    </div>
   </div>

   <div class="f triplet" id="features-box">
    <div class="c4 s12 triplet-item">
     <a href="{{url.base}}/benefits/easy-access">
      <img src="{{url.static}}images/miniature/easy-access.png" alt='{%trans "Easy Access"%}'>
     </a>
     <h4><a href="{{url.base}}/benefits/easy-access">{%trans "Easy Access"%}</a></h4>
     <p>{%trans "You can enjoy a variety of Sarshomar's services only through having access to the internet‌ and without having to need to install any particular software"%}</p>
    </div>

    <div class="c4 s12 triplet-item">
     <a href="{{url.base}}/benefits/valid-population">
      <img src="{{url.static}}images/miniature/valid-population.png" alt='{%trans "Valid Statistical Population"%}'>
     </a>
     <h4><a href="{{url.base}}/benefits/valid-population">{%trans "Valid Statistical Population"%}</a></h4>
     <p>{%trans "Ask Sarshomar's valid population your questions and analyze the results separately, along with the graphs"%}</p>
    </div>

    <div class="c4 s12 triplet-item">
     <a href="{{url.base}}/benefits/knowledge-base">
      <img src="{{url.static}}images/miniature/knowledge-base.png" alt='{%trans "Sarshomar Knowledge"%}'>
     </a>
     <h4><a href="{{url.base}}/benefits/knowledge-base">{%trans "Sarshomar Knowledge"%}</a></h4>
     <p>{%trans "Enjoy Sarshomar's comprehensive and valuable knowledge as a valid source in line with your broad objectives"%}</p>
    </div>
   </div>

  </div>
{%endblock%}



{%block homeTopSarshomar%}
     <div class="c4 s12 m12" id="intro-box">
      <h2>{{site.slogan}}</h2>
      <p>{%trans "Focus on your question. Do not be too concerned about how to ask or analyze."%} {%trans "Equipped with an integrated platform, Sarshomar has made it possible for you to ask your questions via any means."%}</p>
{%if not login%}
      <a href="{{url.base}}/enter" class="special-btn" data-direct>{%trans "Enter to Sarshomar"%}</a>
{%endif%}
     </div>
{%endblock%}



{%block homeTopRandomChart%}
       <div class='column chart' data-place='div' data-vals='{{result.data | raw  }}' data-color2='auto' data-format='homepageTop' data-trans='{%trans "vote"%}'></div>
{%endblock%}



{%block homeTopGender%}
      {%set ageTooltip%}{formatter: '::xformater'}{%endset%}
      <div class="chart" id="age-chart" data-format="homepageGender" data-vals='{{male_female_chart.data | raw}}' data-title='{%trans "Sarshomar Society Distributtion"%}'></div>
{%endblock%}




{%block homeTop1%}
   <div class="box">
    <div class="f">
{%if site.currentlang == "en"%}
     {{block('homeTopSarshomar')}}
     <div class="c7 s12 m12{%if site.currentlang=='fa'%} wide{%endif%}" id='random-chart'>
      <h3 class="unselectable"><a href='{{result.url}}'>{{result.title|trim('\"')}}</a></h3>
      {{block('homeTopRandomChart')}}
     </div>
{%else%}
     {{block('homeTopSarshomar')}}
     <div class="c2 m0 s0"></div>
     <div class="c6 m12 s12">{{block('homeTopGender')}}</div>
{%endif%}
    </div>
   </div>
{%endblock%}




{%block homeTop2%}
{%if site.currentlang == "en"%}
   <div class="map-container world">
    <h2 class="special-heading bigger">{%trans "Sarshomar Society Distributtion"%}</h2>
    <div class="map" id="world-map"></div>
   </div>
{%else%}
   <div class="map-container">
    <h2 class="special-heading bigger">
     <span>پرونده‌ی ویژه‌ی انتخابات ></span> <a href='{{result.url}}'>{{result.title|trim('\"')}}</a>
    </h2>
    {{block('homeTopRandomChart')}}

    <div class="f opt-media-box align-center">
      <div class="c"><img src="https://dl.sarshomar.com/files/1/885-5ea4eade6fffaa56d601292fa86c1073.jpg" alt="سید مصطفی میرسلیم"></div>
      <div class="c"><img src="https://dl.sarshomar.com/files/1/886-95b422a6f52f57efd2090ca0ceffca73.jpg" alt="حسن روحانی"></div>
      <div class="c"><img src="https://dl.sarshomar.com/files/1/887-ab2ef2df06db09013a747fa953d15632.jpg" alt="سید ابراهیم رئیسی"></div>
      <div class="c"><img src="https://dl.sarshomar.com/files/1/882-340022785755ffdc27678f5c345a871a.jpg" alt="سید مصطفی هاشمی‌طبا"></div>
      <div class="c"><img src="https://dl.sarshomar.com/files/1/889-dd961c5df54ca22a64382ff8709c8cb2.jpg" alt="هیچکدام،رای باطل"></div>
    </div>

   </div>
{%endif%}
{%endblock%}




{%block homeElectionTimeline%}
 {%if site.currentlang == 'en'%}
  <div class="timeline-box unselectable">
    <div class="timeline flex justify-around s-column">
      <a href="election/iran/president/1980">
        <div class="image round low">
          <img src="https://dl.sarshomar.com/files/election/iran-president-1358-sayyed_abolhassan_banisadr-winner.jpg" alt="">
        </div>
        <div class="info flex f-column s-row justify-center">
          <h3>Iranian presidential election, 1980</h3>
          <h4>Sayyed Abolhassan</h4>
          <h4>Banisadr</h4>
          <h4>1980</h4>
        </div>
      </a>
      <a href="">
        <div class="image round low">
          <img src="https://dl.sarshomar.com/files/election/iran-president-1360-mohammad_ali_rajai-winner.jpg" alt="">
        </div>
        <div class="info flex f-column s-row justify-center">
          <h3>Iranian presidential election, 1981</h3>
          <h4>Mohammad Ali</h4>
          <h4>Rajai</h4>
          <h4>1981</h4>
        </div>
      </a>
      <a href="election/iran/president/1981">
        <div class="image round low">
          <img src="https://dl.sarshomar.com/files/election/iran-president-1360-seyyed_ali_hosseini_khamene(khamenei)-winner.jpg" alt="">
        </div>
        <div class="info flex f-column s-row justify-center">
          <h3>Iranian presidential election, 1981</h3>
          <h4>Seyyed Ali</h4>
          <h4>Khamenei</h4>
          <h4>1981</h4>
        </div>
      </a>
      <a href="election/iran/president/1985">
        <div class="image round low">
          <img src="https://dl.sarshomar.com/files/election/iran-president-1364-seyyed_ali_hosseini_khamene(khamenei)-winner.jpg" alt="">
        </div>
        <div class="info flex f-column s-row justify-center">
          <h3>Iranian presidential election, 1985</h3>
          <h4>Seyyed Ali</h4>
          <h4>Khamenei</h4>
          <h4>1985</h4>
        </div>
      </a>
      <a href="election/iran/president/1989">
        <div class="image round low">
          <img src="https://dl.sarshomar.com/files/election/iran-president-1368-akbar_hashemi_bahramani(hashemi_rafsanjani)-winner.jpg" alt="">
        </div>
        <div class="info flex f-column s-row justify-center">
          <h3>Iranian presidential election, 1989</h3>
          <h4>Akbar</h4>
          <h4>Rafsanjani</h4>
          <h4>1989</h4>
        </div>
      </a>
      <a href="election/iran/president/1993">
        <div class="image round low">
          <img src="https://dl.sarshomar.com/files/election/iran-president-1372-akbar_hashemi_bahramani(hashemi_rafsanjani)-winner.jpg" alt="">
        </div>
        <div class="info flex f-column s-row justify-center">
          <h3>Iranian presidential election, 1993</h3>
          <h4>Akbar</h4>
          <h4>Rafsanjani</h4>
          <h4>1993</h4>
        </div>
      </a>
      <a href="election/iran/president/1997">
        <div class="image round low">
          <img src="https://dl.sarshomar.com/files/election/iran-president-1376-seyyed_mohammad_khatami-winner.jpg" alt="">
        </div>
        <div class="info flex f-column s-row justify-center">
          <h3>Iranian presidential election, 1997</h3>
          <h4>Seyyed Mohammad</h4>
          <h4>Khatami</h4>
          <h4>1997</h4>
        </div>
      </a>
      <a href="election/iran/president/2001">
        <div class="image round low">
          <img src="https://dl.sarshomar.com/files/election/iran-president-1380-seyyed_mohammad_khatami-winner.jpg" alt="">
        </div>
        <div class="info flex f-column s-row justify-center">
          <h3>Iranian presidential election, 2001</h3>
          <h4>Seyyed Mohammad</h4>
          <h4>Khatami</h4>
          <h4>2001</h4>
        </div>
      </a>
      <a href="election/iran/president/2005">
        <div class="image round low">
          <img src="https://dl.sarshomar.com/files/election/iran-president-1384-mahmoud_ahmadinejad-winner.jpg" alt="">
        </div>
        <div class="info flex f-column s-row justify-center">
          <h3>Iranian presidential election, 2005</h3>
          <h4>Mahmoud</h4>
          <h4>Ahmadinejad</h4>
          <h4>2005</h4>
        </div>
      </a>
      <a href="election/iran/president/2009">
        <div class="image round low">
          <img src="https://dl.sarshomar.com/files/election/iran-president-1388-mahmoud_ahmadinejad-winner.jpg" alt="">
        </div>
        <div class="info flex f-column s-row justify-center">
          <h3>Iranian presidential election, 2009</h3>
          <h4>Mahmoud</h4>
          <h4>Ahmadinejad</h4>
          <h4>2009</h4>
        </div>
      </a>
      <a href="election/iran/president/2013">
        <div class="image round low">
          <img src="https://dl.sarshomar.com/files/election/iran-president-1392-hassan_rouhani-winner.jpg" alt="">
        </div>
        <div class="info flex f-column s-row justify-center">
          <h3>Iranian presidential election, 2013</h3>
          <h4>Hassan</h4>
          <h4>Rouhani</h4>
          <h4>2013</h4>
        </div>
      </a>
      <a href="election/iran/president/2017">
        <div class="image round low">
          <img src="https://dl.sarshomar.com/files/election/iran-president-1396-hassan_rouhani-winner.jpg" alt="">
        </div>
        <div class="info flex f-column s-row justify-center">
          <h3>Iranian presidential election, 2017</h3>
          <h4>Hassan</h4>
          <h4>Rouhani</h4>
          <h4>2017</h4>
        </div>
      </a>
    </div>
  </div>
 {%else%}
  <div class="timeline-box unselectable">
   <div class="timeline flex justify-around s-column">
    <a href="election/iran/president/1358">
     <div class="image round low">
      <img src="https://dl.sarshomar.com/files/election/iran-president-1358-sayyed_abolhassan_banisadr-winner.jpg" alt="">
     </div>
     <div class="info flex f-column s-row justify-center">
      <h3>اولین دوره&zwnj;ی انتخابات ریاست جمهوری اسلامی ایران</h3>
      <h4>سید ابوالحسن</h4>
      <h4>بنی&zwnj;صدر</h4>
      <h4>۱۳۵۸</h4>
     </div>
    </a>
    <a href="election/iran/president/1360">
     <div class="image round low">
      <img src="https://dl.sarshomar.com/files/election/iran-president-1360-mohammad_ali_rajai-winner.jpg" alt="">
     </div>
     <div class="info flex f-column s-row justify-center">
      <h3>دومین دوره&zwnj;ی انتخابات ریاست جمهوری اسلامی ایران</h3>
      <h4>محمدعلی</h4>
      <h4>رجایی</h4>
      <h4>۱۳۶۰</h4>
     </div>
    </a>
    <a href="election/iran/president/1360/2">
     <div class="image round low">
      <img src="https://dl.sarshomar.com/files/election/iran-president-1360-seyyed_ali_hosseini_khamene(khamenei)-winner.jpg" alt="">
     </div>
     <div class="info flex f-column s-row justify-center">
      <h3>سومین دوره&zwnj;ی انتخابات ریاست جمهوری اسلامی ایران</h3>
      <h4>سید علی</h4>
      <h4>خامنه&zwnj;ای</h4>
      <h4>۱۳۶۰</h4>
     </div>
    </a>
    <a href="election/iran/president/1364">
     <div class="image round low">
      <img src="https://dl.sarshomar.com/files/election/iran-president-1364-seyyed_ali_hosseini_khamene(khamenei)-winner.jpg" alt="">
     </div>
     <div class="info flex f-column s-row justify-center">
      <h3>چهارمین دوره&zwnj;ی انتخابات ریاست جمهوری اسلامی ایران</h3>
      <h4>سید علی</h4>
      <h4>خامنه&zwnj;ای</h4>
      <h4>۱۳۶۴</h4>
     </div>
    </a>
    <a href="election/iran/president/1368">
     <div class="image round low">
      <img src="https://dl.sarshomar.com/files/election/iran-president-1368-akbar_hashemi_bahramani(hashemi_rafsanjani)-winner.jpg" alt="">
     </div>
     <div class="info flex f-column s-row justify-center">
      <h3>پنجمین دوره&zwnj;ی انتخابات ریاست جمهوری اسلامی ایران</h3>
      <h4>اکبر</h4>
      <h4>رفسنجانی</h4>
      <h4>۱۳۶۸</h4>
     </div>
    </a>
    <a href="election/iran/president/1372">
     <div class="image round low">
      <img src="https://dl.sarshomar.com/files/election/iran-president-1372-akbar_hashemi_bahramani(hashemi_rafsanjani)-winner.jpg" alt="">
     </div>
     <div class="info flex f-column s-row justify-center">
      <h3>ششمین دوره&zwnj;ی انتخابات ریاست جمهوری اسلامی ایران</h3>
      <h4>اکبر</h4>
      <h4>رفسنجانی</h4>
      <h4>۱۳۷۲</h4>
     </div>
    </a>
    <a href="election/iran/president/1376">
     <div class="image round low">
      <img src="https://dl.sarshomar.com/files/election/iran-president-1376-seyyed_mohammad_khatami-winner.jpg" alt="">
     </div>
     <div class="info flex f-column s-row justify-center">
      <h3>هفتمین دوره&zwnj;ی انتخابات ریاست جمهوری اسلامی ایران</h3>
      <h4>سید محمد</h4>
      <h4>خاتمی</h4>
      <h4>۱۳۷۶</h4>
     </div>
    </a>
    <a href="election/iran/president/1380">
     <div class="image round low">
      <img src="https://dl.sarshomar.com/files/election/iran-president-1380-seyyed_mohammad_khatami-winner.jpg" alt="">
     </div>
     <div class="info flex f-column s-row justify-center">
      <h3>هشتمین دوره&zwnj;ی انتخابات ریاست جمهوری اسلامی ایران</h3>
      <h4>سید محمد</h4>
      <h4>خاتمی</h4>
      <h4>۱۳۸۰</h4>
     </div>
    </a>
    <a href="election/iran/president/1384/2">
     <div class="image round low">
      <img src="https://dl.sarshomar.com/files/election/iran-president-1384-mahmoud_ahmadinejad-winner.jpg" alt="">
     </div>
     <div class="info flex f-column s-row justify-center">
      <h3>نهمین دوره&zwnj;ی انتخابات ریاست جمهوری اسلامی ایران - دور دوم</h3>
      <h4>محمود</h4>
      <h4>احمدی&zwnj;نژاد</h4>
      <h4>۱۳۸۴</h4>
     </div>
    </a>
    <a href="election/iran/president/1388">
     <div class="image round low">
      <img src="https://dl.sarshomar.com/files/election/iran-president-1388-mahmoud_ahmadinejad-winner.jpg" alt="">
     </div>
     <div class="info flex f-column s-row justify-center">
      <h3>دهمین دوره&zwnj;ی انتخابات ریاست جمهوری اسلامی ایران</h3>
      <h4>محمود</h4>
      <h4>احمدی&zwnj;نژاد</h4>
      <h4>۱۳۸۸</h4>
     </div>
    </a>
    <a href="election/iran/president/1392">
     <div class="image round low">
      <img src="https://dl.sarshomar.com/files/election/iran-president-1392-hassan_rouhani-winner.jpg" alt="">
     </div>
     <div class="info flex f-column s-row justify-center">
      <h3>یازدهمین دوره&zwnj;ی انتخابات ریاست جمهوری اسلامی ایران</h3>
      <h4>حسن</h4>
      <h4>روحانی</h4>
      <h4>۱۳۹۲</h4>
     </div>
    </a>
    <a href="election/iran/president/1396">
     <div class="image round low">
      <img src="https://dl.sarshomar.com/files/election/iran-president-1396-hassan_rouhani-winner.jpg" alt="حسن روحانی">
     </div>
     <div class="info flex f-column s-row justify-center">
      <h3>دوازدهمین دوره&zwnj;ی انتخابات ریاست جمهوری اسلامی ایران</h3>
      <h4>حسن</h4>
      <h4>روحانی</h4>
      <h4>۱۳۹۶</h4>
     </div>
    </a>
   </div>
  </div>
 {%endif%}
{%endblock%}
