{%extends template.poll.layout%}

{%block content%}
 <div class="main pad">
  {{block('poll_panel')}}

  <div class="in small poll-container{{myPollDirecton}}" data-type="{{poll_type}}">
   {{block('guest_alert')}}
   {%if poll.options.multi %}
    {% set min = poll.options.multi.min %}
    {% set max = poll.options.multi.max %}
   {%endif%}
   {{block('poll_admin')}}
   {{block('poll_title')}}
   {{block('poll_toolbox')}}
   {{block('poll_desc')}}
   {{block('poll_file')}}
   {{block('poll_summary')}}
   {{block('poll_related')}}
   {{block('poll_hint')}}
   {{block('poll_options')}}
   {{block('poll_skip')}}
   {{block('poll_actions')}}
  </div>
  <div class="in large{%if login%}{%else%} guest{%endif%}" id="result">
   {{block('poll_chart')}}
   {{block('poll_table')}}
  </div>
  <div class="box">
   <h2 class="special-heading">{%trans "Description"%}</h2>
   <div class="f" id="poll-extra">
    <div class="c4 s12" id="poll-similar">{{block('poll_similar')}}</div>
    <div class="c4 s12" id="poll-info">{{block('poll_info')}}</div>
    <div class="c4 s12" id="poll-filters">{{block('poll_filters')}}</div>
   </div>

   {%if false%}
    <div class="row" id="comments-box">
     <h2 class="special-heading">{%trans "Comments"%}</h2>
     {{block('poll_comments')}}
    </div>
   {%endif%}
  </div>
 </div>
{%endblock%}