{%extends display.main%}

{%set pageTitle%}{%trans "Easy access"%} | {%trans "Sarshomar"%}{%endset%}

{%set pageDesc%}
{%trans "Easy access to Sarshomar"%}
{%endset%}


{%block content%}
  <div class="main pad text-based">
   <div class="box">
    <h2 class="special-heading">ویژگی های سرشمار</h2>
    <div class="in">

      <h2>دسترسی آسان</h2>
      <div class="content">
       <p>سرشمار به همت نیروهای متخصص خود و با استفاده از تکنولوژی‌های روز، سرویسی منحصربه‌فرد تولید کرده تا تمام افراد جامعه بتوانند از هر موقعیت جغرافیایی و در هر زمانی، از خدمات آن استفاده کرده و بهره‌مند شوند.</p>
       <p>وب‌سایت سرشمار با قابلیت‌های منحصربه‌فردی که دارد در تمامی دستگاه‌های دیجیتالی متصل به اینترنت و مرورگرهای جدید در دسترس بوده و خدمات خود را به کاربران ارائه می‌دهد.</p>
       <p>سرشمار با توجه به فراگیری و استفاده اکثریت کاربران از شبکه‌های اجتماعی، سرویس خود را در آن شبکه‌ها نیز ارائه می‌دهد و در مرحله اول ربات تلگرامی خود را با نام <span class="ltr-text">@sarshomar</span> راه‌اندازی کرده و در اختیار کاربران قرار داده است. کاربران می‌توانند به‌راحتی و علاوه بر مراجعه به وب‌سایت از خدمات گسترده‌ای از جمله ثبت نظرسنجی، پاسخ به نظرسنجی‌های سرشمار، شرکت در نظرسنجی‌های کاربران، همگام‌سازی اطلاعات با وب‌سایت و ... که در ربات تلگرام درنظر گرفته شده استفاده نمایند.</p>
       <p>سرشمار در حال بروزرسانی بوده و در جهت اضافه‌نمودن ویژگی‌های جدید در نظر دارد اپلیکیشن موبایلی خود تحت سیستم عامل‌های Android و iOS را طراحی کرده و در اختیار کاربران قرار دهد.</p>
      </div>

      <div class="flex justify-between s-column s-align-center features-nav">
       <a href="{{url.base}}/benefits/without-disturbance">{%trans "Without Disturbance"%}</a>
       <a href="{{url.base}}/benefits/valid-population">{%trans "Valid Statistical Population"%}</a>
      </div>

    </div>
   </div>
  </div>
{%endblock%}
