{%extends display.main%}

{%set pageTitle%}{%trans "Try Before Registering"%} | {%trans "Sarshomar"%}{%endset%}

{%set pageDesc%}
{%trans "Unlike all other websites and services you have ever seen, you do not have to register in Sarshomar."%}
{%endset%}


{%block content%}
  <div class="main pad lg">
   <div class="box">
    <h2 class="sh large">{%trans "Try Before Registering"%}</h2>
    <div class="in">
     <div class="l1">
      <p>برای استفاده از سرشمار نیاز به ثبت‌نام ندارید!</p>
      <p>به عنوان مهمان وارد شوید و از تمامی امکانات استفاده کنید؛ سوال بسازید، پاسخ دهید و در نظرسنجی‌ها شرکت کنید. پس از بررسی، اگر سرشمار را برترین یافتید، ثبت‌نام کنید.</p>
      <p class="em">{%trans "Unlike all other websites and services you have ever seen, you do not have to register in Sarshomar."%}</p>
      <p>تمام فعالیت‌های شما در وضعیت مهمان ذخیره می‌شوند ولی تاثیری روی نتایج ندارند، پس از ثبت‌نام و تایید حساب‌کاربری، سرشمار به پاس تثبیت حضورتان، هدیه‌ای را برای این اقدام ارزشمند در حساب‌کاربری شما لحاظ خواهد کرد.</p>
       <img src="{{url.static}}/images/miniature/guest.png" alt='{%trans "Try Before Registering"%}' class="guest-img">

      <p>دلیل عدم انتشار سوالات ثبت شده و عدم اثرگذاری نتایج در حالت مهمان، جلوگیری از ایجاد نتایج غیرواقعی و انتشار سوالات نامناسب است.</p>

     {%if false%}
      {%if not login%}
      <div class="guest-box">
       <input type="checkbox" id="guest-button">
       <label class="try" for="guest-button">{%trans "I want to experience Sarshomar!"%}</label>
      </div>

      <div class="captcha-box" data-response='guest-button' data-response-hide>
       <h3>{%trans "Please enter shown numbers here"%}</h3>
       <div class="captcha-container">
        <form method="post" action="{{url.kingdom}}/@" class="form-container">
         <input type="number" name="captcha" min="0" max="9999">
         <input type="submit" class="try submit" value='{%trans "submit"%}'>
        </form>
        <div class="captcha">{{captcha}}</div>
       </div>
      </div>
      {%endif%}

      {%if login%}
      <div class="flex justify-between s-column s-align-center features-nav">
       <a href="{{url.kingdom}}/benefits/question-charts">{%trans "Question Charts"%}</a>
       <a href="{{url.kingdom}}/benefits/multimedia-questions">{%trans "Multimedia Questions"%}</a>
      </div>
      {%endif%}
     {%endif%}
     </div>
     {%if false%}
     <div class="content">
      <p>{%trans "Using the option Try Before Registering, you can be our guest user and investigate Sarshomar without being required to register. In case, you find us the best, you can proceed to register."%}</p>

      <p>برای استفاده از سرشمار نیاز به ثبت‌نام ندارید!</p>

      <p>به عنوان مهمان وارد شوید و از تمامی امکانات استفاده کنید؛ سوال بسازید، پاسخ دهید و در نظرسنجی‌ها شرکت کنید. پس از بررسی، اگر سرشمار را برترین یافتید، ثبت‌نام کنید.</p>

      <p class="em">{%trans "Unlike all other websites and services you have ever seen, you do not have to register in Sarshomar."%}</p>

      <p>تمام فعالیت‌های شما در وضعیت مهمان ذخیره می‌شوند ولی تاثیری روی نتایج ندارند، پس از ثبت‌نام و تایید حساب‌کاربری، سرشمار به پاس تثبیت حضورتان، هدیه‌ای را برای این اقدام ارزشمند در حساب‌کاربری شما لحاظ خواهد کرد.</p>

      <p>دلیل عدم انتشار سوالات ثبت شده و عدم اثرگذاری نتایج در حالت مهمان، جلوگیری از ایجاد نتایج غیرواقعی و انتشار سوالات نامناسب است.</p>

      <p>{%trans "When you are a guest user, you have all Sarshomar's qualities at your service to investigate."%} {%trans "You can save your question or questionnaire as well as answer Sarshomar's questions."%} {%trans "Your activities and participation, when you are a guest, will be saved and kept safe by us for a while; however, to share the question or to make the results received from you effective in opinion polls, you are required to register."%} {%trans "The reason behind not sharing the questions and not putting into effect the received results from users while they are guest users is to prevent creating unreal results and sharing improper questions."%}</p>

      <img src="{{url.static}}/images/miniature/guest.png" alt='{%trans "Try Before Registering"%}' class="guest-img">

      <p>{%trans "After registration and user account confirmation, your will still have access to your saved participation. Furthermore, to appreciate your presence confirmation, Sarshomar will award you a bonus in your user account for taking that valuable measure."%} {%trans "Upon completing your registration, you will both receive a registration gift and, based on the activities done, Sarshomar's other allocated gifts and bonuses."%}</p>

     </div>
     {%endif%}

    </div>
   </div>
  </div>
{%endblock%}
