{%extends display.main%}

{%set pageTitle2%}{%trans "Sarshomar's features"%}{%endset%}

{%set pageDesc%}
{%trans "Features of Sarshomar"%}
{%endset%}


{%block content%}
  <div class="main">
   <div class="in large box pad">
    <div class="f feature-items">
     <a href="{{url.kingdom}}/benefits/guest" class="c4 s12 feature-item">
      <p class="title">{%trans "Try Before Registering"%}</p>
      <p class="description">{%trans "Try Before Registering"%}</p>
     </a>

     <a href="{{url.kingdom}}/benefits/multimedia-questions" class="c4 s12 feature-item">
      <p class="title">{%trans "Multimedia Questions"%}</p>
      <p class="description">{%trans "Multimedia Questions"%}</p>
     </a>

     <a href="{{url.kingdom}}/benefits/without-disturbance" class="c4 s12 feature-item">
      <p class="title">{%trans "Without Disturbance"%}</p>
      <p class="description">{%trans "Without Disturbance"%}</p>
     </a>



     <a href="{{url.kingdom}}/benefits/easy-access" class="c4 s12 feature-item">
      <p class="title">{%trans "Easy Access"%}</p>
      <p class="description">{%trans "You can enjoy a variety of Sarshomar's services only through having access to the internet‌ and without having to need to install any particular software"%}</p>
     </a>

     <a href="{{url.kingdom}}/benefits/valid-population" class="c4 s12 feature-item">
      <p class="title">{%trans "Valid Statistical Population"%}</p>
      <p class="description">{%trans "Ask Sarshomar's valid population your questions and analyze the results separately, along with the graphs"%}</p>
     </a>

     <a href="{{url.kingdom}}/benefits/knowledge-base" class="c4 s12 feature-item">
      <p class="title">{%trans "Knowledge Base"%}</p>
      <p class="description">{%trans "Enjoy Sarshomar's comprehensive and valuable knowledge as a valid source in line with your broad objectives"%}</p>
     </a>



     <a href="{{url.kingdom}}/benefits/results-output" class="c4 s12 feature-item">
      <p class="title">{%trans "Results Output"%}</p>
      <p class="description">{%trans "Results Output"%}</p>
     </a>

     <a href="{{url.kingdom}}/benefits/graphic-results" class="c4 s12 feature-item">
      <p class="title">{%trans "Observing Graphic Results according to the Statistical Population"%}</p>
      <p class="description">{%trans "Observing Graphic Results according to the Statistical Population"%}</p>
     </a>

     <a href="{{url.kingdom}}/benefits/essay-type-questions" class="c4 s12 feature-item">
      <p class="title">{%trans "Receiving Answers to Essay-type Questions"%}</p>
      <p class="description">{%trans "Receiving Answers to Essay-type Questions"%}</p>
     </a>

     <a href="{{url.kingdom}}/benefits/language-localization" class="c4 s12 feature-item">
      <p class="title">{%trans "Language Localization"%}</p>
      <p class="description">{%trans "Language Localization"%}</p>
     </a>

     <a href="{{url.kingdom}}/benefits/social-networks" class="c4 s12 feature-item">
      <p class="title">{%trans "Service Provision via Social Networks"%}</p>
      <p class="description">{%trans "Service Provision via Social Networks"%}</p>
     </a>

     <a href="{{url.kingdom}}/benefits/target-statistical-population" class="c4 s12 feature-item">
      <p class="title">{%trans "Determining the Target Statistical Population"%}</p>
      <p class="description">{%trans "Determining the Target Statistical Population"%}</p>
     </a>

     <a href="{{url.kingdom}}/benefits/question-charts" class="c4 s12 feature-item">
      <p class="title">{%trans "Question Charts"%}</p>
      <p class="description">{%trans "Question Charts"%}</p>
     </a>

{%if false%}
     <a href="{{url.kingdom}}/benefits/results-personalization" class="c4 s12 feature-item">
      <p class="title">{%trans "Results Personalization"%}</p>
      <p class="description">{%trans "Results Personalization"%}</p>
     </a>
{%endif%}

    </div>
   </div>
  </div>
{%endblock%}
