{%extends display.main%}

{%set pageTitle%}{%trans "Knowledge base"%} | {%trans "Sarshomar"%}{%endset%}

{%set pageDesc%}
{%trans "Knowledge base of Sarshomar"%}
{%endset%}


{%block content%}
  <div class="main pad text-based">
   <div class="box">
    <h2 class="special-heading">ویژگی های سرشمار</h2>
    <div class="in">

     <h2>پایگاه دانش</h2>
     <div class="content">
      <p>سرشمار با استفاده از جامعه آماری منحصربه‌فرد و معتبر خود که همان کاربران می‌باشند دانش عظیمی در اختیار دارد. این دانش به برکت همکاری و حضور کاربران در سرویس صورت گرفته است.</p>
      <p>تیم متخصص سرشمار، تمامی پاسخ‌های کاربران را مورد آنالیز قرار می‌دهد و برای هر سوال و موضوع، مقالات مختلف تولید می‌کند که این مقالات، نظرسنجی‌ها و آنالیزهای انجام شده به صورت درختواره در پایگاه دانش سرشمار جمع‌آوری شده و به صورت رایگان در اختیار عموم کاربران قرار می‌گیرد.</p>
      <p>به کمک درختواره موجود در پایگاه دانش شما می‌توانید، سوالی را به شرط پاسخ سوالی دیگر بپرسید. بدین‌منظور  گزینه‌های موردنظر برای ایجاد اتصال را در هنگام تعریف سوال مشخص می‌کنید. به‌عنوان مثال، سوال مربوط به <b>گیاهان دارویی</b> را فقط از کاربرانی می‌پرسید که در سوال <b>استفاده از طب‌سنتی ایرانی</b> گزینه مثبت را انتخاب کرده‌اند. یا به صورت معکوس سوال مربوط به چرایی عدم استفاده از طب‌سنتی را از کسانی می‌پرسید که به عدم استفاده از طب سنتی جواب داده‌اند.</p>
      <p>بدین ترتیب با کمک ویژگی درختواره و بهره‌بردن از دانش عظیم سرشمار، می‌توانید سوال یا پیام خود را به صورت هدفمند هدایت کرده و به دست مخاطبان موردنظر برسانید.</p>
     </div>

     <div class="flex justify-between s-column s-align-center features-nav">
      <a href="{{url.base}}/benefits/valid-population">{%trans "Valid Statistical Population"%}</a>
      <a href="{{url.base}}/benefits/results-output">{%trans "Results Output"%}</a>
     </div>

    </div>
   </div>
  </div>
{%endblock%}
