{%extends display.main%}

{%set pageTitle%}{%trans "Multimedia Questions"%} | {%trans "Sarshomar"%}{%endset%}

{%set pageDesc%}
{%trans "One of Sarshomar's most attractive features is employing multimedia content within questions."%}
{%endset%}


{%block content%}
  <div class="main pad text-based">
   <div class="box">
    <h2 class="special-heading">{%trans "Multimedia Questions"%}</h2>
    <div class="in">

     <div class="content">
      <p>{%trans "One of Sarshomar's most attractive features is employing multimedia content within questions."%} {%trans "For instance, you can play a 60-second short movie on the environment and, then, ask the addressees their descriptive opinion on it."%}</p>
     </div>

     <div class="flex justify-between s-column s-align-center features-nav">
      <a href="{{url.base}}/benefits/guest">{%trans "Try Before Registering"%}</a>
      <a href="{{url.base}}/benefits/without-disturbance">{%trans "Without Disturbance"%}</a>
     </div>

    </div>
   </div>
  </div>
{%endblock%}
