{%extends display.main%}

{%set pageTitle%}{%trans "Question Charts"%} | {%trans "Sarshomar"%}{%endset%}

{%set pageDesc%}
{%trans "A question chart links a question to another."%} {%trans "To do so, you can specify the desired options to create the link when defining the question."%}
{%endset%}


{%block content%}
  <div class="main pad text-based">
   <div class="box">
    <h2 class="special-heading">{%trans "Question Charts"%}</h2>
    <div class="in">

     <div class="content">
      <p>{%trans "A question chart links a question to another."%} {%trans "To do so, you can specify the desired options to create the link when defining the question."%}</p>

      <p>{%trans "For example, as for the questions related to Bloodletting, you can only ask those users who have chosen the positive option for using Iranian traditional medicine."%} {%trans "In contrast, if your question regards why not to use traditional medicine, you can ask those who have chosen the corresponding negative option."%}</p>

      <p>{%trans "Accordingly, by means of the feature of question charts and use of Sarshomar's comprehensive knowledge, you purposefully direct your question or message towards your desired addressees."%}</p>
     </div>

     <div class="flex justify-between s-column s-align-center features-nav">
      <a href="{{url.base}}/benefits/target-statistical-population">{%trans "Determining the Target Statistical Population"%}</a>
      <a href="{{url.base}}/benefits/guest">{%trans "Try Before Registering"%}</a>
     </div>

    </div>
   </div>
  </div>
{%endblock%}
