{%extends display.main%}

{%set pageTitle%}{%trans "Service Provision via Social Networks"%} | {%trans "Sarshomar"%}{%endset%}

{%set pageDesc%}
{%trans "One of the best and paramount characteristics of Sarshomar is to provide services via social networks."%}
{%endset%}


{%block content%}
  <div class="main pad text-based">
   <div class="box">
    <h2 class="special-heading">{%trans "Service Provision via Social Networks"%}</h2>
    <div class="in">

     <div class="content">
      <p>{%trans "One of the best and paramount characteristics of Sarshomar is to provide services via social networks."%} {%trans "Sarshomar's services, regarding the presentable features in any social network, are accessible integratively."%}</p>

      <p>{%trans "One of the objectives of Sarshomar's service provision via social networks is easy access. Besides, you do not have to install any software on your device, which readily makes Sarshomar's services accessible to you."%}</p>
     </div>

     <div class="flex justify-between s-column s-align-center features-nav">
      <a href="{{url.base}}/benefits/language-localization">{%trans "Language Localization"%}</a>
      <a href="{{url.base}}/benefits/target-statistical-population">{%trans "Determining the Target Statistical Population"%}</a>
     </div>

    </div>
   </div>
  </div>
{%endblock%}
