{%extends display.main%}

{%set pageTitle%}{%trans "Determining the Target Statistical Population"%} | {%trans "Sarshomar"%}{%endset%}

{%set pageDesc%}
{%trans "Another outstanding feature presented by Sarshomar is determining the target statistical population."%}
{%endset%}


{%block content%}
  <div class="main pad text-based">
   <div class="box">
    <h2 class="special-heading">{%trans "Determining the Target Statistical Population"%}</h2>
    <div class="in">

     <div class="content">
      <p>{%trans "Another outstanding feature presented by Sarshomar is determining the target statistical population."%} {%trans "To do so, you can present your question or advertisement based on your goal and exact needs, and receive the feedbacks from that determined target without any concerns and as soon as possible."%}</p>

      <p>{%trans "For instance, you can target your question at below 25 married men who hold bachelor or master degree and are employed."%} {%trans "Just imagine that, in Sarshomar, you can purposefully send your advertisements only to single women with the age range of 18 to 30."%}</p>
     </div>

     <div class="flex justify-between s-column s-align-center features-nav">
      <a href="{{url.kingdom}}/benefits/social-networks">{%trans "Service Provision via Social Networks"%}</a>
      <a href="{{url.kingdom}}/benefits/question-charts">{%trans "Question Charts"%}</a>
     </div>

    </div>
   </div>
  </div>
{%endblock%}
