{%extends display.main%}

{%set pageTitle%}{%trans "Valid population"%} | {%trans "Sarshomar"%}{%endset%}

{%set pageDesc%}
{%trans "Sarshomar's valid population"%}
{%endset%}

{%block content%}
  <div class="main pad text-based">
   <div class="box">
    <h2 class="special-heading">ویژگی های سرشمار</h2>
    <div class="in">

     <h2>جامعه آماری معتبر</h2>
     <div class="content">
      <p>از برجسته‌ترین ویژگی‌های ارائه‌شده در سرشمار، راستگویی و ارائه نتایج دقیق و قابل استناد حاصل از جامعه آماری معتبر است. این جامعه آماری معتبر، تمامی اقشار،‌ اقوام، رده‌ی سنی و موقعیت‌های جغرافیایی، فرهنگی و اجتماعی را شامل می‌شود.</p>
      <p>کاربران سرشمار بنابر اعتماد خود، با در اختیار قراردادن اطلاعاتی از خود، بانک اطلاعاتی بسیار معتبری را برای سرشمار به ارمغان می‌آورند.</p>
      <p>کاربران از سیستم سرشمار استفاده کرده و در صورت رضایت شماره تلفن همراه خود را در سیستم ثبت می‌کنند. همچنین با ارسال کد اعتبار‌سنجی منحصربه‌فرد، اطلاعات خود را تایید می‌کنند. ثبت و تایید کدکاربری کاملا آزادانه و بر اساس اختیار و اراده کاربر انجام می‌شود.</p>
      <p>ارائه اطلاعات در سرشمار کاملا آزادانه است و هیچ اجباری به تکمیل حساب‌کاربری نیست،  اما کاربرانی که پروفایل‌ خود را تکمیل می‌کنند، به پاس این اقدام ارزشمند که باعث تکمیل دانش سرشمار می‌شود، هدایایی برای قدردانی از سرشمار دریافت می‌نمایند.</p>
      <p>لازم به توضیح است که این اطلاعات هر چقدر دقیق‌تر باشد به داشتن جامعه آماری معتبر سرشمار بیشتر کمک می‌کند. از نظر سرشمار همه کاربران معتبر هستند، ولی برای افزایش دقت و اعتبار نتایج، الگوریتم‌های خاصی درنظر گرفته شده که کاربران نامعتبر شناسایی و پاسخ‌های آن‌ها تاثیر داده نشود. لذا برای اطمینان بیشتر، از جامعه آماری و رسیدن به نتایج معتبر سرشمار کاربران را مورد راستی آزمایی قرار می‌دهد.</p>
     </div>

     <div class="flex justify-between s-column s-align-center features-nav">
      <a href="{{url.kingdom}}/benefits/easy-access">{%trans "Easy Access"%}</a>
      <a href="{{url.kingdom}}/benefits/knowledge-base">{%trans "Knowledge Base"%}</a>
     </div>

    </div>
   </div>
  </div>
{%endblock%}
