{%extends display.main%}

{%set pageTitle%}{%trans "Without Disturbance"%} | {%trans "Sarshomar"%}{%endset%}

{%set pageDesc%}
{%trans "Sarshomar is opposed to annoying advertisements, striving to create a desirable feeling in you while you are using this service."%}
{%endset%}


{%block content%}
  <div class="main pad text-based">
   <div class="box">
    <h2 class="special-heading">{%trans "Without Disturbance"%}</h2>
    <div class="in">

     <div class="content">
      <p>{%trans "Sarshomar is opposed to annoying advertisements, striving to create a desirable feeling in you while you are using this service."%} {%trans "Set as default, all the messages in Sarshomar are inactive and you are completely in charge of managing them."%}</p>

      <p>{%trans "As such, Sarshomar never initiates communication, sending messages to you only after receiving your request."%} {%trans "Of course, customizing data reception is possible for you and you can activate it if you are willing to."%}</p>
     </div>

     <div class="flex justify-between s-column s-align-center features-nav">
      <a href="{{url.kingdom}}/benefits/multimedia-questions">{%trans "Multimedia Questions"%}</a>
      <a href="{{url.kingdom}}/benefits/easy-access">{%trans "Easy Access"%}</a>
     </div>

    </div>
   </div>
  </div>
{%endblock%}
