{%extends display.mvc%}

{%block head_css%}
 <link rel="stylesheet"       href="{{url.static}}css/responsive.css">
 <link rel="stylesheet"       href="{{url.static}}css/enter.css">
{%endblock%}


{%block foot_js%}

  <script src="{{url.static}}js/enter.js"></script>
{%endblock%}


{%block body%}
<div class='enter{%if get_mobile%} large{%endif%}'>
 <div class='enter-header'></div>
 <h1 class='logo'>
  <a href='{{url.base}}' tabindex='1' data-direct>
{%if site.currentlang =='fa'%}
   <img src='{{url.static}}images/logo/sarshomar-logo-fa-type-white.svg' alt='{{site.title}} | {{site.desc}}'>
{%else%}
   <img src='{{url.static}}images/logo/sarshomar-logo-type-white.svg' alt='{{site.title}} | {{site.desc}}'>
{%endif%}
   <span>{%trans "Sarshomar"%}</span>
  </a>
 </h1>

 <h2 class='flex justify-center align-center'>
  <span class='notif' data-wait='{%trans "Please be patient..."%}' data-resend='{%trans "Dont recieve code?"%}'>{%if is_guest%}{%trans "You are guest, Enter your mobile"%}{%else%}{%trans "Enter to Sarshomar"%}{%endif%}</span>
  {%if false%}<span class="loader"><span></span><span></span><span></span></span>{%endif%}
 </h2>

 <div class='usernameBox'>
  <div class='f fix field'>
   <label for='username' class='c2 flex justify-center align-center'>
    <span class='hide'>{%trans "Mobile"%}</span>
    <span class='icon-mobile2'></span>
    <span class='icon-range-right' id='go2'></span>
   </label>
   <input id='username' type='tel' class='c10' maxlength="15" placeholder='{%trans "Mobile"%}' data-invalid='{%trans "Please enter valid mobile number"%}' value="{{get_mobile}}" autocomplete="off" data-pl-user='{%trans "Username"%}'>
  </div>
 </div>

 <div class='passcodeBox'>
  <div class='f fix field'>
   <label for='passcode' class='c2 flex justify-center align-center'>
    <span class='hide'>{%trans "Password"%}</span>
    <span class='icon-key2'></span>
   </label>
   <input id='passcode' type='password' class='c10' placeholder='{%trans "Password"%}' autocomplete="off">
  </div>
 </div>

 <div class='pinBox'>
  <div class='f fix field'>
   <label for='pin' class='c2 flex justify-center align-center'>
    <span class='hide'>{%trans "Pin"%}</span>
    <span>PIN</span>
   </label>
   <input id='pin' type='password' class='c10' maxlength="4" placeholder='_ _ _ _' autocomplete="off">
  </div>
 </div>

 <div class='codeBox'>
  <div class='f fix field'>
   <label for='code' class='c2 flex justify-center align-center'>
    <span class='hide'>{%trans "Code"%}</span>
    <span class="icon-barcode"></span>
   </label>
   <input id='code' type='number' class='c10' max="99999" placeholder='_ _ _ _ _' autocomplete="off">
  </div>
 </div>

{%if true%}
 <div class='goBox {%if get_mobile%}{%else%}notExist{%endif%}'>
  <div class='field'>
   <button id="go" type="submit">{%trans "Go"%}</button>
  </div>
 </div>
</div>
{%endif%}

{{langList({'html':true})}}

<div class="mesh"></div>
{%endblock%}