{%extends display.survey%}


{%block pageContent%}
{{block('pageSteps')}}
<div class="f justify-center">
	<div class="c6 s12">
		<div class="cbox">
			<form method="post" autocomplete="off">
				<p class="msg warn">{%trans "When responder want to start survey a welcome is show then they can start answer."%}</p>
				<p class="msg success2">{%trans "An apt welcome message increase answer rate."%}</p>
				{{block('iwelcomemessagetitle')}}
				{{block('iwelcomemessagedesc')}}
				{{block('iwelcomemessagefile')}}
				{{block('isave')}}
			</form>
		</div>
	</div>
</div>
{%endblock%}
