{%extends display.main%}

{%set pageTitle%}{%trans "About Sarshomar"%}{%endset%}

{%set pageDesc%}
{%trans "Knowing what everyone, at any time and place, is thinking about has invariably been one of the most exciting needs of human beings."%} {%trans "Sarshomar created for this!"%}
{%endset%}

{%block content%}
<div class="main">
 <div class="box pad-large">
  <h2 class="sh large">{%trans "About Us"%}</h2>
  <div class="in">
   <h3 class="bh" id="what-is-sarshomar">{%trans "What Is Sarshomar?"%}</h3>

   <div class="l1">
    <p class="em">{%trans "Knowing what everyone, at any time and place, is thinking about has invariably been one of the most exciting needs of human beings."%}</p>
    <div class="f fix s-column-reverse">
     <div class="c7 s12">
      <p>{%trans "By means of an opinion poll, we can become informed of people's interests, viewpoints and problems, and take measures to improve, develop or solve them."%} {%trans "Having taken these measures, we can dominate the public opinions, attract them and lead them towards our own interests."%} {%trans "Sarshomar, having a broad and knowledge-oriented outlook, came into being to provide solutions in this respect."%}</p>
     </div>
     <div class="c5 s12 flex justify-center align-center">
      <img src="{{url.static}}images/miniature/about/what-is-sarshomar.png" alt='{%trans "What Is Sarshomar?"%}'>
     </div>
    </div>
   </div>

   <h3 class="bh" id="the-name-sarshomar">{%trans "The Name Sarshomar"%}</h3>
   <div class="l1">
    <div class="f fix">
     <div class="c4 s12 flex justify-center align-center">
      <img src="{{url.static}}images/miniature/about/the-name-sarshomar.png" alt='{%trans "The Name Sarshomar"%}'>
     </div>
     <div class="c8 s12">
      <p>{%trans "In Persian, the person undertaking the task of census (Sarshomari) is called Sarshomar (headcounter)."%}</p>
      <p>{%trans "Predicting the vast number of our service users, we have been searching for a term attuned with that vastness as well as our goal."%} {%trans "Accordingly, having conducted extensive investigations, we selected the term '' Sarshomar '' as the trade name for the service."%}</p>
     </div>
    </div>
   </div>

   <h3 class="bh" id="the-starting-point">{%trans "The Starting Point"%}</h3>
   <div class="l1">
    <p>{%trans "There have been various means to conduct an opinion poll and future will be no exception."%} {%trans "Sarshomar, having known this, decided to enter this field."%}</p>
    <div class="f fix s-column-reverse">
     <div class="c7 s12">
      <p>{%trans "Being concerned with questioning a particular statistical population along with inferring valid results was one of the major reasons for Sarshomar's birth."%} {%trans "To develop an international service equipped with unique facilities, we examined the available models; and aiming to eliminate the weaknesses and cover the unnoticed points, and placing our reliance on God, we embarked on the most comprehensive electronic opinion poll service."%}</p>
     </div>
     <div class="c5 s12 flex justify-center align-center">
      <img src="{{url.static}}images/miniature/about/the-starting-point.png" alt='{%trans "The Starting Point"%}'>
     </div>
    </div>
   </div>

   <h3 class="bh" id="services-and-audiences">{%trans "Services and Audiences"%}</h3>
   <div class="l1">
    <p>{%trans "Sarshomar's potential addressees and clients would include all legal as well as natural persons; all trading companies; educational and research centers; institutions and organizations; advertising agencies; website owners and developers; and all individuals in society from novice to expert."%}</p>

    <div class="f fix">
     <div class="c5 s12 flex justify-center align-center">
      <img src="{{url.static}}images/miniature/about/services-and-audiences.png" alt='{%trans "Services and Audiences"%}'>
     </div>
     <div class="c7 s12">
      <p>{%trans "You can use, according to your need, such unique characteristics as questioning the target statistical population, question charts, service provision through social networks and dozens of other ones."%} {%trans "Sarshomar, moreover, intends to award you precious prizes to show its appreciation for your contribution to promoting its quality and services."%}</p>
     </div>
    </div>
   </div>
  </div>
 </div>

 <div class="f triplet" id="about-bottom">
  <div class="c4 s12 triplet-item">
   <img src="{{url.static}}images/miniature/press.png" alt='{%trans "Press"%}'>
   <h3>{%trans "Press"%}</h3>
   <p>{%trans "Would you like to follow Sarshomar's latest media coverage news?"%}</p>
   <a href="{{url.base}}/press">{%trans "View press section"%}</a>
  </div>

  <div class="c4 s12 triplet-item">
   <img src="{{url.static}}images/miniature/job.png" alt='{%trans "Contact Us"%}'>
   <h3>{%trans "Job Opportunities"%}</h3>
   <p>{%trans "We are constantly seeking to recruit the best. Are you willing to join us?"%}</p>
   <a href="{%if site.currentlang =='fa'%}http://ermile.ir{%else%}https://ermile.com{%endif%}/careers" target="_blank">{%trans "Join our team"%}</a>
  </div>

  <div class="c4 s12 triplet-item">
   <img src="{{url.static}}images/miniature/contact.png" alt='{%trans "Contact Us"%}'>
   <h3>{%trans "Contact Us"%}</h3>
   <p>{%trans "If you have any questions, our contact and support center is always ready to help."%}</p>
   <a href="{{url.base}}/contact">{%trans "Get in touch"%}</a>
  </div>
 </div>
</div>
{%endblock%}
