{%extends display.main%}

{%set pageTitle2%}{%trans "Eco"%}{%endset%}

{%set pageDesc%}
{%trans "We, human beings, do not pay due attention to our environment, this invaluable heritage, and sometimes destroy it either knowingly or unknowingly."%}
{%endset%}

{%block content%}
  <div class="main text-based">
   <div class="box">
    <h2 class="special-heading">{%trans "Eco"%}</h2>
    <div class="in">

     <div class="content">
      <p class="em">{%trans "We, human beings, do not pay due attention to our environment, this invaluable heritage, and sometimes destroy it either knowingly or unknowingly."%} </p>

      <p>{%trans "One of the main reasons behind this inattention to environment is a lack of direct observation of the dangers of that inattention in short term."%} {%trans "These destructive consequences usually form slower than to be easily tangible by us."%}</p>

      <p>{%trans "The advancement of sophisticated technology, though having brought up numerous accomplishments for us, has invited an uncalled-for guest, namely pollution."%} {%trans "Undoubtedly, the issue of environmental pollution is one of the major problems which has made us face serious challenges and will do the same."%}</p>

      <p>{%trans "In order to protect the environment and prevent it from being destructed, green businesses appeared, aiming at adopting environment friendly methods towards sustainable development as well as contribution to decreasing unnecessary costs."%}</p>

      <p>{%trans "We, in Sarshomar, consider respecting the environment as an inseparable responsibility for ourselves, and to reach that end, we reengineered polling procedure with a new attitude."%} {%trans "One of our goals in redesigning the procedures is to minimize the need for paper when receiving your opinions."%} {%trans "Therefore, we invite you to use Sarshomar for its paper-saving purposes to save plants and have a beautiful earth."%}</p>
     </div>

    </div>
   </div>
  </div>
{%endblock%}
