{%extends display.main%}

{%set pageTitle%}{%trans "Sarshomar's gift"%}{%endset%}

{%set pageDesc%}
{%trans "Win an iPhone by entering Sarshomar's society"%}
{%endset%}

{%block content%}
  <div class="main text-based">
   <div class="box">
    <h2 class="special-heading">{%trans "Sarshomar gifts"%}</h2>
    <div class="in">

     <div class="content">
      <h2>{%trans "Register gift"%}</h2>
      <p class="em">{%trans "To enter into the Sarshomar society win iPhone"%} </p>

      <p><img src="{{url.static}}images/gift/iphone.png" alt='{%trans "To enter into the Sarshomar society win iPhone"%}'></p>
     </div>

    </div>
   </div>
  </div>
{%endblock%}
