{%extends display.main%}

{%set pageTitle%}{%trans "Sarshomar's gift"%}{%endset%}

{%set pageDesc%}
{%trans "Win an iPhone by entering Sarshomar's society"%}
{%endset%}

{%block content%}
  <div class="main pad-large">
   <div class="box">
    <h2 class="sh large">{%trans "Sarshomar gifts"%}</h2>
    <div class="in">

      <h2>{%trans "Register gift"%}</h2>
      <p class="em">{%trans "To enter into the Sarshomar society win iPhone"%} </p>
      <p><img src="{{url.static}}images/gift/iphone.png" alt='{%trans "To enter into the Sarshomar society win iPhone"%}'></p>
      <p>
        با <a href='{{url.base}}/enter'>ثبت‌نام و ورود به جامعه سرشمار</a> علاوه بر دریافت هدیه ده هزار تومانی، آیفون ببرید.
        <br>
        به مناسبت روز پدر برنده جایزه در روز <b>۲۲ فروردین‌ماه ۱۳۹۶</b> مشخص خواهد شد. با تکمیل ثبت‌نام و فعال بودن در سرشمار شانس خود را برای برنده شدن بیازمایید.

        <a href='{{url.base}}/about'>درباره سرشمار بیشتر بدانید</a>
        <br>
      </p>
      <p class="em">
        با توجه به استقبال بی‌نظیر صورت‌گرفته در روزهای اخیر، مهلت ورود به سرشمار تمدید و برنده خوش‌شانس آیفون در جشن بزرگ <b>نیمه‌شعبان</b> مشخص خواهد شد.
        <div><a href='{{url.base}}/enter' class="special-btn">ورود به سرشمار</a></div>
      </p>

    </div>
   </div>
  </div>
{%endblock%}
