{%extends display.main%}

{%set pageTitle2%}{%trans "Privacy Policy"%}{%endset%}

{%set pageDesc%}
{%trans "As the final remark, we wish to assure you that our main concern is to secure your privacy and protect your information against impermissible access."%}
{%endset%}


{%block content%}
  <div class="main pad box text-based">
   <h2 class="special-heading">{%trans "Privacy Policy"%}</h2>
   <div class="in" id="privacy-box">

     <h2>{%trans "What is Privacy?"%}</h2>
     <div class="content">
      <p class="em">{%trans "Privacy means that any individual is entitled to choose the information related to them, and selectively, share it with others."%}</p>
      <p>{%trans "privacy is so important for mental peace as well as a peaceful personality that some experts have considered invasion of privacy disrespectful to human dignity."%}</p>
     </div>

     <h2>{%trans "Controversies over the Invasion of Privacy"%}</h2>
     <div class="content">
      <p>{%trans "Within e-commerce, privacy has always been from among the most controversial topics and continues to be."%} {%trans "Accordingly, formulating privacy policies is regarded as one of the crucial concerns of technology companies."%} {%trans "Meanwhile, widespread controversies have been provoked over invasion of privacy in e-commerce so that, occasionally, the regulations have to be revised to eliminate the existing weaknesses."%}</p>
     </div>

     <h2>{%trans "Privacy from Our Point of View"%}</h2>
     <div class="content">
      <p class="em">{%trans "Let us be straightforward! Cyberspace is not a safe location for personal information."%}</p>
      <p>{%trans "For that reason, Sarshomar makes no request for important information of yours and the request for receiving general information including age, gender, education, interests, etc. is only for the sake of the documentation and validation of the results reached at by Sarshomar."%} {%trans "It is worth mentioning that recording the aforementioned points is totally voluntary."%}</p>
      <p>{%trans "However, taking the nature of cyberspace into account, we should remember that offering an absolute assurance might not be possible."%} {%trans "Assuring privacy and security, with that ideal concept we bear in mind, does not exist; and if somebody gives you an assurance of securing your privacy, he has certainly abused your trust."%}</p>
      <p>{%trans "Upon buying any digital or the so-called smart device, you have invaded your own privacy yourself."%} {%trans "If you want your privacy not to be invaded, you should depart from technology and say goodbye to any digital and smart device."%} {%trans "In fact, we have employed all updated technologies of the world to provide you with the maximum security."%}</p>
      <p>{%trans "Due to the scientific nature of Sarshomar as well as the attempts made to enhance the trust in the found results of opinion polls, profile completion has been made possible in the system."%} {%trans "In case you are willing to help us to improve the quality of Sarshomar and to promote the efficiency of your own contribution, provide us with your general information."%} {%trans "Please remember that in case of your unwillingness, it is possible for you to refuse completing the profile questions."%}</p>
      <p class="em">{%trans "As the final remark, we wish to assure you that our main concern is to secure your privacy and protect your information against impermissible access."%}</p>
     </div>

   </div>
  </div>
{%endblock%}
