{%extends display.main%}

{%set pageTitle2%}{%trans "Social Responsibility"%}{%endset%}

{%set pageDesc%}
{%trans "Social responsibility refers to our role in maintaining, caring about and helping our society, while having set as its goal a responsibility-centered enterprise along with wealth production."%}
{%endset%}

{%block content%}
  <div class="main pad text-based">
   <div class="box">
    <h2 class="special-heading">{%trans "Social Responsibility"%}</h2>
    <div class="in">

     <div class="content">
      <p class="em">{%trans "Social responsibility refers to our role in maintaining, caring about and helping our society, while having set as its goal a responsibility-centered enterprise along with wealth production."%}</p>
      <p>{%trans "The issue of the social responsibility of organizations and corporations towards the society is from among the important issues being focused on in recent years."%}</p>
      <p>{%trans "The social responsibility of organizations relates to the organization's responsibility towards society, human beings and the environment in which they are active."%}</p>
     </div>

     <h2 id="sarshomars-social-responsibilities">{%trans "Sarshomar's Social Responsibilities"%}</h2>
     <div class="content">
      <p>{%trans "Based on the mentioned definitions of social responsibility, Sarshomar considers itself committed to society. Accordingly, besides attempting to offer creative and effective services, Sarshomar has invariably had social responsibility as one of its most important missions and, God willing, will continue to do so."%}</p>
     </div>

     <h2 id="environmentalist">{%trans "Environmentalist"%}</h2>
     <div class="content">
      <p>{%trans "In spite of technological advancements, paper usage is unfortunately preferred to modern ways. One of Sarshomar's objectives is trying to change this habit and contribute to the elimination of paper from the routine life and, therefore, to save the environment."%}</p>
      <p>{%trans "Accordingly, with the aim of total elimination of paper use as well as electronic presentation of services, Sarshomar has taken significant steps towards environmentalism. Be informed about Sarshomar's paper-saving quantity."%}</p>
     </div>

     <h2 id="philanthropist-activities">{%trans "Philanthropist Activities"%}</h2>
     <div class="content">
      <p>{%trans "One of the most valuable resources of charity organizations is the voluntary and active participation of the individuals who, without any expectations, provide them with their skillfulness and capital."%}</p>
      <p>{%trans "Sarshomar as well, with regard to its contribution to philanthropist activities, will honorably provide them with its services free of charge. To make use of these services, send your identity documents along with your request to Sarshomar's support center."%}</p>
     </div>

     <h2 id="recruiting-motivated-staff">{%trans "Recruiting Motivated Staff"%}</h2>
     <div class="content">
      <p>{%trans "An outstanding characteristic of any organization is its specialized and highly motivated staff, playing a vital role in growth and development."%} {%trans "By the same token, we are always looking for creative and motivated Iranian youths in order to make the best and be effective in cooperation with them."%} {%trans "Join us and grow in a different location."%}</p>
     </div>

     <h2 id="presenting-valid-statistics">{%trans "Presenting Valid Statistics and Qualitative Promotion of Society"%}</h2>
     <div class="content">
      <p>{%trans "A large proportion of Sarshomar's questions address the problems in society, attempting to solve them."%} {%trans "The given statistics are presented in a simple and distinct manner accompanied by graphs in order to be understood rapidly by the general public."%}</p>
      <p>{%trans "Besides, regarding the qualitative promotion of society, some articles are published to present strategies in this regard."%}</p>
     </div>

     <h2 id="customer-care-and-complete-satisfaction">{%trans "Customer Care and Complete Satisfaction"%}</h2>
     <div class="content">
      <p>{%trans "Attracting people's participation as well as having their valuable presence has always been a great honor for Sarshomar and to appreciate your support, in return, Sarshomar presents services to promote customer satisfaction."%} {%trans "These services are presented in different time intervals and are aimed at costomer care mission and appreciation of your valuable presence."%}</p>
     </div>

    </div>
   </div>
  </div>
{%endblock%}
