{%extends display.main%}

{%set pageTitle2%}{%trans "Terms of Service Agreement"%}{%endset%}

{%set pageDesc%}
{%trans "Sarshomar acts upon international rules, depends on the countries receiving its services and renders its activities within this framework."%}
{%endset%}


{%block content%}
  <div class="main pad box text-based">
   <h2 class="special-heading"><a href="#">{%trans "Terms of Service Agreement"%}</a></h2>
   <div class="in">

    <div class="content">
     <p>{%trans "Sarshomar acts upon international rules, depends on the countries receiving its services and renders its activities within this framework."%} {%trans "Utilizing Sarshomar's services means the acceptance of and commitment to observing all the tenors of this agreement."%}</p>
     <p class="em">{%trans "To enhance the quality of the services provided, and in case of any infringements on the part of users, Sarshomar will act upon its regulations, which, according to the kind of violation, might include notification, restriction, blockage and removing users' account."%}</p>

     <ul class="list">
      <li>{%trans "Due to the voluntary nature of the registration and our emphasis on the informative nature of the service, the accuracy of the user's information is of tremendous importance and value for us."%} {%trans "To prevent crating mistrust among other users, in case of receiving contradictions within the entered information, Sarshomar is entitled to act upon the rules."%} {%trans "It is worth mentioning that due to the insecurity of cyberspace, you should never post your vital information on either Sarshomar or any other services!"%}</li>
      <li>{%trans "User's personal information is strictly confidential in our service. Sarshomar preserves the information as encoded and will not under any conditions transfer it to another person."%}</li>
      <li>{%trans "Every user is entitled to have only one user account and in case Sarshomar happens to know that a user has more than one user account, it is entitled to act upon the rules."%}</li>
      <li>{%trans "In case there is a request for receiving user's information by the competent authorities, according to the country the user lives in, Sarshomar will cooperate with them only upon receiving the judicial order issued by the country submitting the request."%}</li>
      <li>{%trans "Sarshomar will not offer any guarantee as to the quality of the products or services presented by the questioners and will not accept any responsibility in this regard."%}</li>
      <li>{%trans "Users should assume responsibility for any harm, both material and immaterial, caused by direct, indirect or penal factors and due to their utilization of this service; and, Sarshomar bears no responsibility accordingly."%}</li>
      <li>{%trans "Sarshomar accepts no responsibility, under any conditions, for the harms caused by users' mutual trust in each other or by the disclosure of information by users."%}</li>
      <li>{%trans "Sarshomar's scientific findings, gained through graphs, tables, articles and other means, belong to this service and all the rights related to them are reserved for Sarshomar."%}</li>
      <li>{%trans "Sarshomar will do its best to protect both the users' information and the service; however, regarding the lack of certainty within the cyberspace, it will not assume any responsibility for the loss of the information entered on the service."%}</li>
      <li>{%trans "We will publicize our information and news only via Sarshomar's formal website. Accordingly, those who publicize any attributed news and claims, within social media and networks, must assume the responsibility and Sarshomar will not assume any responsibility."%}</li>
      <li>{%trans "Sarshomar will bear no responsibility for whatsoever messages sent to users, including those indicating winning a lottery, and all our information dissemination will be through the ways of Sarshomar's contact with users."%}</li>
      <li>{%trans "Any misuse of Sarshomar's trade name is prohibited and will be suable by making a complaint to the legal competent authorities."%}</li>
      <li>{%trans "Resharing Sarshomar's information is free and needs no permission; however, you can contribute to our better service provision by citing the resource."%}</li>
      <li>{%trans "Furthermore, this agreement, under the name Terms and Conditions, will be available and observable, in all pages of the website. Users will be responsible for a lack of information on the most recent changes."%}</li>
     </ul>

     <p class="em">{%trans "It should be mentioned that in case there would be any modifications in the above-mentioned tenors, an updated version will be available for the public, and as well, all the users will be informed."%}</p>
    </div>

   </div>
  </div>

{%endblock%}
