{%extends display.main%}

{%set pageDesc%}
{%trans "Thank you for choosing us. We do our best to improve Sarshomar's quality. So, knowing your valuable comments about bugs and problems and more importantly your precious offers will help us in this way."%}
{%endset%}

{%block content%}
<div class="main text-based">
 <div class="box">
  <h2 class="special-heading">{%trans "Contact"%}</h2>
  <div class="f auto" id="contact-box">
   <div class="c7">
    <h2>{%trans "Request, offer, criticism and appreciation"%}</h2>
    <p>{%trans "Thank you for choosing us."%}<br/>{%trans "We do our best to improve Sarshomar's quality. So, knowing your valuable comments about bugs and problems and more importantly your precious offers will help us in this way."%}</p>
    <form method="post" data-clear>
      {%include display.hive%}
    {%if login%}
    {%else%}
     <div class="element">
      <label class="title large" for="name">{%trans "Name"%}</label>
      <input class="input white" type="text" name="name" id="name" placeholder='{%trans "Full Name"%}'>
     </div>
     <div class="element">
      <label class="title large" for="mobile">{%trans "Mobile"%}</label>
      <input class="input white ltr" type="tel" name="mobile" id="mobile" placeholder='98 912 333 4444' maxlength="17" autocomplete="off" data-validity='{%trans "Please enter valid mobile number. `:val` is incorrect"%}'>
     </div>
     <div class="element">
      <label class="title large" for="email">{%trans "Email"%}</label>
      <input class="input white" type="email" name="email" id="email" placeholder='mail@example.com'>
     </div>
    {%endif%}
     <textarea class="textarea" name="content" rows="" placeholder='{%trans "Your Message"%}' maxlength="1000" data-resizable></textarea>
     <button type="submit" name="submit-contact" class="try submit-contact">{%trans "Send"%}</button>
    </form>
   </div>
   <div class="c1"></div>
   <div class="c4">
    <div class="contact-box">
     <div class="contact-data">
      <h2>{%trans "How to contact Sarshomar"%}</h2>
      <div class="contact-ways">
        <address class="vcard pT10">
         <div class="row">
          <span class="sf-envelope fs16"></span>
          <span>info@sarshomar.com</span>
         </div>
         <div class="row">
          <span class="sf-phone"></span>
          <span class="tel ltr">
            <a href="tel:+982536505460">{{"(+98) 25" | fitNumber}} {{"3650 5460" | fitNumber}}</a>
            <a href="tel:+982536505281">{{"(+98) 25" | fitNumber}} {{"3650 5281" | fitNumber}}</a>
          </span>
          <div class="author author_name hide"><span class="fn">{%trans "Sarshomar"%}</span></div>
         </div>
         <div class="row">
          <span class="sf-pin"></span>
          <span>
            <div class="adr">
{%if lang.current =='en'%}
          <div class="extended-address">{%trans "Ermile, Floor2, Yas Building"%}</div>
          <div class="street-address">{%trans "1st alley, Haft-e-tir St"%}</div>
          <div class="locality">{%trans "Qom"%}</div>
          <div class="country-name">{%trans "Iran"%}</div>
{%else%}
          <div class="country-name">{%trans "Iran"%}</div>
          <div class="locality">{%trans "Qom"%}</div>
          <div class="street-address">{%trans "1st alley, Haft-e-tir St"%}</div>
          <div class="extended-address">{%trans "Floor2, Yas Building"%}</div>
{%endif%}
          <div class="postal-code">{{"37196-17540" | fitNumber }}</div>
            </div>
          </span>
         </div>
        </address>
      </div>
     </div>
     <a href="https://goo.gl/maps/p953hrz38Du" target="_blank" class="map">
      <img src="{{url.static}}/images/svg/contact/map.png">
     </a>
    </div>
   </div>
  </div>
 </div>
</div>
{%endblock%}
