{%extends display.survey%}


{%block pageContent%}
{{block('pageSteps')}}
<div class="f justify-center">
	<div class="c6 s12">
		<div class="cbox">
			<form method="post" autocomplete="off">
				<p class="msg info">{%trans "Template survey is a survey but no body can answer to this survey and you can copy for anything"%}</p>
				{{block('iFavSurvey')}}
				{{block('iStartdate')}}
				{{block('iEnddate')}}

				{{block('iredirect')}}

				{{block('isave')}}
			</form>
		</div>
	</div>
</div>
{%endblock%}


{%block iFavSurvey%}
<div class="switch1 mB10">
 <input type="checkbox" name="fav" id="fav" {%if surveyRow.fav %}checked{%endif%}>
 <label for="fav"></label>
 <label for="fav">{%trans "Is fav survey?"%}</label>
</div>
{%endblock%}



{%block ipassword %}
<h4 data-kerkere=".surveyPassword" {%if surveyRow.password%}data-kerkere-icon='open'{%else%} data-kerkere-icon {%endif%}>{%trans "Enable survery passworrd"%}</h4>

<div class="surveyPassword msg" {%if surveyRow.password%}{%else%} data-kerkere-content='hide' {%endif%}>
<p>{%trans "A question like 'Password Question' will be added to the list of your questions. Put it anywhere on your question list"%}</p>
<label for="password">{%trans "Survey password"%}</label>
<div class="input">
  <input type="text" name="password" id="password" placeholder='{%trans "Survey password"%}' value="{{surveyRow.password}}"  maxlength='200' minlength="1" pattern=".{1,200}" >
</div>
</div>
{% endblock %}

{%block iStartdate%}

<div class="f">
	<div class="c6 s12 pRa5">
	    <label for="startdate">{%trans "Start date"%}</label>
	    <div class="input ltr">
	      <input class="datepicker" type="text" name="startdate" id="startdate" placeholder='{{"now" | dt(false, "date")}}' value="{{surveyRow.starttime }}" data-view="day" autocomplete="off">
	    </div>
	</div>
	<div class="c6 s12">
	  <label for="starttime">{%trans "Start time"%}</label>
	  <div class="input clockpicker ltr">
	    <input type="text" name="starttime" id="starttime" placeholder='{{"now" | dt("false", "time") | fitNumber(false) | slice(0,5)}}' value='{%if surveyRow.starttime %}{{surveyRow.starttime | dt("false", "time") | slice(0,5)}}{%endif%}' autocomplete="off">
	  </div>
	</div>
</div>

{%endblock%}

{%block iEnddate%}
<div class="f">
	<div class="c6 s12 pRa5">
	    <label for="enddate">{%trans "End date"%}</label>
	    <div class="input ltr">
	      <input class="datepicker" type="text" name="enddate" id="enddate" placeholder='{{"now" | dt(false, "date")}}' value="{{surveyRow.endtime }}" data-view="day" autocomplete="off">
	    </div>
	</div>
	<div class="c6 s12">
	  <label for="endtime">{%trans "End time"%}</label>
	  <div class="input clockpicker ltr">
	    <input type="text" name="endtime" id="endtime" placeholder='{{"now" | dt("false", "time") | fitNumber(false) | slice(0,5)}}' value='{%if surveyRow.endtime %}{{surveyRow.endtime | dt("false", "time") | slice(0,5) }}{%endif%}' autocomplete="off">
	  </div>
	</div>
</div>
{%endblock%}
