{%extends display.survey%}


{%block pageContent%}
{{block('pageSteps')}}
<div class="f justify-center">
	<div class="c6 s12">
		<div class="cbox">
			<form method="post" autocomplete="off">
				<p class="msg info">{%trans "Template survey is a survey but no body can answer to this survey and you can copy for anything"%}</p>
				{{block('iTemplateSurvey')}}



				{{block('isave')}}
			</form>
		</div>
	</div>
</div>
{%endblock%}


{%block iTemplateSurvey%}
<div class="switch1 mB10">
 <input type="checkbox" name="template" id="template" {%if surveyRow.template %}checked{%endif%}>
 <label for="template"></label>
 <label for="template">{%trans "Is template survey?"%}</label>
</div>
{%endblock%}
