{%extends template.knowledge.layout%}


{%block content%}
   <div class="main pad">
    <div class="box">
     <div class="row unselectable">
      <div class="in {%if my_poll %}xlarge{%endif%}">
       {% if user_answered_to_all_poll %}
        <div class="alert">{{user_answered_to_all_poll}}</div>
       {% endif %}
       <div class="search-box">
        <input type="text" name="search" placeholder='{%trans "Search"%}' value="{{search_value}}" autocomplete="off">
        <label class="search-label">
         <span class="icon-search"></span>
        </label>
       </div>
        {%include display.result%}
      </div>
     </div>
    </div>
   </div>
{%endblock%}

{%block foot_js2%}
<script>
$(document).ready(function()
{
 $("aside input[type=checkbox]").click(function(){
 $(this).parent('.ac-custom').toggleClass('selected');
 });

 $(document).on('click', '.star', function(){
 id = $(this).parent('li').attr("data-id");
 _self = $(this);
 $(this).ajaxify(
   {
    ajax:
    {
     data:
     {
      'type': 'favourites',
      'id': id
     },
     abort: true,
     success: function(e, data, x)
     {
      $(_self).toggleClass("starred");
     },
     method: 'post'
    }
   });
 });

 $(document).on('change', 'select', function(){

  var new_url;
  var url        = window.location.pathname;
  var pattern    = new RegExp( name + '\=([^\/]*)');
  var exist_value_url = null;

  name  = $(this).attr('name');
  value = $(this).val();

  match = url.match(pattern);
  if(match !== null)
  {
   exist_value_url = match[1];
  }

  if(match !== null)
  {
   new_url = url.replace(pattern, name + '=' + value);
  }
  else if(value == '')
  {
   new_url = url.replace(pattern, '');
  }
  else
  {
   if(/\/$/.test(url))
   {
    new_url = url + name + '=' + value;
   }
   else
   {
    new_url = url + '/' + name + '=' + value;
   }
  }
  Navigate({ url: new_url });
 });

 $(document).on('change', 'input[type=checkbox]', function(){

  var new_url;
  var url        = window.location.pathname;
  var pattern    = new RegExp( name + '\=([^\/]*)');
  var is_checked = false;
  var exist_value_url = null;

  name  = $(this).attr('name');
  value = $(this).val();

  match = url.match(pattern);
  if(match !== null)
  {
   exist_value_url = match[1];
  }
  if($(this).prop("checked"))
  {
   is_checked = false;
  }
  else
  {
   is_checked = true;
  }

  if(is_checked)
  {
   new_url = url.replace(pattern, '');
  }
  else
  {
   if(match !== null)
   {
    new_url = url.replace(pattern, name + '=' + value);
   }
   else
   {
    if(/\/$/.test(url))
    {
     new_url = url + name + '=' + value;
    }
    else
    {
     new_url = url + '/' + name + '=' + value;
    }
   }
  }
  console.log(new_url);
  console.log(is_checked)
  Navigate({ url: new_url });
 });
});

</script>
{%endblock%}
