{%extends display.main%}


{%block filters_aside%}
   <aside class="unselectable aside-knowledge">
    {{block('accordion_questions_label')}}
    {{block('accordion_questions')}}
    {{block('accordion_filters_label')}}
    {{block('accordion_filters')}}
   </aside>
{%endblock%}


{%block accordion_questions_label%}
{% spaceless %}
 <div class="accordion-label">
  <input type="checkbox" name="for_questions" id="for_questions" checked>
  <label for="for_questions">{%trans "Questions"%}</label>
 </div>
{% endspaceless %}
{%endblock%}

{%block accordion_questions%}
{% spaceless %}
 <div class="accordion-body" data-response='for_questions' data-response-effect='slide'>
  {{block('questions_gender')}}
  {{block('questions_marital')}}
  {{block('questions_employment')}}
 </div>
{% endspaceless %}
{%endblock%}

{%block questions_gender%}
{% spaceless %}
 <div class="aside-group">
  <div class="aside-group-title">
   <input type="checkbox" name="gender" id="gender" checked>
   <label for="gender">{%trans "Gender"%}</label>
  </div>
  <div class="aside-group-body" data-response='gender' data-response-effect='slide'>
   <div class="checkbox">
    <input type="checkbox" name="status" id="male" value="male">
    <label for="male" class="check-box"></label>
    <label for="male">{%trans "Male"%}</label>
   </div>
   <div class="checkbox">
    <input type="checkbox" name="status" id="female" value="female">
    <label for="female" class="check-box"></label>
    <label for="female">{%trans "Female"%}</label>
   </div>
  </div>
 </div>
{% endspaceless %}
{%endblock%}

{%block questions_marital%}
{% spaceless %}
 <div class="aside-group">
  <div class="aside-group-title">
   <input type="checkbox" name="marital" id="marital" checked>
   <label for="marital">{%trans "Marital"%}</label>
  </div>
  <div class="aside-group-body" data-response='marital' data-response-effect='slide'>
   <div class="checkbox">
    <input type="checkbox" name="status" id="single" value="single">
    <label for="single" class="check-box"></label>
    <label for="single">{%trans "Single"%}</label>
   </div>
   <div class="checkbox">
    <input type="checkbox" name="status" id="married" value="married">
    <label for="married" class="check-box"></label>
    <label for="married">{%trans "Married"%}</label>
   </div>
  </div>
 </div>
{% endspaceless %}
{%endblock%}

{%block questions_employment%}
{% spaceless %}
 <div class="aside-group">
  <div class="aside-group-title">
   <input type="checkbox" name="employment" id="employment" checked>
   <label for="employment">{%trans "Employment"%}</label>
  </div>
  <div class="aside-group-body" data-response='employment' data-response-effect='slide'>
   <div class="checkbox">
    <input type="checkbox" name="status" id="employee" value="employee">
    <label for="employee" class="check-box"></label>
    <label for="employee">{%trans "Employee"%}</label>
   </div>
   <div class="checkbox">
    <input type="checkbox" name="status" id="unemployed" value="unemployed">
    <label for="unemployed" class="check-box"></label>
    <label for="unemployed">{%trans "Unemployed"%}</label>
   </div>
   <div class="checkbox">
    <input type="checkbox" name="status" id="retired" value="retired">
    <label for="retired" class="check-box"></label>
    <label for="retired">{%trans "Retired"%}</label>
   </div>
  </div>
 </div>
{% endspaceless %}
{%endblock%}

{%block accordion_filters_label%}
{% spaceless %}
 <div class="accordion-label">
  <input type="checkbox" name="for_filters" id="for_filters" checked>
  <label for="for_filters">{%trans "Filters"%}</label>
 </div>
{% endspaceless %}
{%endblock%}

{%block accordion_filters%}
{% spaceless %}
 <div class="accordion-body" data-response='for_filters' data-response-effect='slide'>
  {{block('filters_type')}}
  {{block('filters_survey')}}
  {{block('filters_time')}}
  {{block('filters_filters')}}
 </div>
{% endspaceless %}
{%endblock%}

{%block filters_type%}
{% spaceless %}
 <div class="aside-group">
  <div class="aside-group-title">
   <input type="checkbox" name="type" id="type" checked>
   <label for="type">{%trans "Question Type"%}</label>
  </div>
  <div class="aside-group-body" data-response='type' data-response-effect='slide'>
   <div class="checkbox">
    <input id="type1" type="checkbox" name='pollgender' value="poll" {%if checkbox.pollgender == 'poll' %}checked{%endif%}>
    <label for="type1" class="check-box"></label>
    <label for="type1">{%trans "Poll"%}</label>
   </div>
   <div class="checkbox">
    <input id="type2" type="checkbox" name='pollgender' value="quiz" {%if checkbox.pollgender == 'quiz' %}checked{%endif%}>
    <label for="type2" class="check-box"></label>
    <label for="type2">{%trans "Quiz"%}</label>
   </div>
   <div class="checkbox">
    <input id="type4" type="checkbox" name='pollgender' value="survey" {%if checkbox.pollgender == 'survey' %}checked{%endif%}>
    <label for="type4" class="check-box"></label>
    <label for="type4">{%trans "Survey"%}</label>
   </div>
  </div>
 </div>
{% endspaceless %}
{%endblock%}

{%block filters_survey%}
{% spaceless %}
 <div class="aside-group">
  <div class="aside-group-title">
   <input type="checkbox" name="according" id="according" checked>
   <label for="according">{%trans "According to Survey"%}</label>
  </div>
  <div class="aside-group-body" data-response='according' data-response-effect='slide'>
   <div class="checkbox">
    <input id="multiplechoice" type="checkbox" name="polltype" value="multiplechoice" {%if checkbox.polltype == 'multiplechoice' %}checked{%endif%}>
    <label for="multiplechoice" class="check-box"></label>
    <label for="multiplechoice">{%trans "Multiplechoice"%}</label>
   </div>
   <div class="checkbox">
    <input id="descriptive" type="checkbox" name="polltype" value="descriptive" {%if checkbox.polltype == 'descriptive' %}checked{%endif%}>
    <label for="descriptive" class="check-box"></label>
    <label for="descriptive">{%trans "Descriptive"%}</label>
   </div>
   <div class="checkbox">
    <input id="notification" type="checkbox" name="polltype" value="notification" {%if checkbox.polltype == 'notification' %}checked{%endif%}>
    <label for="notification" class="check-box"></label>
    <label for="notification">{%trans "Notification"%}</label>
   </div>
   <div class="checkbox">
    <input id="upload" type="checkbox" name="polltype" value="upload" {%if checkbox.polltype == 'upload' %}checked{%endif%}>
    <label for="upload" class="check-box"></label>
    <label for="upload">{%trans "Upload"%}</label>
   </div>
   <div class="checkbox">
    <input id="starred" type="checkbox" name="polltype" value="starred" {%if checkbox.polltype == 'starred' %}checked{%endif%}>
    <label for="starred" class="check-box"></label>
    <label for="starred">{%trans "Starred"%}</label>
   </div>
   <div class="checkbox">
    <input id="numerical" type="checkbox" name="polltype" value="numerical" {%if checkbox.polltype == 'numerical' %}checked{%endif%}>
    <label for="numerical" class="check-box"></label>
    <label for="numerical">{%trans "Numerical"%}</label>
   </div>
   <div class="checkbox">
    <input id="sort" type="checkbox" name="polltype" value="sort" {%if checkbox.polltype == 'sort' %}checked{%endif%}>
    <label for="sort" class="check-box"></label>
    <label for="sort">{%trans "Sort"%}</label>
   </div>
  </div>
 </div>
{% endspaceless %}
{%endblock%}

{%block filters_time%}
{% spaceless %}
 <div class="aside-group">

  <div class="aside-group-title">
   <input type="checkbox" name="survey_time" id="survey_time" checked>
   <label for="survey_time">{%trans "Survey Time"%}</label>
  </div>

  <div class="aside-group-body" data-response='survey_time' data-response-effect='slide'>
   <div class="checkbox">
    <input id="time1" type="checkbox" name='status' value="publish" {%if checkbox.status == 'publish'%}checked{%endif%}>
    <label for="time1" class="check-box"></label>
    <label for="time1">{%trans "Publish"%}</label>
    {%if checkbox.status == 'publish'%}{%endif%}
   </div>
   <div class="checkbox">
    <input id="time2" type="checkbox" name='status' value="expired" {%if checkbox.status == 'expired'%}checked{%endif%}>
    <label for="time2" class="check-box"></label>
    <label for="time2">{%trans "Expire"%}</label>
    {%if checkbox.status == 'expired'%}{%endif%}
   </div>
  </div>

 </div>
{% endspaceless %}
{%endblock%}

{%block filters_filters%}
{% spaceless %}
 <div class="aside-group">
  <div class="aside-group-title">
   <input type="checkbox" id="filters_filters" checked>
   <label for="filters_filters">{%trans "Filters"%}</label>
  </div>

  <div class="aside-group-body" data-response='filters_filters' data-response-effect='slide'>

   <div class="aside-input-group">
    <label for="graduation">{%trans "Graduation"%}</label>
    <select name="graduation" id="graduation">
     <option value="">{%trans "Graduation"%}</option>
     <option value="illiterate" {%if checkbox.graduation == 'illiterate' %}selected{%endif%}>{%trans "Illiterate"%}</option>
     <option value="undergraduate" {%if checkbox.graduation == 'undergraduate' %}selected{%endif%}>{%trans "Undergraduate"%}</option>
     <option value="graduate" {%if checkbox.graduation == 'graduate' %}selected{%endif%}>{%trans "Graduate"%}</option>
     <option value="under diploma" {%if checkbox.graduation == 'under diploma' %}selected{%endif%}>{%trans "Under Diploma"%}</option>
     <option value="diploma" {%if checkbox.graduation == 'diploma' %}selected{%endif%}>{%trans "Diploma"%}</option>
     <option value="2 year college" {%if checkbox.graduation == '2 year college' %}selected{%endif%}>{%trans "2 Year College"%}</option>
     <option value="bachelor" {%if checkbox.graduation == 'bachelor' %}selected{%endif%}>{%trans "Bachelor"%}</option>
     <option value="master" {%if checkbox.graduation == 'master' %}selected{%endif%}>{%trans "Master"%}</option>
     <option value="phd" {%if checkbox.graduation == 'phd' %}selected{%endif%}>{%trans "PHD"%}</option>
     <option value="other" {%if checkbox.graduation == 'other' %}selected{%endif%}>{%trans "Other"%}</option>
    </select>
   </div>

   <div class="aside-input-group">
    <label for="country">{%trans "Country"%}</label>
    <input name="country" id="country" placeholder='{%trans "Country"%}'>
   </div>

   <div class="aside-input-group">
    <label for="age">{%trans "Age"%}</label>
    <input name="age" id="age" placeholder='{%trans "Age"%}'>
   </div>

   <div class="aside-input-group">
    <label for="province">{%trans "Province"%}</label>
    <input name="province" id="province" placeholder='{%trans "Province"%}'>
   </div>

   <div class="aside-input-group">
    <label for="religion">{%trans "Religion"%}</label>
    <input name="religion" id="religion" placeholder='{%trans "Religion"%}'>
   </div>

   <div class="aside-input-group">
    <label for="language">{%trans "Language"%}</label>
    <input name="language" id="language" placeholder='{%trans "Language"%}'>
   </div>

  </div>
 </div>
{% endspaceless %}
{%endblock%}
