<div class='search-result' data-xhr='search-result' id='search-result'>
{%if poll_list.data%}
 <div class="polls-head">
{%if login%}
  <span class="star">
   <span class="icon-star"></span>
  </span>
{%endif%}
  <span class="type">{%trans "Type"%}</span>
{%if my_poll or admin or admin %}
  <span class="edit">{%trans "Edit"%}</span>
{%endif%}

  <span class="title">{%trans "Title"%}</span>
  {% if my_poll or admin%}
    <span class="status">{%trans "Status"%}</span>
  {%endif%}

  {%if not admin%}
    <span class="comments-count">{%trans "Comments"%}</span>
    <span class="votes-count">{%trans "Votes"%}</span>
  {%else%}
    <span class="comments-count"><a href="{{url.base}}/admin/knowledge/{{order_url.count_comment}}">{%trans "Comments"%}</a></span>
    <span class="votes-count"><a href="{{url.base}}/admin/knowledge/{{order_url.count_vote}}">{%trans "Votes"%}</a></span>
    <span class="edit"><a href="{{url.base}}/admin/knowledge/{{order_url.date}}">{%trans "Date"%}</a></span>
    <span class="edit"><a href="{{url.base}}/admin/knowledge/{{order_url.count_skip}}">{%trans "Skip"%}</a></span>
    <span class="edit"><a href="{{url.base}}/admin/knowledge/{{order_url.vote_skip}}">{%trans "Votes"%}/{%trans "Skip"%}</a></span>
    <span class="edit"><a href="{{url.base}}/admin/knowledge/{{order_url.hasmedia}}">{%trans "Media"%}</a></span>
    <span class="edit"><a href="{{url.base}}/admin/knowledge/{{order_url.hasfilter}}">{%trans "Filter"%}</a></span>
    <span class="edit"><a href="{{url.base}}/admin/knowledge/{{order_url.asked}}">{%trans "Asked"%}</a></span>
    <span class="edit"><a href="{{url.base}}/admin/knowledge/{{order_url.count_rank}}">{%trans "Rank"%}</a></span>
    <!-- <span class="date">{%trans "count_filter"%}</span>
    <span class="date">{%trans "count_ad"%}</span>
    <span class="date">{%trans "count_money"%}</span>
    <span class="date">{%trans "count_report"%}</span>
    <span class="date">{%trans "count_view"%}</span>
    <span class="date">{%trans "count_other"%}</span>
    <span class="date">{%trans "count_sarshomar"%}</span>
    <span class="date">{%trans "count_ago"%}</span>
    <span class="date">{%trans "count_admin"%}</span>
    <span class="date">{%trans "count_vip"%}</span> -->

  {%endif%}
 </div>
 <ul class="polls-body">
{%for key, value in poll_list.data%}
   <li class="{%if value.status == 'draft'%}{{' star'}}{%endif%}" data-id="{{value.id}}">
{%if login%}
    <span class="star">
     <input type="checkbox" name="favorite" id="fav{{key}}" {%if value.my_fav %}checked="checked"{%endif%}>
     <label for="fav{{key}}" class="icon-star"></label>
    </span>
{%endif%}
    {%set show_url = value.url %}
    {%set edit_url = url.base ~ '/@/add/' ~ value.id %}
    <span class="type" aria-hidden="true"><span class="fa fa-{{value.type}}"></span> </span>

    {%if my_poll or admin %}
    <span class="edit"><a href="{{edit_url}}" class="icon-pencil"></a> </span>
    {%endif%}

    <span class="title">
{%set myTitle%}
  {% if value.title %}{{value.title|raw}}{%else%}<i>{% trans "(Untitled)"%}</i>{%endif%}
{%endset%}
    <a href="{{show_url}}">{{myTitle}}</a>
    </span>
    {%if my_poll or admin%}
          {%set myStatus = value.status%}
      <span class="poll-status" data-status="{{value.status}}">{% trans myStatus %}</span>
    {%endif%}
    <span class="comments-count">{%if value.count_comment%} {{value.count_comment | number_format | fitNumber}}{%else%}-{%endif%}</span>
    <span class="votes-count">{%if value.count_vote%} {{value.count_vote | number_format | fitNumber}}{%else%}-{%endif%}</span>
    {%if admin%}
      {%if site.currentlang == 'fa' %}
        <span class="date">{{value.date|jdate("Y-m-d")}}</span>
      {%else%}
        <span class="date">{{value.date|date("Y-m-d")}}</span>
      {%endif%}
      <span class="date" >{{value.count_skip|number_format|fitNumber}}</span>
      <span class="date" >{%if value.vote_skip%}{{value.vote_skip|fitNumber}}%{%else%}-{%endif%}</span>
      {%if value.hasmedia%}<span class="icon-pencil"></span>{%else%}<span class=""></span>{%endif%}
      <span class="date" >{{value.hasfilter}}</span>
      <span class="date" >{{value.asked|number_format|fitNumber}}</span>
      <span class="date" >{{value.count_rank|number_format|fitNumber}}</span>
    <!--   <span class="date" >{{value.count_filter|number_format|fitNumber}}</span>
      <span class="date" >{{value.count_ad|number_format|fitNumber}}</span>
      <span class="date" >{{value.count_money|number_format|fitNumber}}</span>
      <span class="date" >{{value.count_report|number_format|fitNumber}}</span>
      <span class="date" >{{value.count_view|number_format|fitNumber}}</span>
      <span class="date" >{{value.count_other|number_format|fitNumber}}</span>
      <span class="date" >{{value.count_sarshomar|number_format|fitNumber}}</span>
      <span class="date" >{{value.count_ago|number_format|fitNumber}}</span>
      <span class="date" >{{value.count_admin|number_format|fitNumber}}</span>
      <span class="date" >{{value.count_vip|number_format|fitNumber}}</span> -->

    {%endif%}
   </li>
{%endfor%}

 </ul>


 <div class="pagination-container">
 {%include display.pagination%}
 </div>

{%else%}
 <div class="msg error">{%trans "No Result Found"%}</div>
{%endif%}
</div>