{%extends display.admin%}


{%block ititle%}
<label for="title">{%trans "Title"%}</label>
<textarea class="txt mB10" id='title' name="title" placeholder='{%trans "Title"%}' maxlength='500' rows="2">{{dataRow.title}}</textarea>
{%endblock%}

{%block idesc%}
<label for="desc">{%trans "Description"%}</label>
<textarea class="txt mB10" id='desc' name="desc" placeholder='{%trans "Description"%}' maxlength='500' rows="3" >{{dataRow.desc}}</textarea>
{%endblock%}


{%block itype%}

<div class='normal f justify-center'>


{%for key, value in allType%}

  <a class="vcard mA10 {%if dataRow.type == value.key %} green {%endif%}active " href='{{url.pwd}}' data-ajaxify data-method='post' data-data='{"type" : "{{value.key}}"}'>
    <img src="{{value.logo}}" alt="{{value.title}}" class="pA10-f">
    <div class="content">
      <div class="header">{{value.title}}</div>
      <div class="meta"></div>
      <div class="footer">{{value.desc}}</div>
    </div>
  </a>
{%endfor%}

</div>

{%endblock%}


{%block irandom%}
  {%if choiceDetail.choice%}

<div class="mT15">
 <label >{%trans "Sort choice type"%}</label>

 <div class="radio1">
  <input type="radio" id="r-save" name="choice_sort" value="save" {%if dataRow.setting.choice_sort == 'save' or not  dataRow.setting.choice_sort %} checked{%endif%}>
  <label for="r-save">{%trans "By save"%}</label>
 </div>

 <div class="radio1">
  <input type="radio" id="r-random" name="choice_sort" value="random" {%if dataRow.setting.choice_sort == 'random' %} checked{%endif%}>
  <label for="r-random">{%trans "Random"%}</label>
 </div>


 <div class="radio1">
  <input type="radio" id="r-asc" name="choice_sort" value="asc" {%if dataRow.setting.choice_sort == 'asc' %} checked{%endif%}>
  <label for="r-asc">{%trans "Alphabet A-Z"%}</label>
 </div>

 <div class="radio1">
  <input type="radio" id="r-desc" name="choice_sort" value="desc" {%if dataRow.setting.choice_sort == 'desc' %} checked{%endif%}>
  <label for="r-desc">{%trans "Alphabet Z-A"%}</label>
 </div>


</div>
  {%endif%}
{%endblock%}



{%block choiceinline%}
  {%if choiceDetail.choiceinline%}
    <div class="switch1 mB10">
     <input type="checkbox" name="choiceinline" id="choiceinline" {%if dataRow.setting.choiceinline %}checked{%endif%}>
     <label for="choiceinline"></label>
     <label for="choiceinline">{%trans "Show every choice in one line"%}</label>
    </div>
  {%endif%}
{%endblock%}

{%block iother%}
  {%if choiceDetail.otherchoice%}
    <div class="switch1 mB10">
     <input type="checkbox" name="otherchoice" id="otherchoice" {%if dataRow.setting.otherchoice %}checked{%endif%}>
     <label for="otherchoice"></label>
     <label for="otherchoice">{%trans "Show other choice"%}</label>
    </div>
  {%endif%}
{%endblock%}

{%block irequire%}
<div class="switch1 mB10">
 <input type="checkbox" name="require" id="require" {%if dataRow.require %}checked{%endif%}>
 <label for="require"></label>
 <label for="require">{%trans "Is require"%}</label>
</div>
{%endblock%}


{%block imaxchar %}
{%if choiceDetail.maxchar or choiceDetail.otherchoice%}
<label for="maxchar">{%trans "Maximum char"%}</label>
<div class="input">
  <input type="number" name="maxchar" id="maxchar" placeholder='{{"0-99999999" | fitNumber}}' value="{{dataRow.maxchar}}"  min='0' max="99999999">
</div>
{%endif%}

{%if choiceDetail.min%}
<label for="min">{%trans "Minimum"%}</label>
<div class="input">
  <input type="number" name="min" id="min" placeholder='{{"0-99999999" | fitNumber}}' value="{{dataRow.setting.min}}"  min='0' max="99999999">
</div>
{%endif%}

{%if choiceDetail.max%}
<label for="max">{%trans "Maximum"%}</label>
<div class="input">
  <input type="number" name="max" id="max" placeholder='{{"0-99999999" | fitNumber}}' value="{{dataRow.setting.max}}"  min='0' max="99999999">
</div>
{%endif%}


{%if choiceDetail.maxrate%}
<label for="maxrate">{%trans "Maximum"%}</label>
<div class="input">
  <input type="number" name="maxrate" id="maxrate" placeholder='{{"1-10" | fitNumber}}' value="{{dataRow.setting.maxrate}}"  min='1' max="10">
</div>
{%endif%}


{%if choiceDetail.minchoice%}
<label for="minchoice">{%trans "Minimum choice"%}</label>
<div class="input">
  <input type="number" name="minchoice" id="minchoice" {%if dataRow.choice%} placeholder='{{("0-" ~ (dataRow.choice | length)) | fitNumber}}' {%endif%} value="{{dataRow.setting.minchoice}}"  min='0' max="{{dataRow.choice | length}}">
</div>
{%endif%}


{%if choiceDetail.maxchoice%}
<label for="maxchoice">{%trans "Maximum choice"%}</label>
<div class="input">
  <input type="number" name="maxchoice" id="maxchoice" {%if dataRow.choice%} placeholder='{{("1-" ~ (dataRow.choice | length)) | fitNumber}}' {%endif%} value="{{dataRow.setting.maxchoice}}"  min='1' max="{{dataRow.choice | length}}">
</div>
{%endif%}

{%if choiceDetail.choicehelp%}
<label for="choicehelp">{%trans "Multi choice help text"%}</label>
<div class="input">
  <input type="text" name="choicehelp" id="choicehelp" placeholder='{%trans "You can select more than one choice!"%}' value="{{dataRow.setting.choicehelp}}"  min='1' max="{{dataRow.choice | length}}">
</div>
{%endif%}



{%if choiceDetail.label3 %}
<label for="label3">{%trans "Label"%}</label>
<div class="f">

  <div class="c">
    <div class="input">
      <input type="text" name="label1" id="label3" placeholder='{%trans "For example: Low"%}' value="{{dataRow.setting.label1}}" maxlength='100' minlength="1" pattern=".{1,100}">
    </div>
  </div>

  <div class="c mLa5">
    <div class="input">
      <input type="text" name="label2" id="label3-2" placeholder='{%trans "For example: Middle"%}' value="{{dataRow.setting.label2}}" maxlength='100' minlength="1" pattern=".{1,100}">
    </div>
  </div>

  <div class="c mLa5">
    <div class="input">
      <input type="text" name="label3" id="label3-3" placeholder='{%trans "For example: High"%}' value="{{dataRow.setting.label3}}" maxlength='100' minlength="1" pattern=".{1,100}">
    </div>
  </div>
</div>
{%endif%}

{%if choiceDetail.default %}
<label for="default">{%trans "Default"%}</label>
<div class="input">
  <input type="number" name="default" id="default" placeholder='{%trans "Default"%}' value="{{dataRow.setting.default}}" min="{{dataRow.setting.min}}" max="{{dataRow.setting.max}}">
</div>
{%endif%}

{%if choiceDetail.step %}
<label for="step">{%trans "Step"%}</label>
<div class="input">
  <input type="number" name="step" id="step" placeholder='{%trans "Step"%}' value="{{dataRow.setting.step}}" min="{{dataRow.setting.min}}" max="{{dataRow.setting.max}}">
</div>
{%endif%}

{%if choiceDetail.ratetype%}

 <label >{%trans "Rate emoji"%}</label>
<div class="mT15">

 <div class="radioRating compact" >
  <div class="rateBox">
    <input type="radio" id="r-star" name="ratetype" value="star" {%if dataRow.setting.ratetype == 'star' or not  dataRow.setting.ratetype %} checked {%endif%}>
    <label for="r-star"></label>
   </div>
  </div>

 <div class="radioRating compact heart">
  <div class="rateBox">
    <input type="radio" id="r-heart" name="ratetype" value="heart" {%if dataRow.setting.ratetype == 'heart' %} checked {%endif%}>
    <label for="r-heart"></label>
   </div>
  </div>

 <div class="radioRating compact bell">
  <div class="rateBox">
    <input type="radio" id="r-bell" name="ratetype" value="bell" {%if dataRow.setting.ratetype == 'bell' %} checked {%endif%}>
    <label for="r-bell"></label>
   </div>
  </div>

 <div class="radioRating compact flag">
  <div class="rateBox">
    <input type="radio" id="r-flag" name="ratetype" value="flag" {%if dataRow.setting.ratetype == 'flag' %} checked {%endif%}>
    <label for="r-flag"></label>
   </div>
  </div>

 <div class="radioRating compact bookmark">
  <div class="rateBox">
    <input type="radio" id="r-bookmark" name="ratetype" value="bookmark" {%if dataRow.setting.ratetype == 'bookmark' %} checked {%endif%}>
    <label for="r-bookmark"></label>
   </div>
  </div>

<div class="radioRating compact like">
  <div class="rateBox">
    <input type="radio" id="r-like" name="ratetype" value="like" {%if dataRow.setting.ratetype == 'like' %} checked {%endif%}>
    <label for="r-like"></label>
   </div>
  </div>

 <div class="radioRating compact dislike">
  <div class="rateBox">
    <input type="radio" id="r-dislike" name="ratetype" value="dislike" {%if dataRow.setting.ratetype == 'dislike' %} checked {%endif%}>
    <label for="r-dislike"></label>
   </div>
  </div>

 <div class="radioRating compact user1">
  <div class="rateBox">
    <input type="radio" id="r-user1" name="ratetype" value="user1" {%if dataRow.setting.ratetype == 'user1' %} checked {%endif%}>
    <label for="r-user1"></label>
   </div>
  </div>

</div>
{%endif%}

{% endblock %}


{%block ichoice %}
<label for="choicetitle">{%trans "Title"%}</label>
<div class="input">
  <input type="text" name="choicetitle" id="choicetitle" placeholder='{%trans "Choise title"%}' autofocus {% if not choiceDetail.upload_choice %} required {%endif%} maxlength='200' minlength="1" pattern=".{1,200}" >
</div>
{% endblock %}


{%block placeholder %}
{%if choiceDetail.placeholder %}
<label for="placeholder">{%trans "Placeholder"%}</label>
<div class="input">
  <input type="text" name="placeholder" id="placeholder" placeholder='{%trans "Type here ..."%}'  value="{{dataRow.setting.placeholder}}" title='{%trans "To change placeholder type hrere"%}'  maxlength='200' minlength="1" pattern=".{1,200}" >
</div>
{%endif%}
{% endblock %}




{%block pageSteps%}

  <div class="f">

   <div class="c">
    <a class="dcard {%if url.child == 'type'%}active{%endif%}" href='{{url.this}}/type?id={{requestGET.id}}&questionid={{requestGET.questionid}}' data-shortkey="49ctrlshift" >
     <div class="statistic sm">
      <div class="value"><i class="sf-exchange"></i></div>
      <div class="label">{%trans "Type"%}<br><kbd class="mT5">Ctrl+Shift+1</kbd></div>
     </div>
    </a>
   </div>


   <div class="c">
    <a class="dcard {%if url.child == 'general'%}active{%endif%}" href='{{url.this}}/general?id={{requestGET.id}}&questionid={{requestGET.questionid}}' data-shortkey="50ctrlshift" >
     <div class="statistic sm">
      <div class="value"><i class="sf-lightbulb-o"></i></div>
      <div class="label">{%trans "General"%}<br><kbd class="mT5">Ctrl+Shift+2</kbd></div>
     </div>
    </a>
   </div>

    <div class="cauto">
    <a class="dcard" data-direct target="_blank" href='{{url.kingdom}}/s/{{surveyRow.id}}?step={{dataRow.sort}}' data-shortkey="51ctrlshift" >
     <div class="statistic orange">
      <div class="value"><i class="sf-link"></i></div>
      <div class="label">{%trans "Show preview"%}</div>
     </div>
    </a>
   </div>

  </div>
{%endblock%}


{%block inext%}
<button class="btn primary block mT20">{%trans "Next"%}</button>
{%endblock%}

{%block iadd%}
<button class="btn primary block mT20">{%trans "Add"%}</button>
{%endblock%}

{%block isave%}
<button class="btn primary block mT20">{%trans "Save"%}</button>
{%endblock%}




{%block imedia%}
{%if dataRow.media.file%}
  <div class="mediaBox mB10">
    <img src="{{dataRow.media.file}}" alt="{{dataRow.title}}" id="logoPreview">
  </div>
{%endif%}

<label for="media" class="block">{%trans "Image/Video"%}</label>
<div class="input" title='{%trans "allowed extentions jpg, png. Max 1000Kb"%}'>
 <input type="file" accept="image/gif, image/jpeg, image/png" name="media" id="media" data-max="1000">
</div>
{%endblock%}
