{%extends display.admin%}


{%block ititle%}
<label for="title">{%trans "Title"%}</label>
<textarea class="txt mB10" id='title' name="title" placeholder='{%trans "Title"%}' maxlength='500' rows="3">{{dataRow.title}}</textarea>
{%endblock%}



{%block idesc%}
<label for="desc">{%trans "Description"%}</label>
<textarea class="txt mB10" id='desc' name="desc" placeholder='{%trans "Description"%}' maxlength='500' rows="4" >{{dataRow.desc}}</textarea>
{%endblock%}




{%block itype%}

<div class='normal f justify-center'>
{%for key, value in allType%}
  {%if requestGET.questionid%}

    <a class="vcard mA10 {%if dataRow.type == value.key %} green {%endif%}active" href='{{url.pwd}}' data-ajaxify data-method='post' data-data='{"type" : "{{value.key}}"}'>
      <img src="{{value.logo}}" alt="{{value.title}}" class="pA10-f">
      <div class="content">
        <div class="header">{{value.title}}</div>
      </div>
    </a>

  {%else%}

    <a class="vcard mA10 {%if dataRow.type == value.key %} green {%endif%}active " href='{{url.this}}/general?id={{requestGET.id}}&type={{value.key}}' >
      <img src="{{value.logo}}" alt="{{value.title}}" class="pA10-f">
      <div class="content">
        <div class="header">{{value.title}}</div>
        <div class="meta"></div>
        <div class="footer">{{value.desc}}</div>
      </div>
    </a>
  {%endif%}
{%endfor%}

</div>
{%endblock%}




{%block placeholder %}

<label for="placeholder">{%trans "Placeholder"%}</label>
<div class="input">
  <input type="text" name="placeholder" id="placeholder" placeholder='{%trans "Type here ..."%}'  value="{{dataRow['setting'][choiceDetail.key]['placeholder']}}" title='{%trans "To change placeholder type here"%}'  maxlength='200' minlength="1" pattern=".{1,200}" >
</div>

{% endblock %}





{% block short_answer %}
<label for="max">{%trans "Maximum char"%}</label>
 <div class="rangeSlider1">
  <input type="range" name="max" min="1" max="{{choiceDetail.default_load.max}}"  value="{%if dataRow.setting.short_answer.max%}{{dataRow.setting.short_answer.max}}{%else%}{{choiceDetail.default_load.default}}{%endif%}" >
  <output>{%if dataRow.setting.short_answer.max%}{{dataRow.setting.short_answer.max}}{%else%}{{choiceDetail.default_load.default}}{%endif%}</output>
</div>
{{block('placeholder')}}

{%endblock%}



{% block descriptive_answer %}
<label for="max">{%trans "Maximum char"%}</label>
 <div class="rangeSlider1">
  <input type="range" name="max" min="1" max="{{choiceDetail.default_load.max}}"  value="{%if dataRow.setting.descriptive_answer.max%}{{dataRow.setting.descriptive_answer.max}}{%else%}{{choiceDetail.default_load.default}}{%endif%}" >
  <output>{%if dataRow.setting.descriptive_answer.max%}{{dataRow.setting.descriptive_answer.max}}{%else%}{{choiceDetail.default_load.default}}{%endif%}</output>
</div>
{{block('placeholder')}}

{%endblock%}




{% block numeric %}

<label for="min">{%trans "Minimum"%}</label>
<div class="input">
  <input type="number" name="min" id="min" placeholder='{{(choiceDetail.default_load.min ~ "-" ~ choiceDetail.default_load.max)  | fitNumber}}' value="{{dataRow.setting.numeric.min}}"  min='{{choiceDetail.default_load.min}}' max="{{choiceDetail.default_load.max}}">
</div>

<label for="max">{%trans "Maximum"%}</label>
<div class="input">
  <input type="number" name="max" id="max" placeholder='{{(choiceDetail.default_load.min ~ "-" ~ choiceDetail.default_load.max)  | fitNumber}}' value="{{dataRow.setting.numeric.max}}"  min='{{choiceDetail.default_load.min}}' max="{{choiceDetail.default_load.max}}">
</div>

{%endblock%}



{%block irandom%}

<div class="mT15">
 <label >{%trans "Sort choice type"%}</label>

 <div class="radio1">
  <input type="radio" id="r-save" name="choice_sort" value="save" {%if dataRow['setting'][choiceDetail.key]['choice_sort'] == 'save' or not  dataRow['setting'][choiceDetail.key]['choice_sort'] %} checked{%endif%}>
  <label for="r-save">{%trans "By save"%}</label>
 </div>

 <div class="radio1">
  <input type="radio" id="r-random" name="choice_sort" value="random" {%if dataRow['setting'][choiceDetail.key]['choice_sort'] == 'random' %} checked{%endif%}>
  <label for="r-random">{%trans "Random"%}</label>
 </div>

 <div class="radio1">
  <input type="radio" id="r-asc" name="choice_sort" value="asc" {%if dataRow['setting'][choiceDetail.key]['choice_sort'] == 'asc' %} checked{%endif%}>
  <label for="r-asc">{%trans "Alphabet A-Z"%}</label>
 </div>

 <div class="radio1">
  <input type="radio" id="r-desc" name="choice_sort" value="desc" {%if dataRow['setting'][choiceDetail.key]['choice_sort'] == 'desc' %} checked{%endif%}>
  <label for="r-desc">{%trans "Alphabet Z-A"%}</label>
 </div>
</div>
{%endblock%}



{% block single_choice %}
  {{block('irandom')}}
  <div class="switch1 mB10">
   <input type="checkbox" name="choiceinline" id="choiceinline" {%if dataRow.setting.single_choice.choiceinline %}checked{%endif%}>
   <label for="choiceinline"></label>
   <label for="choiceinline">{%trans "Show every choice in one line"%}</label>
 </div>
{%endblock%}




{% block multiple_choice %}

  {{block('irandom')}}
  <label for="min">{%trans "Minimum"%}</label>
<div class="input">
  <input type="number" name="min" id="min" placeholder='{{(choiceDetail.default_load.min ~ "-" ~ (dataRow.choice | length))  | fitNumber}}' value="{{dataRow.setting.multiple_choice.min}}"  min='{{choiceDetail.default_load.min}}' max="{{(dataRow.choice | length)}}">
</div>

<label for="max">{%trans "Maximum"%}</label>
<div class="input">
  <input type="number" name="max" id="max" placeholder='{{(choiceDetail.default_load.min ~ "-" ~ (dataRow.choice | length))  | fitNumber}}' value="{{dataRow.setting.multiple_choice.max}}"  min='{{choiceDetail.default_load.min}}' max="{{(dataRow.choice | length)}}">
</div>

<label for="choicehelp">{%trans "Multi choice help text"%}</label>
<div class="input">
  <input type="text" name="choicehelp" id="choicehelp" placeholder='{%trans "You can select more than one choice!"%}' value="{{dataRow.setting.choicehelp}}"  min='1' max="{{dataRow.choice | length}}">
</div>
{%endblock%}



{% block dropdown %}
  {{block('irandom')}}
  {{block('placeholder')}}
{%endblock%}



{% block date %}
  {{block('placeholder')}}
{%endblock%}


{% block time %}
  {{block('placeholder')}}
{%endblock%}


{% block mobile %}
  {{block('placeholder')}}
{%endblock%}


{% block email %}
  {{block('placeholder')}}
{%endblock%}



{% block website %}
  {{block('placeholder')}}
{%endblock%}


{% block rating %}
<label for="max">{%trans "Maximum"%}</label>
<div class="input">
  <input type="number" name="max" id="max" placeholder='{{"1-10" | fitNumber}}' value="{{dataRow.setting.rating.max}}"  min='1' max="10">
</div>


 <label >{%trans "Rate emoji"%}</label>
<div class="mT15">

 <div class="radioRating compact" >
  <div class="rateBox">
    <input type="radio" id="r-star" name="ratetype" value="star" {%if dataRow['setting'][choiceDetail.key]['ratetype'] == 'star' or not  dataRow['setting'][choiceDetail.key]['ratetype'] %} checked {%endif%}>
    <label for="r-star"></label>
   </div>
  </div>

 <div class="radioRating compact heart">
  <div class="rateBox">
    <input type="radio" id="r-heart" name="ratetype" value="heart" {%if dataRow['setting'][choiceDetail.key]['ratetype'] == 'heart' %} checked {%endif%}>
    <label for="r-heart"></label>
   </div>
  </div>

 <div class="radioRating compact bell">
  <div class="rateBox">
    <input type="radio" id="r-bell" name="ratetype" value="bell" {%if dataRow['setting'][choiceDetail.key]['ratetype'] == 'bell' %} checked {%endif%}>
    <label for="r-bell"></label>
   </div>
  </div>

 <div class="radioRating compact flag">
  <div class="rateBox">
    <input type="radio" id="r-flag" name="ratetype" value="flag" {%if dataRow['setting'][choiceDetail.key]['ratetype'] == 'flag' %} checked {%endif%}>
    <label for="r-flag"></label>
   </div>
  </div>

 <div class="radioRating compact bookmark">
  <div class="rateBox">
    <input type="radio" id="r-bookmark" name="ratetype" value="bookmark" {%if dataRow['setting'][choiceDetail.key]['ratetype'] == 'bookmark' %} checked {%endif%}>
    <label for="r-bookmark"></label>
   </div>
  </div>

<div class="radioRating compact like">
  <div class="rateBox">
    <input type="radio" id="r-like" name="ratetype" value="like" {%if dataRow['setting'][choiceDetail.key]['ratetype'] == 'like' %} checked {%endif%}>
    <label for="r-like"></label>
   </div>
  </div>

 <div class="radioRating compact dislike">
  <div class="rateBox">
    <input type="radio" id="r-dislike" name="ratetype" value="dislike" {%if dataRow['setting'][choiceDetail.key]['ratetype'] == 'dislike' %} checked {%endif%}>
    <label for="r-dislike"></label>
   </div>
  </div>

 <div class="radioRating compact user1">
  <div class="rateBox">
    <input type="radio" id="r-user1" name="ratetype" value="user1" {%if dataRow['setting'][choiceDetail.key]['ratetype'] == 'user1' %} checked {%endif%}>
    <label for="r-user1"></label>
   </div>
  </div>

</div>
{%endblock%}



{% block rangeslider %}


<label for="label3">{%trans "Label"%}</label>
<div class="f">

  <div class="c">
    <div class="input">
      <input type="text" name="label1" id="label3" placeholder='{%trans "For example: Low"%}' value="{{dataRow.setting.rangeslider.label1}}" maxlength='100' minlength="1" pattern=".{1,100}">
    </div>
  </div>

  <div class="c mLa5">
    <div class="input">
      <input type="text" name="label2" id="label3-2" placeholder='{%trans "For example: Middle"%}' value="{{dataRow.setting.rangeslider.label2}}" maxlength='100' minlength="1" pattern=".{1,100}">
    </div>
  </div>

  <div class="c mLa5">
    <div class="input">
      <input type="text" name="label3" id="label3-3" placeholder='{%trans "For example: High"%}' value="{{dataRow.setting.rangeslider.label3}}" maxlength='100' minlength="1" pattern=".{1,100}">
    </div>
  </div>
</div>


<label for="min">{%trans "Minimum"%}</label>
<div class="input">
  <input type="number" name="min" id="min" placeholder='{{(choiceDetail.default_load.min ~ "-" ~ choiceDetail.default_load.max)  | fitNumber}}' value="{{dataRow.setting.rangeslider.min}}"  min='{{choiceDetail.default_load.min}}' max="{{choiceDetail.default_load.max}}">
</div>

<label for="max">{%trans "Maximum"%}</label>
<div class="input">
  <input type="number" name="max" id="max" placeholder='{{(choiceDetail.default_load.min ~ "-" ~ choiceDetail.default_load.max)  | fitNumber}}' value="{{dataRow.setting.rangeslider.max}}"  min='{{choiceDetail.default_load.min}}' max="{{choiceDetail.default_load.max}}">
</div>

<label for="default">{%trans "Default"%}</label>
<div class="input">
  <input type="number" name="default" id="default" placeholder='{%trans "Default"%}' value="{{dataRow.setting.rangeslider.default}}" min="0" max="9999999999">
</div>


<label for="step">{%trans "Step"%}</label>
<div class="input">
  <input type="number" name="step" id="step" placeholder='{%trans "Step"%}' value="{{dataRow.setting.rangeslider.step}}" min="0" max="9999999999">
</div>


{%endblock%}





{%block irequire%}
<div class="switch1 mB10">
 <input type="checkbox" name="require" id="require" {%if dataRow.require %}checked{%endif%}>
 <label for="require"></label>
 <label for="require">{%trans "Is require"%}</label>
</div>
{%endblock%}






{%block pageSteps%}

  <div class="f">

   <div class="c">
    <a class="dcard {%if url.child == 'type'%}active{%endif%}" href='{{url.this}}/type?id={{requestGET.id}}&questionid={{requestGET.questionid}}{%if requestGET.type%}&type={{requestGET.type}}{%endif%}' data-shortkey="84+49" >
     <div class="statistic sm">
      <div class="value"><i class="sf-question-circle"></i></div>
      <div class="label">{%trans "Question Type"%}<br><kbd class="mT5">t+1</kbd></div>
     </div>
    </a>
   </div>


   <div class="c">
    <a class="dcard {%if  url.child == 'general'%}active{%endif%}" href='{{url.this}}/general?id={{requestGET.id}}&questionid={{requestGET.questionid}}{%if requestGET.type%}&type={{requestGET.type}}{%endif%}' data-shortkey="84+50" >
     <div class="statistic sm">
      <div class="value"><i class="sf-lightbulb-o"></i></div>
      <div class="label">{%trans "Question Title"%}<br><kbd class="mT5">t+2</kbd></div>
     </div>
    </a>
   </div>

   {%if requestGET.questionid%}

   {%if choiceDetail.choice%}

    <div class="c">
    <a class="dcard {%if url.child == 'choice'%}active{%endif%}" href='{{url.this}}/choice?id={{requestGET.id}}&questionid={{requestGET.questionid}}{%if requestGET.type%}&type={{requestGET.type}}{%endif%}' data-shortkey="84+51" >
     <div class="statistic sm">
      <div class="value"><i class="sf-list"></i></div>
      <div class="label">{%trans "Question Options"%}<br><kbd class="mT5">t+3</kbd></div>
     </div>
    </a>
   </div>

   {%endif%}

   {%if dataRow.type == 'password'%}
   {%else%}
    <div class="c">
    <a class="dcard {%if url.child == 'setting'%}active{%endif%}" href='{{url.this}}/setting?id={{requestGET.id}}&questionid={{requestGET.questionid}}{%if requestGET.type%}&type={{requestGET.type}}{%endif%}' data-shortkey="84+52" >
     <div class="statistic sm">
      <div class="value"><i class="sf-cogs"></i></div>
      <div class="label">{%trans "Question Settings"%}<br><kbd class="mT5">t+4</kbd></div>
     </div>
    </a>
   </div>
   {%endif%}



    <div class="cauto">
    <a class="dcard" data-direct target="_blank" href='{{url.kingdom}}/s/{{surveyRow.id}}?step={{dataRow.sort}}' data-shortkey="84+53" >
     <div class="statistic sm orange">
      <div class="value"><i class="sf-link"></i></div>
      <div class="label">{%trans "Show preview"%}<br><kbd class="mT5">t+5</kbd></div>
     </div>
    </a>
   </div>
   {%endif%}

  </div>
{%endblock%}


{%block inext%}
<button class="btn primary block mT20">{%trans "Next"%}</button>
{%endblock%}

{%block iadd%}
<button class="btn primary block mT20">{%trans "Add"%}</button>
{%endblock%}

{%block isave%}
<button class="btn primary block mT20">{%trans "Save"%}</button>
{%endblock%}




{%block imedia%}

{%if dataRow.media.file%}
   <div class="mediaBox mB10">

{% set myExt = dataRow.media.file[(dataRow.media.file | length)-3:3] %}
 {%if myExt == 'mp4' %}
    <video class="block" controls>
     <source src="{{dataRow.media.file}}" type="video/mp4">
    </video>
 {%elseif myExt == 'mp3' %}
    <audio class="block" controls>
     <source src="{{dataRow.media.file}}" type="audio/mp3">
    </audio>
 {%elseif myExt == 'png' or myExt == 'jpg' or myExt == 'jpeg' or myExt == 'gif'%}
    <img src="{{dataRow.media.file}}" alt="{{myTitle.title}}">
 {%elseif myExt == 'pdf' %}
    <a class="btn primary outline block" href="{{dataRow.media.file}}">{%trans "Download PDF"%}</a>
 {%else%}
    <a class="btn primary outline block" href="{{dataRow.media.file}}">{%trans "Download File"%}</a>
 {%endif%}
   </div>
{%endif%}


<label for="media" class="block">{%trans "Image/Video"%}</label>
<div class="input" title='{%trans "Max allowed size 1Mb"%}'>
 <input type="file" name="media" id="media" data-max="1000">
</div>
{%endblock%}
