{%extends display.dash%}


{%block ititle%}
<label for="title">{%trans "Title"%}</label>
<textarea class="txt mB10" id='title' name="title" placeholder='{%trans "Title"%}' maxlength='500' rows="3">{{dataRow.title}}</textarea>
{%endblock%}

{%block idesc%}
<label for="desc">{%trans "Description"%}</label>
<textarea class="txt mB10" id='desc' name="desc" placeholder='{%trans "Description"%}' maxlength='500' rows="5">{{dataRow.desc}}</textarea>
{%endblock%}


{%block itype%}
<div class="mB10" title='{%trans "Add new question by type"%}'>
  <label for="type">{%trans "Type"%}</label>
  <select name="type" class="ui dropdown select">
    <option value=""><i>{%trans "Please select one item"%}</i></option>
    {%for key, value in allType%}
      <option value="{{value.key}}" {%if dataRow.type == value.key %} selected {%endif%}>{%set myTitle = value.title%}{%trans myTitle%}</option>
    {%endfor%}
  </select>
</div>
{%endblock%}



{%block ilanguage%}
<div class="mB10" title='{%trans "You can publish in another language"%}'>
  <label for="language">{%trans "Language"%}</label>
  <select name="language" class="ui dropdown select">
    <option value=""><i>{%trans "Please select one item"%}</i></option>
    {%for key, value in lang.list%}
      {%if key | length == 2%}
      <option value="{{key}}" {%if dataRow.language == key or (not dataRow.lang and lang.current == key)  %} selected {%endif%}>{{value}}</option>
      {%endif%}
    {%endfor%}
  </select>
</div>
{%endblock%}


{%block ipassword %}
<label for="password">{%trans "Poll password"%}</label>
<div class="input">
  <input type="text" name="password" id="password" placeholder='{%trans "Poll password"%}' value="{{dataRow.password}}"  maxlength='200' minlength="1" pattern=".{1,200}" >
</div>
{% endblock %}





{%block istatus%}

<div class="mT15">
 <label >{%trans "Status"%}</label>

 <div class="radio1 green">
  <input type="radio" id="r-publish" name="status" value="publish" {%if dataRow.status == 'publish' or not dataRow.status %} checked{%endif%}>
  <label for="r-publish">{%trans "Publish"%}</label>
 </div>

 <div class="radio1 black">
  <input type="radio" id="r-draft" name="status" value="draft" {%if dataRow.status == 'draft'%} checked{%endif%} >
  <label for="r-draft">{%trans "Draft"%}</label>
 </div>

 <div class="radio1 yellow ">
  <input type="radio" id="r-disable" name="status" value="disable" {%if dataRow.status == 'disable'  %} checked{%endif%}>
  <label for="r-disable">{%trans "Disable"%}</label>
 </div>

 <div class="radio1 red mB25">
  <input type="radio" id="r-deleted" name="status" value="deleted" {%if dataRow.status == 'deleted'  %} checked{%endif%}>
  <label for="r-deleted">{%trans "Deleted"%}</label>
 </div>

</div>
{%endblock%}



{%block iprivacy%}

<div class="mT15">

 <label >{%trans "Privacy"%}</label>

 <div class="radio1 green">
  <input type="radio" id="r-private" name="privacy" value="private" {%if dataRow.privacy == 'private' or not dataRow.privacy %} checked{%endif%}>
  <label for="r-private">{%trans "Private"%}</label>
 </div>

 <div class="radio1 black">
  <input type="radio" id="r-public" name="privacy" value="public" {%if dataRow.privacy == 'public'%} checked{%endif%} >
  <label for="r-public">{%trans "Public"%}</label>
 </div>

</div>
{%endblock%}




{%block pageSteps%}

  <div class="f">


   <div class="c s4">
    <a class="dcard {%if url.child == 'type'%}active{%endif%}" href='{{url.this}}/type?id={{requestGET.id}}' data-shortkey="49ctrlshift" >
     <div class="statistic sm">
      <div class="value"><i class="sf-exchange"></i></div>
      <div class="label">{%trans "Type"%}<br><kbd class="mT5">Ctrl+Shift+1</kbd></div>
     </div>
    </a>
   </div>


   <div class="c s4">
    <a class="dcard {%if url.child == 'general'%}active{%endif%}" href='{{url.this}}/general?id={{requestGET.id}}' data-shortkey="50ctrlshift" >
     <div class="statistic sm">
      <div class="value"><i class="sf-lightbulb-o"></i></div>
      <div class="label">{%trans "General"%}<br><kbd class="mT5">Ctrl+Shift+2</kbd></div>
     </div>
    </a>
   </div>

    <div class="c s4">
    <a class="dcard {%if url.child == 'setting'%}active{%endif%}" href='{{url.this}}/setting?id={{requestGET.id}}' data-shortkey="51ctrlshift" >
     <div class="statistic sm">
      <div class="value"><i class="sf-cogs"></i></div>
      <div class="label">{%trans "Settings"%}<br><kbd class="mT5">Ctrl+Shift+3</kbd></div>
     </div>
    </a>
   </div>

   <div class="c s4">
    <a class="dcard {%if url.child == 'media'%}active{%endif%}" href='{{url.this}}/media?id={{requestGET.id}}' data-shortkey="52ctrlshift" >
     <div class="statistic sm">
      <div class="value"><i class="sf-cloud-upload"></i></div>
      <div class="label">{%trans "Media"%}<br><kbd class="mT5">Ctrl+Shift4</kbd></div>
     </div>
    </a>
   </div>


   {%if true%}
   <div class="c s4">
    <a class="dcard {%if url.child == 'choise'%}active{%endif%}" href='{{url.this}}/choise?id={{requestGET.id}}' data-shortkey="53ctrlshift" >
     <div class="statistic sm">
      <div class="value"><i class="sf-list-ol"></i></div>
      <div class="label">{%trans "Choise"%}<br><kbd class="mT5">Ctrl+Shift+5</kbd></div>
     </div>
    </a>
   </div>
   {%endif%}



  </div>
{%endblock%}


{%block inext%}
<button class="btn primary block mT20">{%trans "Next"%}</button>
{%endblock%}

{%block iadd%}
<button class="btn primary block mT20">{%trans "Add"%}</button>
{%endblock%}

{%block isave%}
<button class="btn primary block mT20">{%trans "Save"%}</button>
{%endblock%}



{%block ibranding%}
<div class="switch1 mB10">
 <input type="checkbox" name="branding" id="branding" {%if dataRow.branding %}checked{%endif%}>
 <label for="branding"></label>
 <label for="branding">{%trans "Enable branding"%}</label>
</div>
{%endblock%}


{%block ibrandingtitle %}
<label for="brandingtitle">{%trans "Branding title"%}</label>
<div class="input">
  <input type="text" name="brandingtitle" id="brandingtitle" placeholder='{%trans "Branding title"%}' value="{{dataRow.brandingtitle}}"  maxlength='200' minlength="1" pattern=".{1,200}" >
</div>
{% endblock %}


{%block ibrandingdesc%}
<label for="brandingdesc">{%trans "Description"%}</label>
<textarea class="txt mB10" id='brandingdesc' name="brandingdesc" placeholder='{%trans "Description"%}' maxlength='500' rows="5">{{dataRow.brandingdesc}}</textarea>
{%endblock%}


{%block ibrandingfile%}
<label for="brandingfile" class="block txtC">{%trans "Image/Video/File"%}</label>
<div class="input preview">
 <input type="file" accept="image/gif, image/jpeg, image/png" name="brandingfile" id="brandingfile" data-preview data-max="1000">
 <label for="brandingfile" title='{%trans "allowed extentions jpg, png. Max 1000Kb"%}'>
{%if dataRow.brandingmeta.file%}
  <img src="{{dataRow.brandingmeta.file}}" alt="{{dataRow.title}}" id="logoPreview">
{%endif%}
 </label>
</div>
{%endblock%}

{%block ibrandingurl %}
<label for="brandingurl">{%trans "Branding url"%}</label>
<div class="input">
  <input type="url" name="brandingurl" id="brandingurl" placeholder='{%trans "Branding url"%}' value="{{dataRow.brandingmeta.url}}"  maxlength='200' minlength="1" pattern=".{1,200}" >
</div>
{% endblock %}



{%block iredirect %}
<label for="redirect">{%trans "Redirect after complete"%}</label>
<div class="input">
  <input type="url" name="redirect" id="redirect" placeholder='{%trans "Like"%} http://example.com' value="{{dataRow.redirect}}"  maxlength='2000' minlength="1" pattern=".{1,2000}" >
</div>
{% endblock %}



{%block iprogresbar%}
<div class="switch1 mB10">
 <input type="checkbox" name="progresbar" id="progresbar" {%if dataRow.progresbar %}checked{%endif%}>
 <label for="progresbar"></label>
 <label for="progresbar">{%trans "Show progresbar"%}</label>
</div>
{%endblock%}


{%block itrans%}
<label for="trans">{%trans "Translation"%}</label>
<textarea class="txt mB10" id='trans' name="trans" placeholder='{%trans "Translation list"%}' maxlength='500' rows="5">{{dataRow.trans}}</textarea>
{%endblock%}





{%block iemail%}
<div class="switch1 mB10">
 <input type="checkbox" name="email" id="email" {%if dataRow.email %}checked{%endif%}>
 <label for="email"></label>
 <label for="email">{%trans "Enable email"%}</label>
</div>
{%endblock%}


{%block iemailtitle %}
<label for="emailtitle">{%trans "Email title"%}</label>
<div class="input">
  <input type="text" name="emailtitle" id="emailtitle" placeholder='{%trans "Email title"%}' value="{{dataRow.emailtitle}}"  maxlength='200' minlength="1" pattern=".{1,200}" >
</div>
{% endblock %}


{%block iemailmsg%}
<label for="emailmsg">{%trans "Description"%}</label>
<textarea class="txt mB10" id='emailmsg' name="emailmsg" placeholder='{%trans "Description"%}' maxlength='500' rows="5">{{dataRow.emailmsg}}</textarea>
{%endblock%}



{%block iemailto %}
<label for="emailto">{%trans "Email to"%}</label>
<div class="input">
  <input type="email" name="emailto" id="emailto" placeholder='{%trans "Email to"%}' value="{{dataRow.emailto}}"  maxlength='200' minlength="1" pattern=".{1,200}" >
</div>
{% endblock %}







{%block iwellcomemessagetitle %}
<label for="wellcometitle">{%trans "Wellcome message title"%}</label>
<div class="input">
  <input type="text" name="wellcometitle" id="wellcometitle" placeholder='{%trans "Wellcome message title"%}' value="{{dataRow.wellcometitle}}"  maxlength='200' minlength="1" pattern=".{1,200}" >
</div>
{% endblock %}


{%block iwellcomemessagedesc%}
<label for="wellcomedesc">{%trans "Description"%}</label>
<textarea class="txt mB10" id='wellcomedesc' name="wellcomedesc" placeholder='{%trans "Description"%}' maxlength='500' rows="5">{{dataRow.wellcomedesc}}</textarea>
{%endblock%}


{%block iwellcomemessagefile%}
<label for="wellcomefile" class="block txtC">{%trans "Wellcome Image/Video"%}</label>
<div class="input preview">
 <input type="file" accept="image/gif, image/jpeg, image/png" name="wellcomefile" id="wellcomefile" data-preview data-max="1000">
 <label for="wellcomefile" title='{%trans "allowed extentions jpg, png. Max 1000Kb"%}'>
{%if dataRow.wellcomemedia.file%}
  <img src="{{dataRow.wellcomemedia.file}}" alt="{{dataRow.title}}" id="logoPreview">
{%endif%}
 </label>
</div>
{%endblock%}




{%block ithankyoutitle %}
<label for="thankyoutitle">{%trans "Thankyou message title"%}</label>
<div class="input">
  <input type="text" name="thankyoutitle" id="thankyoutitle" placeholder='{%trans "Thankyou message title"%}' value="{{dataRow.thankyoutitle}}"  maxlength='200' minlength="1" pattern=".{1,200}" >
</div>
{% endblock %}


{%block ithankyoudesc%}
<label for="thankyoudesc">{%trans "Description"%}</label>
<textarea class="txt mB10" id='thankyoudesc' name="thankyoudesc" placeholder='{%trans "Description"%}' maxlength='500' rows="5">{{dataRow.thankyoudesc}}</textarea>
{%endblock%}


{%block ithankyoufile%}
<label for="thankyoufile" class="block txtC">{%trans "Thankyou Image/Video"%}</label>
<div class="input preview">
 <input type="file" accept="image/gif, image/jpeg, image/png" name="thankyoufile" id="thankyoufile" data-preview data-max="1000">
 <label for="thankyoufile" title='{%trans "allowed extentions jpg, png. Max 1000Kb"%}'>
{%if dataRow.thankyoumedia.file%}
  <img src="{{dataRow.thankyoumedia.file}}" alt="{{dataRow.title}}" id="logoPreview">
{%endif%}
 </label>
</div>
{%endblock%}