{%extends display.main%}
{%block content%}
<div class="main">
 <div class="box">
  <div class="in">
   <article>
    <h1><a href="#">Create poll in Sarshomar</a></h1>
    <img src="{{url.static}}images/miniature/agencies.png" alt="">
    <p>Create poll in Sarshomar is so easy. You should just creat new poll and set in it  to be a poll with a special submit.</p>
   </article>

   <article>
    <h1><a href="" title="">Creat poll in Sarshomar</a></h1>
    <p class="">Create poll in Sarshomar is so easy. You should just creat new poll and set in it to be a poll with a special submit.</p>
    <p class="em">Create poll in sarshomar is so easy. You should just creat new poll and set in it  to be a poll with a special submit.</p>
   </article>

   <article>
    <h1><a href="" title="">Create poll in Sarshomar</a></h1>
    <p>Creat poll in Sarshomar is so easy. You should just creat new poll and set in it to be a poll with a special submit.</p>
    <img src="{{url.static}}images/miniature/valid-population.png" alt="">
   </article>
  </div>
 </div>
</div>
{%endblock%}
