{%extends display.main%}


{%block content%}
<div class="main pad lg">
  <div class="box">
    <h2 class="sh large">{%trans "Changelog"%}</h2>
  </div>

  <div class="box in xxlarge">
    <table class="tbl1 v1">
     <thead>
      <tr>
       <th>{%trans "Date"%}</th>
       <th>{%trans "Description"%}</th>
      </tr>
     </thead>
     <tbody>

      <tr>
       <td>...</td>
       <td>{%trans "We are Developers, please wait!"%}</td>
      </tr>

      <tr>
       <td>{%trans "Soon"%}</td>
       <td></td>
      </tr>

      <tr>
       <td>{{"2018-11-25" | dt(true)}}</td>
       <td>{%trans "Improve design of admin panel to manage and create survey easily."%}<small class="floatRa pRa20">{{"2.6" | fitNumber(false)}}</small></td>
      </tr>

      <tr>
       <td>{{"2018-11-02" | dt(true)}}</td>
       <td>{%trans "Telegram of version2 is fully connected to Sarshomar"%}<small class="floatRa pRa20">{{"2.5" | fitNumber(false)}}</small></td>
      </tr>

      <tr>
       <td>{{"2018-08-21" | dt(true)}}</td>
       <td>{%trans "Version 2 of sarshomar is released"%}<small class="floatRa pRa20">{{"2.2" | fitNumber(false)}}</small></td>
      </tr>

      <tr>
       <td>{{"2018-07-01" | dt(true)}}</td>
       <td>{%trans "Rebuild version 2 of sarshomar is started"%}</td>
      </tr>

      <tr>
       <td>{{"2017-03-28" | dt(true)}}</td>
       <td>{%trans "Version 1 of sarshomar released"%}<small class="floatRa pRa20">{{"1.5" | fitNumber(false)}}</small></td>
      </tr>

      <tr>
       <td>{{"2017-03-21" | dt(true)}}</td>
       <td>{%trans "Delta version of sarshomar released"%}<small class="floatRa pRa20">{{"1.4" | fitNumber(false)}}</small></td>
      </tr>

      <tr>
       <td>{{"2017-02-10" | dt(true)}}</td>
       <td>{%trans "Gamma version of sarshomar released"%}<small class="floatRa pRa20">{{"1.3" | fitNumber(false)}}</small></td>
      </tr>

      <tr>
       <td>{{"2017-02-09" | dt(true)}}</td>
       <td>{%trans "Finally Sarshomar logo is accepted and we started branding"%} <a href='{{url.kingdom}}/logo' target="_blank"><img src="{{url.site}}/static/images/logo/logo.png" height="40" width="40" alt='{%trans "Sarshomar Logo"%}'/></a></td>
      </tr>

      <tr class="active">
       <td>{{"2016-12-26" | dt(true)}}</td>
       <td>{%trans "Beta version of Sarshomar released"%}<small class="floatRa pRa20">{{"1.2" | fitNumber(false)}}</small></td>
      </tr>

      <tr>
       <td>{{"2016-11-22" | dt(true)}}</td>
       <td>{%trans "Alfa version of Sarshomar is ready"%}<small class="floatRa pRa20">{{"1.1" | fitNumber(false)}}</small></td>
      </tr>

      <tr>
       <td>{{"2016-10-23" | dt(true)}}</td>
       <td>{%trans "Demo version of Sarshomar released"%}<small class="floatRa pRa20">{{"1.0" | fitNumber(false)}}</small></td>
      </tr>

      <tr>
       <td>{{"2016-08-22" | dt(true)}}</td>
       <td>{%trans "Sarshomar is ready to start"%}</td>
      </tr>

      <tr>
       <td>{{"2016-01-30" | dt(true)}}</td>
       <td>{%trans "The name of project selected as Sarshomar and <a href='https://sarshomar.com'>Sarshomar.com</a> and <a href='http://sarshomar.ir'>Sarshomar.ir</a> domains registered. "%}</td>
      </tr>

      <tr>
       <td>...</td>
       <td>{%trans "We were born to do Best!"%}</td>
      </tr>
     </tbody>
    </table>

    <p class="msg info txtC mT25">{%trans "Be patient..."%}</p>

  </div>
</div>

{%endblock%}

