{%extends display.admin%}


{%block pageContent%}
<div class='middle normal f justify-center'>

  <div class="vcard mA10">
    <img src="{{url.site}}/static/siftal/images/useful/plus1.png" alt="add new survey">
    <div class="content"></div>
    <div class="footer pAn">
     <a class="btn block primary" href="{{url.here}}/survey/add">{%trans "Add new survey"%}</a>
    </div>
  </div>

{%for key, value in dataTable%}

{%set cardColor%}
	{%if value.status == 'enable'%}green{%else%}black{%endif%}
{%endset%}
<div class="vcard shadow c3 green mA10 s12">
  <a href='{{url.here}}/survey?id={{value.id}}'>
    <div class="content title">
      <div class="header">{{value.title}}</div>
    </div>
    <div class="footer txtC">{{value.status}}</div>
  </a>
</div>
{%endfor%}

</div>
{%endblock%}



{%block sidenav%}
<li><a href="{{url.here}}"><i class='sf-tachometer'></i> <span>{% trans "Questionnaires" %}</span></a></li>
<li>
  <ul>
{%for key, value in dataTable%}
    <li><a href="{{url.here}}/survey?id={{value.id}}"><i class='floatRa mRa10 fc-mute sf-question-circle'></i> <span>{{value.title}}</span></a></li>
{%endfor%}

  </ul>
</li>
<li><a href="{{url.here}}/survey/add"><i class='sf-plus'></i> <span>{%trans "Add new survey"%}</span></a></li>

{%endblock%}

