{%extends display.survey%}




{%block pageContent%}

<div class="f">
 <div class="c4 s12">{{block ("stSetting")}}</div>
 <div class="c4 s12">{{block ("stQuestion")}}</div>
 <div class="c4 s12">{{block ("stSort")}}</div>
</div>

<div class="f">
  <div class="c9 s12">
    {{block ("chart_primary")}}
  </div>
  <div class="c3 s12">
    {{block ("stChartDetail")}}
  </div>
</div>


<div class="f">
 <div class="c6 s12">{{block ("stReport")}}</div>
 <div class="c6 s12">{{block ("prDate")}}</div>
</div>


{%endblock%}



{%block stSetting%}
<a class="dcard" href='{{url.this}}/general?id={{requestGET.id}}'>
 <div class="statistic teal">
  <div class="value"><i class="sf-cog"></i></div>
  <div class="label">{%trans "Setting"%}</div>
 </div>
</a>
{%endblock%}



{%block stQuestion%}
<a class="dcard" href='{{url.here}}/question?id={{requestGET.id}}'>
 <div class="statistic pink">
  <div class="value"><i class="sf-list-ol"></i></div>
  <div class="label">{%trans "Questions"%}</div>
 </div>
</a>
{%endblock%}


{%block stSort%}
<a class="dcard" href='{{url.here}}/sort?id={{requestGET.id}}'>
 <div class="statistic yellow">
  <div class="value"><i class="sf-flag-checkered"></i></div>
  <div class="label">{%trans "Sort block"%}</div>
 </div>
</a>
{%endblock%}



{%block stReport%}
<a class="dcard" href='{{url.here}}/report?id={{requestGET.id}}'>
 <div class="statistic brown">
  <div class="value"><i class="sf-chart"></i></div>
  <div class="label">{%trans "Report"%}</div>
 </div>
</a>
{%endblock%}



{%block prDate%}
<div class="dcard">
 <div class="block">
  <div class="f">
  {%if lang.current == 'fa'%}
   <h5 class="c fc-mute">{{"now" | jdate('F')}}</h5>
   <h4 class="cauto fc-info fs30 txtra">{{"now" | jdate('d')}}</h4>
  {%else%}
    <h5 class="c fc-mute">{{"now" | date('F')}}</h5>
    <h4 class="cauto fc-info fs30 txtra">{{"now" | date('d')}}</h4>
  {%endif%}
  </div>
  <div class="f">
   <div class="progress" data-percent='{{dashboardDetail.month_detail.left}}'>
    <div class="bar"></div>
   </div>
  </div>
 </div>
</div>
{%endblock%}



{%block chart_primary%}
{%if chartData%}
<div class="dcard x3 pA0">
 <div class="chart" id="chartdiv" >
 </div>
</div>
{%else%}
<div class="dcard x3 pA0">
 <p class="fs18">{%trans "No user answer to this survey yet!"%}</p>
</div>
{%endif%}
{%endblock%}



{%block stChartDetail%}
<a class="dcard x3" >
 <div class="statistic gray">
  <div class="value">
  <div class="label">{%trans "Answer chart"%}</div>
  </div>
 </div>
</a>
{%endblock%}



{%block foot_js%}
<script type="text/javascript">

</script>
{%endblock%}