{%extends display.survey%}




{%block pageContent%}

<div class="f">
  <div class="c6 s12">
    <div class="f">
     <div class="c6">{{block ("stSetting")}}</div>
     <div class="c6">{{block ("stReport")}}</div>
     <div class="c12">{{block ("stCheckStatus")}}</div>
     <div class="c6">{{block ("stQuestion")}}</div>
     <div class="c6">{{block ("stSort")}}</div>
     <div class="c12">{{block ("stLink")}}</div>
     <div class="c12">{{block ("sharePage")}}</div>
    </div>


    {%if false%}
    <div class="f">
      <div class="c9 s12">
        {{block ("chart_primary")}}
      </div>
      <div class="c3 s12">
        {{block ("stChartDetail")}}
      </div>
    </div>
    {%endif%}
  </div>
  <div class="c6 s12">
        {{block ("bQuestions")}}
  </div>
</div>






{%endblock%}




{%block bQuestions%}
<div class="cbox fs10 mLR5">
  <h3>
    <span>{%trans "Your Survey"%}</span>
    <a class="floatRa badge primary" href='{{url.here}}/question/add?id={{requestGET.id}}'><i class="pRa5 sf-plus-circle"></i>{%trans "Add new question"%}</a>
    <a class="floatRa badge secondary mRa5" href='{{url.here}}/sort?id={{requestGET.id}}'><i class="pRa5 sf-list-ol"></i>{%trans "Question Sorter"%}</a>
  </h3>

  <div class="msg info2 fs11">
    <div class="txtB">
      <h3 class="mB10-f"><a href="{{url.here}}/survey/welcome?id={{requestGET.id}}">{%trans "Welcome message"%}<span class="badge floatRa">{%trans "Edit"%}</span></a></h3>
      {%if surveyRow.welcomemedia%}<i title='{%trans "Have Media"%}' class="fs12 sf-file-image-o mRa5"></i>{%endif%}
      {{surveyRow.welcometitle}}
    </div>
    <div>{{surveyRow.welcomedesc | raw}}</div>
    {%if not surveyRow.welcometitle and not surveyRow.welcomedesc%}<i>{%trans "Without welcome message"%}</i>{%endif%}
  </div>

{%for key, value in questionList%}
  <a href="{{url.here}}/question/general?id={{requestGET.id}}&questionid={{value.id}}" class="msg {%if value.require%}danger2{%else%}success2{%endif%} f">
    <div class="cauto pRa10">{{(key + 1) | fitNumber}}</div>
    <div class="cauto pRa10 s0">
      {%if value.require%}
          <i title='{%trans "Required answer"%}' class="fs12 sf-lock"></i>
      {%else%}
          <i title='{%trans "Optional to answer"%}' class="fs12 sf-unlock"></i>
      {%endif%}
    </div>

    <div class="c Ra10">
        <div class="txtB">
          {%if value.media.file%}<i title='{%trans "Have Media"%}' class="fs12 sf-file-image-o mRa5"></i>{%endif%}
          {{value.title}}
        </div>

        {%if value.desc%}<div class="mT10 s0">{{value.desc}}</div>{%endif%}
        {%if not value.title and not value.desc%}<i>{%trans "Untitled"%}</i>{%endif%}

{%if value.choice%}
        <div class="answersItem">
{%for qIndex, qItem in value.choice%}
          <span class="badge light"><i class="compact mRa5 sf-check"></i>{{qItem.title}}</span>
{%endfor%}
        </div>
{%endif%}
    </div>

    <div class="cauto pLa10 os"><small class="badge light">{{value.type_detail.title}}</small></div>
  </a>
{%endfor%}
  <a href="{{url.here}}/question/add?id={{requestGET.id}}" class="msg block">
    <i class="sf-plus-circle fs14 mRa10"></i>{%trans "Add new question"%}
  </a>

  <div class="msg info2 fs11">
    <h3 class="mB10-f"><a href="{{url.here}}/survey/thankyou?id={{requestGET.id}}">{%trans "Thank you message"%}<span class="badge floatRa">{%trans "Edit"%}</span></a></h3>

    <div class="txtB">
      {%if surveyRow.thankyoumedia%}<i title='{%trans "Have Media"%}' class="fs12 sf-file-image-o mRa5"></i>{%endif%}
      {{surveyRow.thankyoutitle}}
    </div>
    <div>{{surveyRow.thankyoudesc | raw}}</div>
    {%if not surveyRow.thankyoutitle and not surveyRow.thankyoudesc%}<i>{%trans "Without thank you message"%}</i>{%endif%}
  </div>

</div>
{%endblock%}







{%block stCheckStatus%}
<a class="dcard {%if surveyRow.status == 'publish'%}success{%elseif surveyRow.status == 'deleted'%}danger{%else%}warn{%endif%}" href='{{url.this}}/status?id={{requestGET.id}}'>
 <div class="statistic">
  <div class="value"><i class="sf-publish"></i></div>
  <div class="label">{%trans "Survey status"%} {%set myStatus = surveyRow.status%} <b>{%trans myStatus%}</b></div>
 </div>
</a>
{%endblock%}


{%block stLink%}
<a class="dcard" href='{{url.kingdom}}/s/{{surveyRow.id}}'>
 <div class="statistic orange">
  <div class="value"><i class="sf-heart"></i></div>
  <div class="label">{%trans "Live Preview"%}</div>
 </div>
</a>
{%endblock%}


{%block stSetting%}
<a class="dcard x2" href='{{url.this}}/general?id={{requestGET.id}}'>
 <div class="statistic teal">
  <div class="value"><i class="sf-cog"></i></div>
  <div class="label">{%trans "Setting"%}</div>
 </div>
</a>
{%endblock%}



{%block stQuestion%}
<a class="dcard x2" href='{{url.here}}/question?id={{requestGET.id}}'>
 <div class="statistic">
  <div class="value"><i class="sf-list-ul"></i></div>
  <div class="label">{%trans "Questions"%}</div>
 </div>
</a>
{%endblock%}


{%block stSort%}
<a class="dcard x2" href='{{url.here}}/sort?id={{requestGET.id}}'>
 <div class="statistic">
  <div class="value"><i class="sf-refresh"></i></div>
  <div class="label">{%trans "Question Sorter"%}</div>
 </div>
</a>
{%endblock%}



{%block stReport%}
<a class="dcard x2" href='{{url.here}}/report?id={{requestGET.id}}'>
 <div class="statistic brown">
  <div class="value"><i class="sf-analytics-chart-graph"></i></div>
  <div class="label">{%trans "Report"%}</div>
 </div>
</a>
{%endblock%}



{%block prDate%}
<div class="dcard x2">
 <div class="block">
  <div class="f">
    <h5 class="c fc-mute">{{"now" | dt('F')}}</h5>
    <h4 class="cauto fc-info fs30 txtra">{{"now" | dt('d')}}</h4>
  </div>
  <div class="f">
   <div class="progress" data-percent='{{dashboardDetail.month_detail.left}}'>
    <div class="bar"></div>
   </div>
  </div>
 </div>
</div>
{%endblock%}



{%block chart_primary%}
{%if chartData%}
<div class="dcard x3 pA0">
 <div class="chart" id="chartdiv" >
 </div>
</div>
{%else%}
<div class="dcard x3 pA0">
 <p class="fs18">{%trans "No user answer to this survey yet!"%}</p>
</div>
{%endif%}
{%endblock%}



{%block stChartDetail%}
<a class="dcard x3" >
 <div class="statistic gray">
  <div class="value">
  <div class="label">{%trans "Answer chart"%}</div>
  </div>
 </div>
</a>
{%endblock%}



{%block foot_js%}
<script type="text/javascript">

</script>
{%endblock%}


{%block sharePage%}
<nav class="sharePage1">

  <a target="_blank" class="facebook btn" href="https://www.facebook.com/sharer.php?u={{url.kingdom}}/s/{{surveyRow.id}}"><span class="mRa5 sf-facebook-official"></span>{%trans "Share on Facebook"%}</a>

  <a target="_blank" class="twitter btn" href="https://twitter.com/intent/tweet?url={{url.kingdom}}/s/{{surveyRow.id}}&text={{surveyRow.title | url_encode}}"><span class="mRa5 sf-twitter"></span>{%trans "Share on Twitter"%}</a>

  <a target="_blank" class="linkedin btn" href="https://www.linkedin.com/shareArticle?mini=true&url={{url.kingdom}}/s/{{surveyRow.id}}&title={{surveyRow.title | url_encode}}&summary={{surveyRow.desc | url_encode}}&source={{site.title}}"><span class="mRa5 sf-linkedin-square"></span>{%trans "Share on LinkedIn"%}</a>

  <a target="_blank" class="email btn" href="mailto:?body={{url.kingdom}}/s/{{surveyRow.id}}&subject={{surveyRow.title | url_encode}}"><span class="mRa5 sf-email-envelope"></span>{%trans "Send as Email"%}</a>

  <a target="_blank" class="telegram btn" href="https://t.me/share/url?url={{url.kingdom}}/s/{{surveyRow.id}}&text={{surveyRow.title | url_encode}}"><span class="mRa5 sf-paper-plane"></span>{%trans "Share on Telegram"%}</a>

  <a target="_blank" class="btn success" href="{{url.kingdom}}/s/{{surveyRow.id}}"><span class="mRa5 sf-receipt-shopping-streamline"></span>{%trans "Survey Link"%}</a>

</nav>
{%endblock%}




