{%extends display.question%}




{%block pageContent%}
<div class="cbox">

    <a class="msg f " href="{{url.this}}/add?id={{requestGET.id}}">
    <div class="cauto">
      <span class="sf-plus-circle fs40  pRa25 vlbottom"></span>
    </div>
    <div class="c">
      <h3>{%trans "Add new question"%}</h3>
    </div>
    </a>

  {%for key, value in dataTable%}
    <div class="msg f">
      <div class="cauto pRa20">{{(key + 1) | fitNumber}}</div>
      <div class="c2">
        {%if value.type%}<small class="badge warn">{{value.type_detail.title}}</small>{%endif%}
      </div>
      <div class="s12">
        <a href="{{url.this}}/general?id={{requestGET.id}}&questionid={{value.id}}" class="fc-black">
          {%if value.title%}<b>{{value.title}}</b>{%endif%}
          {%if value.desc%}<b>{%if value.title%} | <small>{{value.desc}}</small>{%else%}{{value.desc}}{%endif%}</b>{%endif%}
          {%if not value.title and not value.desc%}<i>{%trans "Untitled"%}</i>{%endif%}
        </a>
      </div>
      <div class="cauto os">
        <a href="{{url.pwd}}" data-ajaxify data-method='post' data-data='{"type" : "remove", "id" : "{{value.id}}"}' class="badge danger">{%trans "Remove"%}</a>
      </div>
    </div>
  {%endfor%}
</div>
{%endblock%}

