{%extends display.question%}



{%block pageContent%}

<div class="msg info2">
  <div class="txtB">
    <h3 class="mB10-f"><a href="{{url.here}}/survey/welcome?id={{requestGET.id}}">{%trans "Welcome message"%}<span class="badge floatRa">{%trans "Edit"%}</span></a></h3>
    {%if surveyRow.welcomemedia%}<i title='{%trans "Have Media"%}' class="fs12 sf-file-image-o mRa5"></i>{%endif%}
    {{surveyRow.welcometitle}}
  </div>
  <div>{{surveyRow.welcomedesc | raw}}</div>
</div>

<table class="tbl1 v1 fs12">
  <thead>
    <tr>
      <th class="">#</th>
      <th class="s0 txtC collapsing">{%trans "Edit"%}</th>
      {%if haveAddress%}
      <th class="txtC">{%trans "Address"%}</th>
      {%endif%}
      <th class="txtC">{%trans "Type"%}</th>
      <th>{%trans "Title"%}</th>
      <th>{%trans "Choice"%}</th>
      <th class="s0 txtC">{%trans "Require"%}</th>
      <th class="txtC"><span class="s0">{%trans "Operation"%}</span></th>
    </tr>
  </thead>
  <tbody>

{%for key, value in questionList%}
    <tr class="{%if value.require%}negative{%else%}positive{%endif%}">
      <td class="collapsing">{{(key + 1) | fitNumber}}</td>
      <td class="s0">
        <a href="{{url.this}}/general?id={{requestGET.id}}&questionid={{value.id}}" class="badge secondary">{%trans "Edit"%}</a>
      </td>
      {%if haveAddress%}
      <td class="collapsing"><code>{{value.address}}</code></td>
      {%endif%}
      <td class="collapsing txtB txtC">{{value.type_detail.title}}</td>
      <td>
        <a href="{{url.this}}/general?id={{requestGET.id}}&questionid={{value.id}}">
          <div class="txtB">
            {%if value.media.file%}<i title='{%trans "Have Media"%}' class="fs12 sf-file-image-o mRa5"></i>{%endif%}
            {{value.title}}
          </div>
        {%if value.desc%}<div class="mT10 fs09 s0">{{value.desc}}</div>{%endif%}
        {%if not value.title and not value.desc%}<div>{%trans "Untitled"%}</div>{%endif%}
        </a>
      </td>
      <td>
        {%if value.type_detail.choice%}
          {%for k, v in value.choice%}
          <span class="btn  mT5 info2 outline" {%if v.title | length > 30%} title='{{v.title}}' {%endif%} >{{v.title | slice(0,30)}}{%if v.title | length > 30%}...{%endif%}{%if v.score%}<b title='{%trans "Score"%}' class="badge info mLa5">{{v.score | fitNumber}}</b>{%endif%}</span>
          {%endfor%}
        {%endif%}
      </td>
      <td class="s0 collapsing txtB txtC">
        {%if value.require%}
          <i title='{%trans "Required answer"%}' class="fs12 sf-lock"></i>
        {%else%}
          <i title='{%trans "Optional to answer"%}' class="fs12 sf-unlock"></i>
        {%endif%}
      </td>
      <td class="txtC collapsing">
        <a href="{{url.pwd}}" data-confirm data-data='{"type" : "remove", "id" : "{{value.id}}"}' class="badge danger">{%trans "Remove"%}</a>
      </td>
    </tr>
{%endfor%}
  </tbody>
</table>

<div class="msg info2">
  <h3 class="mB10-f"><a href="{{url.here}}/survey/thankyou?id={{requestGET.id}}">{%trans "Thank you message"%}<span class="badge floatRa">{%trans "Edit"%}</span></a></h3>

  <div class="txtB">
    {%if surveyRow.thankyoumedia%}<i title='{%trans "Have Media"%}' class="fs12 sf-file-image-o mRa5"></i>{%endif%}
    {{surveyRow.thankyoutitle}}
  </div>
  <div>{{surveyRow.thankyoudesc | raw}}</div>
</div>


<a class="msg success fs18 txtC block" href="{{url.this}}/add?id={{requestGET.id}}">
  <span class="sf-plus-circle fs14"></span> {%trans "Add new question"%}
</a>

{%endblock%}

