{%extends display.question%}




{%block pageContent%}

<table class="tbl1 v1 fs12">
  <thead>
    <tr>
      <th>#</th>
      <th class="txtC">{%trans "Edit"%}</th>
      <th class="txtC">{%trans "Type"%}</th>
      <th>{%trans "Title"%}</th>
      <th class="txtC">{%trans "Require"%}</th>
      <th class="txtC">{%trans "Operation"%}</th>
    </tr>
  </thead>
  <tbody>
{%for key, value in questionList%}
    <tr class="{%if value.require%}negative{%else%}positive{%endif%}">
      <td class="collapsing">{{(key + 1) | fitNumber}}</td>
      <td>
        <a href="{{url.this}}/general?id={{requestGET.id}}&questionid={{value.id}}" class="badge secondary">{%trans "Edit"%}</a>
      </td>
      <td class="collapsing txtB txtC">{{value.type_detail.title}}</td>
      <td>
        <a href="{{url.this}}/general?id={{requestGET.id}}&questionid={{value.id}}">
        {%if value.title%}<div class="txtB">{{value.title}}</div>{%endif%}
        {%if value.desc%}<div class="mT10 fs09">{{value.desc}}</div>{%endif%}
        {%if not value.title and not value.desc%}<div>{%trans "Untitled"%}</div>{%endif%}
        </a>
      </td>
      <td class="collapsing txtB txtC">
        {%if value.require%}
          <i title='{%trans "Required answer"%}' class="fs12 sf-lock"></i>
        {%else%}
          <i title='{%trans "Optional to answer"%}' class="fs12 sf-unlock"></i>
        {%endif%}
      </td>
      <td class="txtC collapsing">
        <a href="{{url.pwd}}" data-confirm data-data='{"type" : "remove", "id" : "{{value.id}}"}' class="badge danger">{%trans "Remove"%}</a>
      </td>
    </tr>
{%endfor%}
  </tbody>
</table>


<a class="msg success fs18 txtC block" href="{{url.this}}/add?id={{requestGET.id}}">
  <span class="sf-plus-circle fs14"></span> {%trans "Add new question"%}
</a>


{%endblock%}

