{%extends display.survey%}


{%block pageContent%}
{{block('pageSteps')}}
<div class="f justify-center">
	<div class="c6 s12">
		<div class="cbox">
			<form method="post" autocomplete="off">
				{{block('iFavSurvey')}}
				{{block('iStartdate')}}
				{{block('iEnddate')}}
				{{block('iTiming')}}
				{{block('iRandomQuestion')}}
				{{block('iCanNotReview')}}
				{{block('iHiddenField')}}
				{{block('isave')}}
			</form>
		</div>
	</div>
</div>
{%endblock%}

{%block iJustReferer%}
<label for="referer">{%trans "Just allow from this referer"%}</label>
<div class="input">
  <input type="url" name="referer" id="referer" placeholder='{%trans "Simillar"%} http://yourdomain.com' value="{{surveyRow.referer}}"  maxlength='2000' minlength="1" pattern=".{1,2000}" >
</div>
{%endblock%}

{%block iFavSurvey%}
<div class="switch1 mB10">
 <input type="checkbox" name="fav" id="fav" {%if surveyRow.fav %}checked{%endif%}>
 <label for="fav"></label>
 <label for="fav">{%trans "Is fav survey?"%}</label>
</div>
{%endblock%}


{%block iRandomQuestion%}
<div class="switch1 mB10">
 <input type="checkbox" name="randomquestion" id="randomquestion" {%if surveyRow.setting.randomquestion %}checked{%endif%}>
 <label for="randomquestion"></label>
 <label for="randomquestion">{%trans "Load random question to responders?"%}</label>
</div>
<div data-response='randomquestion' {%if surveyRow.setting.randomquestion%}{%else%}data-response-hide{%endif%}>
	<label for="selectivecount">{%trans "Count question"%}<small>{%trans "You can set limit of question to show in every responder"%}</small></label>
	<div class="input ltr">
	  <label class="addon">{%trans "Only show"%}</label>
	  <input type="text" name="selectivecount" id="selectivecount" value="{{surveyRow.setting.selectivecount}}" >
	  <label class="addon">{%trans "Question(s) of all questions"%}</label>
	</div>
</div>
{%endblock%}



{%block iCanNotReview%}
<div class="switch1 mB10">
 <input type="checkbox" name="cannotreview" id="cannotreview" {%if surveyRow.setting.cannotreview %}checked{%endif%}>
 <label for="cannotreview"></label>
 <label for="cannotreview">{%trans "Can not review user last question?"%}</label>
</div>
{%endblock%}





{%block ipassword %}
<h4 data-kerkere=".surveyPassword" {%if surveyRow.password%}data-kerkere-icon='open'{%else%} data-kerkere-icon {%endif%}>{%trans "Enable survery passworrd"%}</h4>

<div class="surveyPassword msg" {%if surveyRow.password%}{%else%} data-kerkere-content='hide' {%endif%}>

<label for="password">{%trans "Survey password"%}</label>
<div class="input">
  <input type="text" name="password" id="password" placeholder='{%trans "Survey password"%}' value="{{surveyRow.password}}"  maxlength='200' minlength="1" pattern=".{1,200}" >
</div>
</div>
{% endblock %}

{%block iStartdate%}

<div class="f">
	<div class="c6 s12 pRa5">
	    <label for="startdate">{%trans "Start date"%}</label>
	    <div class="input ltr">
	      <input class="datepicker" type="text" name="startdate" id="startdate" placeholder='{{"now" | dt(false, "date")}}' value="{{surveyRow.starttime }}" data-view="day" autocomplete="off">
	    </div>
	</div>
	<div class="c6 s12">
	  <label for="starttime">{%trans "Start time"%}</label>
	  <div class="input clockpicker ltr">
	    <input type="text" name="starttime" id="starttime" placeholder='{{"now" | dt("false", "time") | fitNumber(false) | slice(0,5)}}' value='{%if surveyRow.starttime %}{{surveyRow.starttime | dt("false", "time") | slice(0,5)}}{%endif%}' autocomplete="off">
	  </div>
	</div>
</div>

{%endblock%}

{%block iEnddate%}
<div class="f">
	<div class="c6 s12 pRa5">
	    <label for="enddate">{%trans "End date"%}</label>
	    <div class="input ltr">
	      <input class="datepicker" type="text" name="enddate" id="enddate" placeholder='{{"now" | dt(false, "date")}}' value="{{surveyRow.endtime }}" data-view="day" autocomplete="off">
	    </div>
	</div>
	<div class="c6 s12">
	  <label for="endtime">{%trans "End time"%}</label>
	  <div class="input clockpicker ltr">
	    <input type="text" name="endtime" id="endtime" placeholder='{{"now" | dt("false", "time") | fitNumber(false) | slice(0,5)}}' value='{%if surveyRow.endtime %}{{surveyRow.endtime | dt("false", "time") | slice(0,5) }}{%endif%}' autocomplete="off">
	  </div>
	</div>
</div>
{%endblock%}



{%block iHiddenField2%}
<label for="hiddenfield">{%trans "Hidden field key"%}</label>
<div class="input ltr">
  <input type="text" name="hiddenfield" id="hiddenfield" >
</div>
{%endblock%}


{%block iTiming%}
<div class="switch1 mB10">
 <input type="checkbox" name="schedule" id="schedule" {%if surveyRow.setting.schedule.status %}checked{%endif%}>
 <label for="schedule"></label>
 <label for="schedule">{%trans "Enable time limit?"%}</label>
</div>
<div data-response='schedule' {%if surveyRow.setting.schedule.status%}{%else%}data-response-hide{%endif%}>
	<label for="surveytime">{%trans "All survey time per second"%}<small>{%trans "The user must complete in this time"%}</small></label>
	<div class="input ltr">
	  <input type="text" name="surveytime" id="surveytime" value="{{surveyRow.setting.schedule.surveytime}}" >
	</div>
	<label for="questiontime">{%trans "Every question time per second"%}<small>{%trans "The user must complete one question in this time"%}</small></label>
	<div class="input ltr">
	  <input type="text" name="questiontime" id="questiontime"  value="{{surveyRow.setting.schedule.questiontime}}">
	</div>
</div>
{%endblock%}
