<img class="brand-intro" src="{{url.static}}/images/page-logo/brand-intro-half.svg" alt='{%trans "Brand Intro"%}'>
<h3 class="bh">{%trans "Drawing logo"%}</h3>
<div class="l1">
 <p> در ترسیم نشان‌واره از سه رنگ(آبی، قرمز، سفید) استفاده شده که همراه کد رنگ در اختیار شما قرار گرفته است.</p>
</div>
<div class="f fix brand-colors-container">
 <div class="c8 s12">
  <img class="brand-blueprint" src="{{url.static}}/images/page-logo/brand-blueprint.png" alt='{%trans "Brand Blueprint"%}'>
 </div>
 <div class="c4 s12 flex f-column justify-around brand-colors">
  <ul class="brand-color-one">
   <li>
    <span>C</span>
    <span>91</span>
    <span>R</span>
    <span>0</span>
   </li>
   <li>
    <span>M</span>
    <span>48</span>
    <span>G</span>
    <span>102</span>
   </li>
   <li>
    <span>Y</span>
    <span>40</span>
    <span>B</span>
    <span>122</span>
   </li>
   <li>
    <span>K</span>
    <span>14</span>
    <span>#</span>
    <span>00667a</span>
   </li>
  </ul>

  <ul class="brand-color-two">
   <li>
    <span>C</span>
    <span>0</span>
    <span>R</span>
    <span>255</span>
   </li>
   <li>
    <span>M</span>
    <span>0</span>
    <span>R</span>
    <span>255</span>
   </li>
   <li>
    <span>Y</span>
    <span>0</span>
    <span>B</span>
    <span>255</span>
   </li>
   <li>
    <span>K</span>
    <span>0</span>
    <span>#</span>
    <span>ffffff</span>
   </li>
  </ul>

  <ul class="brand-color-three">
   <li>
    <span>C</span>
    <span>13</span>
    <span>R</span>
    <span>204</span>
   </li>
   <li>
    <span>M</span>
    <span>100</span>
    <span>G</span>
    <span>16</span>
   </li>
   <li>
    <span>Y</span>
    <span>89</span>
    <span>B</span>
    <span>48</span>
   </li>
   <li>
    <span>K</span>
    <span>4</span>
    <span>#</span>
    <span>cc1030</span>
   </li>
  </ul>
 </div>
</div>
<img class="logo-blueprint" src="{{url.static}}/images/page-logo/logo-blueprint-fa.png" alt='{%trans "Logo blueprint"%}'>
<img class="logo-blueprint" src="{{url.static}}/images/page-logo/logo-blueprint.png" alt='{%trans "Logo blueprint"%}'>

{%if site.currentlang =='fa'%}
<h3 class="bh">{%trans "Explanations about the logo"%}</h3>
<div class="l1">
 <p>در علم طراحی، هر شکل و فرم، معنای ویژه‌ای را القا می‌کند، آشنایی به خواص شکل‌ها منجر به درک بهتر معانی و مفاهیم استفاده شده توسط طراح می‌گردد. ما نیز برای درک بهتر نشان‌واره‌ی سرشمار توضیح مختصری درباره المان‌هایی که از آن‌ها استفاده کرده‌ایم، بیان می‌کنیم.</p>
 <p class="em">نشانه باید در نهایت زیبایی ساده باشد، طراحی زیبا و کارآمد آن می‌تواند اهمیت بسزایی در محبوبیت آن برند در نظر مخاطبان داشته باشد.</p>
</div>
<div class="l2">
 <ul>
  <li>
   <h4>{%trans "Square"%}</h4>
   <p><span class="img-square"></span>مربع نماد ایستایی و آرامش است که اشاره به مکان دارد و به دلیل شکل ظاهری‌اش القا کننده حس ثبات و سکون است. چهار ضلع مساوی در مربع دربردارنده مفاهیمی چون چهار جهت اصلی، چهار فصل یا چهار مرحله زندگی از کودکی تا جوانی و میانسالی تا پیری می‌باشد.</p>
  </li>
  <li>
   <h4>{%trans "Circle"%}</h4>
   <p><span class="img-circle"></span>دایره با داشتن بی‌نهایت ضلع، نماد پویایی و حرکت است. حرکتی جاودانه و نامتناهی که اشاره به زمان دارد، زمانی که دارای هیچ ابتدا و انتهایی نیست. به عبارت دیگر دایره شکل کاملی می‌باشد که نشانگر یکپارچگی، وحدت، نرمی و لطافت، تفکر عمیق و آرامش است.</p>
  </li>
  <li>
   <h4>{%trans "Pomegranate; Iranians lovely fruit"%}</h4>
   <p><img src="{{url.static}}/images/page-logo/pomegranate.svg" alt='{%trans "Pomegranate"%}'>میوه‌ای افسانه‌ای، مقدس و بهشتی که خاستگاه آن ایران بوده و نیاکان ما سرخی آن را به خورشید تشبیه کرده‌اند. میوه‌ای که شاهکار خلقت و نشان‌دهنده‌ی گوناگونی در طبیعت است. انار نماد زندگی، جاودانگی، وفاداری، سلامت و مهم‌تر از همه نماد وحدت است. در فرهنگ‌های اساطیری و دینی هم انار نماد تولد، برکت و زندگی جاودان است.</p>
  </li>
  <li>
   <h4 class="line blue">{%trans "Blue"%}</h4>
   <p>رنگی آرام، عمیق، شکیبا و احترام برانگیز است، رنگ آبی رنگی معنوی و نماد اعتماد است.</p>
  </li>
  <li>
   <h4 class="line white">{%trans "White"%}</h4>
   <p>رنگی پاک و خالص که القا کننده آرامش است، رنگ سفید نماد روحانی بودن، پاکی و صداقت است.</p>
  </li>
  <li>
   <h4 class="line red">{%trans "Red"%}</h4>
   <p>رنگ قرمز رنگی جذاب است که نشان از قدرت، شور جوانی و تولد دوباره دارد، این رنگ نمادی از زندگی و هیجان است.</p>
  </li>
 </ul>
 <p>ما سعی کردیم که از دو شکل ساده و کامل، از دو رنگ سرد و گرم و از انار، این میوه زیبای ایرانی نشانه‌ای برای خود انتخاب کنیم که الحمدلله با کار مداوم و تلاش فراوان نشانه‌ای خلق شد که در عین سادگی و زیبایی مفهوم مجموعه سرشمار در آن نهفته است، نشانه‌ای که با افتخار نشان‌دهنده سرشمار محصول تمام ایرانی می‌باشد و ما به آن افتخار می‌کنیم و خواهیم کرد.</p>
</div>
{%else%}

{%endif%}




