<h3 class="bh">{%trans "Download our logo"%}</h3>
<div class="l1">
 <p>شما می‌توانید نشان‌واره‌ی ما را به‌صورت تک و یا با لوگوتایپ فارسی و یا لاتین از اینجا دریافت کنید.</p>
</div>
<div class="l2">
	<div class=" height-logo ">
		<div class="three-brand-orginal">
			<div class="hover-logo">
	 			<img src="{{url.static}}images/page-logo/brand-o.png" class="img-hover">
	 			<img src="{{url.static}}images/page-logo/brand.png" alt='{%trans "Sarshomar"%}' class="">
	 		</div>
	 		<div>
				<div class="dropdown">
					<span>jpg</span>
					<div class="dropdown-content">
						<nav class="nav-logo">
							<a href="{{url.static}}images/logo/jpg/sarshomar-logo-back-white-32.jpg">32</a>
							<a href="{{url.static}}images/logo/jpg/sarshomar-logo-back-white-48.jpg">48</a>
							<a href="{{url.static}}images/logo/jpg/sarshomar-logo-back-white-64.jpg">64</a>
							<a href="{{url.static}}images/logo/jpg/sarshomar-logo-back-white-128.jpg">128</a>
							<a href="{{url.static}}images/logo/jpg/sarshomar-logo-back-white-256.jpg">256</a>
							<a href="{{url.static}}images/logo/jpg/sarshomar-logo-back-white-512.jpg">512</a>
							<a href="{{url.static}}images/logo/jpg/sarshomar-logo-back-white-1024.jpg">1024</a>
							<a href="{{url.static}}images/logo/jpg/sarshomar-logo-back-white-2048.jpg">2048</a>
						</nav>
					</div>
				</div>
				<div class="dropdown">
					<span>png</span>
					<div class="dropdown-content">
						<nav class="nav-logo">
							<a href="{{url.static}}images/logo/png/sarshomar-logo-32.png">32</a>
							<a href="{{url.static}}images/logo/png/sarshomar-logo-48.png">48</a>
							<a href="{{url.static}}images/logo/png/sarshomar-logo-64.png">64</a>
							<a href="{{url.static}}images/logo/png/sarshomar-logo-128.png">128</a>
							<a href="{{url.static}}images/logo/png/sarshomar-logo-256.png">256</a>
							<a href="{{url.static}}images/logo/png/sarshomar-logo-512.png">512</a>
							<a href="{{url.static}}images/logo/png/sarshomar-logo-1024.png">1024</a>
							<a href="{{url.static}}images/logo/png/sarshomar-logo-2048.png">2048</a>
						</nav>
					</div>
				</div>
				<div class="dropdown">
					<a href="{{url.static}}images/logo/svg/sarshomar-logo.svg"><span>svg</span></a>
				</div>
			</div>
		</div>
		<div class="three-brand-orginal">
			<div class="hover-logo">
	 			<img src="{{url.static}}images/page-logo/logo-blue-print-fa.png" class="img-hover">
	 			<img src="{{url.static}}images/page-logo/logo-fa.png" alt='{%trans "Sarshomar"%}' class="">
			</div>
 			<div>
				<div class="dropdown">
					<span>jpg</span>
					<div class="dropdown-content">
						<nav class="nav-logo">
							<a href="{{url.static}}images/brand/fa/jpg/sarshomar-brand-fa-32.jpg">32</a>
							<a href="{{url.static}}images/brand/fa/jpg/sarshomar-brand-fa-48.jpg">48</a>
							<a href="{{url.static}}images/brand/fa/jpg/sarshomar-brand-fa-64.jpg">64</a>
							<a href="{{url.static}}images/brand/fa/jpg/sarshomar-brand-fa-128.jpg">128</a>
							<a href="{{url.static}}images/brand/fa/jpg/sarshomar-brand-fa-256.jpg">256</a>
							<a href="{{url.static}}images/brand/fa/jpg/sarshomar-brand-fa-512.jpg">512</a>
							<a href="{{url.static}}images/brand/fa/jpg/sarshomar-brand-fa-1024.jpg">1024</a>
							<a href="{{url.static}}images/brand/fa/jpg/sarshomar-brand-fa-2048.jpg">2048</a>
						</nav>
					</div>
				</div>
				<div class="dropdown">
					<span>png</span>
					<div class="dropdown-content">
						<nav class="nav-logo">
							<a href="{{url.static}}images/brand/fa/png/sarshomar-brand-fa-32.png">32</a>
							<a href="{{url.static}}images/brand/fa/png/sarshomar-brand-fa-48.png">48</a>
							<a href="{{url.static}}images/brand/fa/png/sarshomar-brand-fa-64.png">64</a>
							<a href="{{url.static}}images/brand/fa/png/sarshomar-brand-fa-128.png">128</a>
							<a href="{{url.static}}images/brand/fa/png/sarshomar-brand-fa-256.png">256</a>
							<a href="{{url.static}}images/brand/fa/png/sarshomar-brand-fa-512.png">512</a>
							<a href="{{url.static}}images/brand/fa/png/sarshomar-brand-fa-1024.png">1024</a>
							<a href="{{url.static}}images/brand/fa/png/sarshomar-brand-fa-2048.png">2048</a>
						</nav>
					</div>
				</div>
				<div class="dropdown">
					<a href="{{url.static}}images/brand/fa/svg/sarshomar-brand-fa.svg"><span>svg</span></a>
				</div>
			</div>
		</div>
		<div class="three-brand-orginal">
			<div class="hover-logo">
	 			<img src="{{url.static}}images/page-logo/logo-blue-print.png" class="img-hover">
				<img src="{{url.static}}images/page-logo/logo.png" alt='{%trans "Sarshomar"%}' class="">
			</div>
			<div>
				<div class="dropdown">
					<span>jpg</span>
					<div class="dropdown-content">
						<nav class="nav-logo">
							<a href="{{url.static}}images/brand/en/jpg/sarshomar-brand-32.jpg">32</a>
							<a href="{{url.static}}images/brand/en/jpg/sarshomar-brand-48.jpg">48</a>
							<a href="{{url.static}}images/brand/en/jpg/sarshomar-brand-64.jpg">64</a>
							<a href="{{url.static}}images/brand/en/jpg/sarshomar-brand-128.jpg">128</a>
							<a href="{{url.static}}images/brand/en/jpg/sarshomar-brand-256.jpg">256</a>
							<a href="{{url.static}}images/brand/en/jpg/sarshomar-brand-512.jpg">512</a>
							<a href="{{url.static}}images/brand/en/jpg/sarshomar-brand-1024.jpg">1024</a>
							<a href="{{url.static}}images/brand/en/jpg/sarshomar-brand-2048.jpg">2048</a>
						</nav>
					</div>
				</div>
				<div class="dropdown">
					<span>png</span>
					<div class="dropdown-content">
						<nav class="nav-logo">
							<a href="{{url.static}}images/brand/en/png/sarshomar-brand-32.png">32</a>
							<a href="{{url.static}}images/brand/en/png/sarshomar-brand-48.png">48</a>
							<a href="{{url.static}}images/brand/en/png/sarshomar-brand-64.png">64</a>
							<a href="{{url.static}}images/brand/en/png/sarshomar-brand-128.png">128</a>
							<a href="{{url.static}}images/brand/en/png/sarshomar-brand-256.png">256</a>
							<a href="{{url.static}}images/brand/en/png/sarshomar-brand-512.png">512</a>
							<a href="{{url.static}}images/brand/en/png/sarshomar-brand-1024.png">1024</a>
							<a href="{{url.static}}images/brand/en/png/sarshomar-brand-2048.png">2048</a>
						</nav>
					</div>
				</div>
				<div class="dropdown">
					<a href="{{url.static}}images/brand/en/svg/sarshomar-brand.svg"><span>svg</span></a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="l1">
 	<p>شما می‌توانید نشان‌واره‌ی ما را با توجه به نیاز خود، با رنگ زمینه سرشمار و یا با رنگ زمینه سفید مورد استفاده قرار دهید. ممکن است گاهی نشان‌واره به صورت تک رنگ مورد استفاده قرار گیرد که ما آن را برای شما آماده کرده‌ایم، ولی تا جایی که امکان دارد از نشان‌واره‌ی رنگی ما استفاده کنید.</p>
	<div class="f height-logo three-brand-middle">
		<div class="c4">
			<div class="LogosBadges-imageBG LogosBadges-imageBG-blue three-logo-middle">
				<img src="{{url.static}}images/logo/jpg/sarshomar-logo-back-colored-256.jpg" alt='{%trans "Sarshomar"%}'>
			</div>
			<div>
				<div class="dropdown">
					<span>jpg</span>
					<div class="dropdown-content">
						<nav class="nav-logo">
							<a href="{{url.static}}images/logo/jpg/sarshomar-logo-back-colored-32.jpg">32</a>
							<a href="{{url.static}}images/logo/jpg/sarshomar-logo-back-colored-48.jpg">48</a>
							<a href="{{url.static}}images/logo/jpg/sarshomar-logo-back-colored-64.jpg">64</a>
							<a href="{{url.static}}images/logo/jpg/sarshomar-logo-back-colored-128.jpg">128</a>
							<a href="{{url.static}}images/logo/jpg/sarshomar-logo-back-colored-256.jpg">256</a>
							<a href="{{url.static}}images/logo/jpg/sarshomar-logo-back-colored-512.jpg">512</a>
							<a href="{{url.static}}images/logo/jpg/sarshomar-logo-back-colored-1024.jpg">1024</a>
							<a href="{{url.static}}images/logo/jpg/sarshomar-logo-back-colored-2048.jpg">2048</a>
						</nav>
					</div>
				</div>
				<div class="dropdown">
					<span>png</span>
					<div class="dropdown-content">
						<nav class="nav-logo">
							<a href="{{url.static}}images/logo/png/sarshomar-logo-back-colored-32.png">32</a>
							<a href="{{url.static}}images/logo/png/sarshomar-logo-back-colored-48.png">48</a>
							<a href="{{url.static}}images/logo/png/sarshomar-logo-back-colored-64.png">64</a>
							<a href="{{url.static}}images/logo/png/sarshomar-logo-back-colored-128.png">128</a>
							<a href="{{url.static}}images/logo/png/sarshomar-logo-back-colored-256.png">256</a>
							<a href="{{url.static}}images/logo/png/sarshomar-logo-back-colored-512.png">512</a>
							<a href="{{url.static}}images/logo/png/sarshomar-logo-back-colored-1024.png">1024</a>
							<a href="{{url.static}}images/logo/png/sarshomar-logo-back-colored-2048.png">2048</a>
						</nav>
					</div>
				</div>
				<div class="dropdown">
					<a href="{{url.static}}images/logo/svg/sarshomar-logo-back-colored.svg"><span>svg</span></a>
				</div>
			</div>
		</div>
		<div class="c4">
			<div class="LogosBadges-imageBG LogosBadges-imageBG-light three-logo-middle">
				<img src="{{url.static}}images/logo/png/sarshomar-logo-black-512.png" alt='{%trans "Sarshomar"%}'>
			</div>
			<div>
				<div class="dropdown">
					<span>jpg</span>
					<div class="dropdown-content">
						<nav class="nav-logo">
							<a href="{{url.static}}images/logo/jpg/sarshomar-logo-black-32.jpg">32</a>
							<a href="{{url.static}}images/logo/jpg/sarshomar-logo-black-48.jpg">48</a>
							<a href="{{url.static}}images/logo/jpg/sarshomar-logo-black-64.jpg">64</a>
							<a href="{{url.static}}images/logo/jpg/sarshomar-logo-black-128.jpg">128</a>
							<a href="{{url.static}}images/logo/jpg/sarshomar-logo-black-256.jpg">256</a>
							<a href="{{url.static}}images/logo/jpg/sarshomar-logo-black-512.jpg">512</a>
							<a href="{{url.static}}images/logo/jpg/sarshomar-logo-black-1024.jpg">1024</a>
							<a href="{{url.static}}images/logo/jpg/sarshomar-logo-black-2048.jpg">2048</a>
						</nav>
					</div>
				</div>
				<div class="dropdown">
					<span>png</span>
					<div class="dropdown-content">
						<nav class="nav-logo">
							<a href="{{url.static}}images/logo/png/sarshomar-logo-black-32.png">32</a>
							<a href="{{url.static}}images/logo/png/sarshomar-logo-black-48.png">48</a>
							<a href="{{url.static}}images/logo/png/sarshomar-logo-black-64.png">64</a>
							<a href="{{url.static}}images/logo/png/sarshomar-logo-black-128.png">128</a>
							<a href="{{url.static}}images/logo/png/sarshomar-logo-black-256.png">256</a>
							<a href="{{url.static}}images/logo/png/sarshomar-logo-black-512.png">512</a>
							<a href="{{url.static}}images/logo/png/sarshomar-logo-black-1024.png">1024</a>
							<a href="{{url.static}}images/logo/png/sarshomar-logo-black-2048.png">2048</a>
						</nav>
					</div>
				</div>
				<div class="dropdown">
					<a href="{{url.static}}images/logo/svg/sarshomar-logo-black.svg"><span>svg</span></a>
				</div>
			</div>
		</div>
		<div class="c4">
			<div class="LogosBadges-imageBG LogosBadges-imageBG-dark three-logo-middle">
				<img src="{{url.static}}images/logo/png/sarshomar-logo-white-512.png" alt='{%trans "Sarshomar"%}'>
			</div>
			<div>
				<div class="dropdown">
					<span>jpg</span>
					<div class="dropdown-content">
						<nav class="nav-logo">
							<a href="{{url.static}}images/logo/jpg/sarshomar-logo-white-32.jpg">32</a>
							<a href="{{url.static}}images/logo/jpg/sarshomar-logo-white-48.jpg">48</a>
							<a href="{{url.static}}images/logo/jpg/sarshomar-logo-white-64.jpg">64</a>
							<a href="{{url.static}}images/logo/jpg/sarshomar-logo-white-128.jpg">128</a>
							<a href="{{url.static}}images/logo/jpg/sarshomar-logo-white-256.jpg">256</a>
							<a href="{{url.static}}images/logo/jpg/sarshomar-logo-white-512.jpg">512</a>
							<a href="{{url.static}}images/logo/jpg/sarshomar-logo-white-1024.jpg">1024</a>
							<a href="{{url.static}}images/logo/jpg/sarshomar-logo-white-2048.jpg">2048</a>
						</nav>
					</div>
				</div>
				<div class="dropdown">
					<span>png</span>
					<div class="dropdown-content">
						<nav class="nav-logo">
							<a href="{{url.static}}images/logo/png/sarshomar-logo-white-32.png">32</a>
							<a href="{{url.static}}images/logo/png/sarshomar-logo-white-48.png">48</a>
							<a href="{{url.static}}images/logo/png/sarshomar-logo-white-64.png">64</a>
							<a href="{{url.static}}images/logo/png/sarshomar-logo-white-128.png">128</a>
							<a href="{{url.static}}images/logo/png/sarshomar-logo-white-256.png">256</a>
							<a href="{{url.static}}images/logo/png/sarshomar-logo-white-512.png">512</a>
							<a href="{{url.static}}images/logo/png/sarshomar-logo-white-1024.png">1024</a>
							<a href="{{url.static}}images/logo/png/sarshomar-logo-white-2048.png">2048</a>
						</nav>
					</div>
				</div>
				<div class="dropdown">
					<a href="{{url.static}}images/logo/svg/sarshomar-logo-white.svg"><span>svg</span></a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="l1">
 	<p>نشان‌واره‌ی ما همراه لوگوتایپ در رنگ و زمینه‌های تیره و روشن در اختیار شما قرار داده شده است.</p>
 	<div class="height-logo six-middle-logos">
 		<div class="f">
 			<div class="c4">
 				<div class="LogosBadges-imageBG LogosBadges-imageBG-blue LogosBadges-imageBG-padding">
 					<img src="{{url.static}}images/brand/en/jpg/sarshomar-brand-back-white-256.jpg" alt='{%trans "Sarshomar"%}'>
				</div>
 				<div>
	 				<div class="dropdown">
						<span>jpg</span>
						<div class="dropdown-content">
							<nav class="nav-logo">
								<a href="{{url.static}}images/brand/en/jpg/sarshomar-brand-back-white-32.jpg">32</a>
								<a href="{{url.static}}images/brand/en/jpg/sarshomar-brand-back-white-48.jpg">48</a>
								<a href="{{url.static}}images/brand/en/jpg/sarshomar-brand-back-white-64.jpg">64</a>
								<a href="{{url.static}}images/brand/en/jpg/sarshomar-brand-back-white-128.jpg">128</a>
								<a href="{{url.static}}images/brand/en/jpg/sarshomar-brand-back-white-256.jpg">256</a>
								<a href="{{url.static}}images/brand/en/jpg/sarshomar-brand-back-white-512.jpg">512</a>
								<a href="{{url.static}}images/brand/en/jpg/sarshomar-brand-back-white-1024.jpg">1024</a>
								<a href="{{url.static}}images/brand/en/jpg/sarshomar-brand-back-white-2048.jpg">2048</a>
							</nav>
						</div>
					</div>
					<div class="dropdown">
						<span>png</span>
						<div class="dropdown-content">
							<nav class="nav-logo">
							<a href="{{url.static}}images/brand/en/png/sarshomar-brand-white-back-colored-32.png">32</a>
							<a href="{{url.static}}images/brand/en/png/sarshomar-brand-white-back-colored-48.png">48</a>
							<a href="{{url.static}}images/brand/en/png/sarshomar-brand-white-back-colored-64.png">64</a>
							<a href="{{url.static}}images/brand/en/png/sarshomar-brand-white-back-colored-128.png">128</a>
							<a href="{{url.static}}images/brand/en/png/sarshomar-brand-white-back-colored-256.png">256</a>
							<a href="{{url.static}}images/brand/en/png/sarshomar-brand-white-back-colored-512.png">512</a>
							<a href="{{url.static}}images/brand/en/png/sarshomar-brand-white-back-colored-1024.png">1024</a>
							<a href="{{url.static}}images/brand/en/png/sarshomar-brand-white-back-colored-2048.png">2048</a>
							</nav>
						</div>
					</div>
					<div class="dropdown">
						<a href="{{url.static}}images/brand/en/svg/sarshomar-brand-type-white.svg"><span>svg</span></a>
					</div>
				</div>
 			</div>
 			<div class="c4">
 				<div class="LogosBadges-imageBG LogosBadges-imageBG-light LogosBadges-imageBG-padding">
 					<img src="{{url.static}}images/brand/en/png/sarshomar-brand-black-512.png" alt='{%trans "Sarshomar"%}'>
				</div>
 				<div>
	 				<div class="dropdown">
						<span>jpg</span>
						<div class="dropdown-content">
							<nav class="nav-logo">
								<a href="{{url.static}}images/brand/en/jpg/sarshomar-brand-black-32.jpg">32</a>
								<a href="{{url.static}}images/brand/en/jpg/sarshomar-brand-black-48.jpg">48</a>
								<a href="{{url.static}}images/brand/en/jpg/sarshomar-brand-black-64.jpg">64</a>
								<a href="{{url.static}}images/brand/en/jpg/sarshomar-brand-black-128.jpg">128</a>
								<a href="{{url.static}}images/brand/en/jpg/sarshomar-brand-black-256.jpg">256</a>
								<a href="{{url.static}}images/brand/en/jpg/sarshomar-brand-black-512.jpg">512</a>
								<a href="{{url.static}}images/brand/en/jpg/sarshomar-brand-black-1024.jpg">1024</a>
								<a href="{{url.static}}images/brand/en/jpg/sarshomar-brand-black-2048.jpg">2048</a>
							</nav>
						</div>
					</div>
					<div class="dropdown">
						<span>png</span>
						<div class="dropdown-content">
							<nav class="nav-logo">
								<a href="{{url.static}}images/brand/en/png/sarshomar-brand-black-32.png">32</a>
								<a href="{{url.static}}images/brand/en/png/sarshomar-brand-black-48.png">48</a>
								<a href="{{url.static}}images/brand/en/png/sarshomar-brand-black-64.png">64</a>
								<a href="{{url.static}}images/brand/en/png/sarshomar-brand-black-128.png">128</a>
								<a href="{{url.static}}images/brand/en/png/sarshomar-brand-black-256.png">256</a>
								<a href="{{url.static}}images/brand/en/png/sarshomar-brand-black-512.png">512</a>
								<a href="{{url.static}}images/brand/en/png/sarshomar-brand-black-1024.png">1024</a>
								<a href="{{url.static}}images/brand/en/png/sarshomar-brand-black-2048.png">2048</a>
							</nav>
						</div>
					</div>
					<div class="dropdown">
						<a href="{{url.static}}images/brand/en/svg/sarshomar-brand-black.svg"><span>svg</span></a>
					</div>
				</div>
 			</div>
 			<div class="c4">
 				<div class="LogosBadges-imageBG LogosBadges-imageBG-dark LogosBadges-imageBG-padding">
 					<img src="{{url.static}}images/brand/en/png/sarshomar-brand-white-512.png" alt='{%trans "Sarshomar"%}'>
				</div>
 				<div>
	 				<div class="dropdown">
						<span>jpg</span>
						<div class="dropdown-content">
							<nav class="nav-logo">
								<a href="{{url.static}}images/brand/en/jpg/sarshomar-brand-white-32.jpg">32</a>
								<a href="{{url.static}}images/brand/en/jpg/sarshomar-brand-white-48.jpg">48</a>
								<a href="{{url.static}}images/brand/en/jpg/sarshomar-brand-white-64.jpg">64</a>
								<a href="{{url.static}}images/brand/en/jpg/sarshomar-brand-white-128.jpg">128</a>
								<a href="{{url.static}}images/brand/en/jpg/sarshomar-brand-white-256.jpg">256</a>
								<a href="{{url.static}}images/brand/en/jpg/sarshomar-brand-white-512.jpg">512</a>
								<a href="{{url.static}}images/brand/en/jpg/sarshomar-brand-white-1024.jpg">1024</a>
								<a href="{{url.static}}images/brand/en/jpg/sarshomar-brand-white-2048.jpg">2048</a>
							</nav>
						</div>
					</div>
					<div class="dropdown">
						<span>png</span>
						<div class="dropdown-content">
							<nav class="nav-logo">
								<a href="{{url.static}}images/brand/en/png/sarshomar-brand-white-32.png">32</a>
								<a href="{{url.static}}images/brand/en/png/sarshomar-brand-white-48.png">48</a>
								<a href="{{url.static}}images/brand/en/png/sarshomar-brand-white-64.png">64</a>
								<a href="{{url.static}}images/brand/en/png/sarshomar-brand-white-128.png">128</a>
								<a href="{{url.static}}images/brand/en/png/sarshomar-brand-white-256.png">256</a>
								<a href="{{url.static}}images/brand/en/png/sarshomar-brand-white-512.png">512</a>
								<a href="{{url.static}}images/brand/en/png/sarshomar-brand-white-1024.png">1024</a>
								<a href="{{url.static}}images/brand/en/png/sarshomar-brand-white-2048.png">2048</a>
							</nav>
						</div>
					</div>
					<div class="dropdown">
						<a href="{{url.static}}images/brand/en/svg/sarshomar-brand-white.svg"><span>svg</span></a>
					</div>
				</div>
 			</div>
 		</div>
 		<div class="f">
 			<div class="c4">
 				<div class="LogosBadges-imageBG LogosBadges-imageBG-blue LogosBadges-imageBG-padding">
 					<img src="{{url.static}}images/brand/fa/png/sarshomar-brand-fa-back-colored-512.png" alt='{%trans "Sarshomar"%}'>
 				</div>
 				<div>
	 				<div class="dropdown">
						<span>jpg</span>
						<div class="dropdown-content">
							<nav class="nav-logo">
								<a href="{{url.static}}images/brand/fa/jpg/sarshomar-brand-fa-back-colored-32.jpg">32</a>
								<a href="{{url.static}}images/brand/fa/jpg/sarshomar-brand-fa-back-colored-48.jpg">48</a>
								<a href="{{url.static}}images/brand/fa/jpg/sarshomar-brand-fa-back-colored-64.jpg">64</a>
								<a href="{{url.static}}images/brand/fa/jpg/sarshomar-brand-fa-back-colored-128.jpg">128</a>
								<a href="{{url.static}}images/brand/fa/jpg/sarshomar-brand-fa-back-colored-256.jpg">256</a>
								<a href="{{url.static}}images/brand/fa/jpg/sarshomar-brand-fa-back-colored-512.jpg">512</a>
								<a href="{{url.static}}images/brand/fa/jpg/sarshomar-brand-fa-back-colored-1024.jpg">1024</a>
								<a href="{{url.static}}images/brand/fa/jpg/sarshomar-brand-fa-back-colored-2048.jpg">2048</a>
							</nav>
						</div>
					</div>
					<div class="dropdown">
						<span>png</span>
						<div class="dropdown-content">
							<nav class="nav-logo">
								<a href="{{url.static}}images/brand/fa/png/sarshomar-brand-fa-back-colored-32.png">32</a>
								<a href="{{url.static}}images/brand/fa/png/sarshomar-brand-fa-back-colored-48.png">48</a>
								<a href="{{url.static}}images/brand/fa/png/sarshomar-brand-fa-back-colored-64.png">64</a>
								<a href="{{url.static}}images/brand/fa/png/sarshomar-brand-fa-back-colored-128.png">128</a>
								<a href="{{url.static}}images/brand/fa/png/sarshomar-brand-fa-back-colored-256.png">256</a>
								<a href="{{url.static}}images/brand/fa/png/sarshomar-brand-fa-back-colored-512.png">512</a>
								<a href="{{url.static}}images/brand/fa/png/sarshomar-brand-fa-back-colored-1024.png">1024</a>
								<a href="{{url.static}}images/brand/fa/png/sarshomar-brand-fa-back-colored-2048.png">2048</a>
							</nav>
						</div>
					</div>
					<div class="dropdown">
						<a href="{{url.static}}images/brand/fa/svg/sarshomar-brand-fa-type-white.svg"><span>svg</span></a>
					</div>
				</div>
 			</div>
 			<div class="c4">
 				<div class="LogosBadges-imageBG LogosBadges-imageBG-light LogosBadges-imageBG-padding">
 					<img src="{{url.static}}images/brand/fa/png/sarshomar-brand-fa-black-512.png" alt='{%trans "Sarshomar"%}'>
				</div>
 				<div>
	 				<div class="dropdown">
						<span>jpg</span>
						<div class="dropdown-content">
							<nav class="nav-logo">
								<a href="{{url.static}}images/brand/fa/jpg/sarshomar-brand-fa-black-32.jpg">32</a>
								<a href="{{url.static}}images/brand/fa/jpg/sarshomar-brand-fa-black-48.jpg">48</a>
								<a href="{{url.static}}images/brand/fa/jpg/sarshomar-brand-fa-black-64.jpg">64</a>
								<a href="{{url.static}}images/brand/fa/jpg/sarshomar-brand-fa-black-128.jpg">128</a>
								<a href="{{url.static}}images/brand/fa/jpg/sarshomar-brand-fa-black-256.jpg">256</a>
								<a href="{{url.static}}images/brand/fa/jpg/sarshomar-brand-fa-black-512.jpg">512</a>
								<a href="{{url.static}}images/brand/fa/jpg/sarshomar-brand-fa-black-1024.jpg">1024</a>
								<a href="{{url.static}}images/brand/fa/jpg/sarshomar-brand-fa-black-2048.jpg">2048</a>
							</nav>
						</div>
					</div>
					<div class="dropdown">
						<span>png</span>
						<div class="dropdown-content">
							<nav class="nav-logo">
								<a href="{{url.static}}images/brand/fa/png/sarshomar-brand-fa-black-32.png">32</a>
								<a href="{{url.static}}images/brand/fa/png/sarshomar-brand-fa-black-48.png">48</a>
								<a href="{{url.static}}images/brand/fa/png/sarshomar-brand-fa-black-64.png">64</a>
								<a href="{{url.static}}images/brand/fa/png/sarshomar-brand-fa-black-128.png">128</a>
								<a href="{{url.static}}images/brand/fa/png/sarshomar-brand-fa-black-256.png">256</a>
								<a href="{{url.static}}images/brand/fa/png/sarshomar-brand-fa-black-512.png">512</a>
								<a href="{{url.static}}images/brand/fa/png/sarshomar-brand-fa-black-1024.png">1024</a>
								<a href="{{url.static}}images/brand/fa/png/sarshomar-brand-fa-black-2048.png">2048</a>
							</nav>
						</div>
					</div>
					<div class="dropdown">
						<a href="{{url.static}}images/brand/fa/svg/sarshomar-brand-fa-black.svg"><span>svg</span></a>
					</div>
				</div>
 			</div>
 			<div class="c4">
 				<div class="LogosBadges-imageBG LogosBadges-imageBG-dark LogosBadges-imageBG-padding">
 					<img src="{{url.static}}images/brand/fa/png/sarshomar-brand-fa-white-512.png" alt='{%trans "Sarshomar"%}'>
				</div>
 				<div>
	 				<div class="dropdown">
						<span>jpg</span>
						<div class="dropdown-content">
							<nav class="nav-logo">
								<a href="{{url.static}}images/brand/fa/jpg/sarshomar-brand-fa-white-32.jpg">32</a>
								<a href="{{url.static}}images/brand/fa/jpg/sarshomar-brand-fa-white-48.jpg">48</a>
								<a href="{{url.static}}images/brand/fa/jpg/sarshomar-brand-fa-white-64.jpg">64</a>
								<a href="{{url.static}}images/brand/fa/jpg/sarshomar-brand-fa-white-128.jpg">128</a>
								<a href="{{url.static}}images/brand/fa/jpg/sarshomar-brand-fa-white-256.jpg">256</a>
								<a href="{{url.static}}images/brand/fa/jpg/sarshomar-brand-fa-white-512.jpg">512</a>
								<a href="{{url.static}}images/brand/fa/jpg/sarshomar-brand-fa-white-1024.jpg">1024</a>
								<a href="{{url.static}}images/brand/fa/jpg/sarshomar-brand-fa-white-2048.jpg">2048</a>
							</nav>
						</div>
					</div>
					<div class="dropdown">
						<span>png</span>
						<div class="dropdown-content">
							<nav class="nav-logo">
								<a href="{{url.static}}images/brand/fa/png/sarshomar-brand-fa-white-32.png">32</a>
								<a href="{{url.static}}images/brand/fa/png/sarshomar-brand-fa-white-48.png">48</a>
								<a href="{{url.static}}images/brand/fa/png/sarshomar-brand-fa-white-64.png">64</a>
								<a href="{{url.static}}images/brand/fa/png/sarshomar-brand-fa-white-128.png">128</a>
								<a href="{{url.static}}images/brand/fa/png/sarshomar-brand-fa-white-256.png">256</a>
								<a href="{{url.static}}images/brand/fa/png/sarshomar-brand-fa-white-512.png">512</a>
								<a href="{{url.static}}images/brand/fa/png/sarshomar-brand-fa-white-1024.png">1024</a>
								<a href="{{url.static}}images/brand/fa/png/sarshomar-brand-fa-white-2048.png">2048</a>
							</nav>
						</div>
					</div>
					<div class="dropdown">
						<a href="{{url.static}}images/brand/fa/svg/sarshomar-brand-fa-white.svg"><span>svg</span></a>
					</div>
				</div>
 			</div>
 		</div>
 	</div>
</div>
