<h3 class="bh">{%trans "How to use"%}</h3>
<div class="l1">
 	<p>نشان‌واره‌ی رنگی ما را می‌توانید در پس‌زمینه‌های روشن، تیره و رنگی ملایم مورد استفاده قرار دهید. لطفا نشان‌واره‌ی سرشمار را در زمینه مناسب قرار دهید و بسته به پس‌زمینه نشان‌واره‌ای که ما آن را برای شما در آن زمینه قرار دادیم مورد استفاده قرار دهید.</p>
 	<div class="brands-back-grediants">
{%if site.currentlang =='fa'%}
		<div class="f">
			<div class="c4 ba-gr-white">
				 <img src="{{url.static}}images/brand/fa/png/sarshomar-brand-fa-1024.png" alt=''>
			</div>
			<div class="c4 ba-gr-yellow">
				<img src="{{url.static}}images/brand/fa/png/sarshomar-brand-fa-1024.png" alt=''>
			</div>
			<div class="c4 ba-gr-blue">
				<img src="{{url.static}}images/brand/fa/png/sarshomar-brand-fa-type-white-1024.png" alt=''>
			</div>
		</div>
{%else%}
		<div class="f">
			<div class="c4 ba-gr-white">
				 <img src="{{url.static}}images/brand/en/png/sarshomar-brand-1024.png" alt=''>
			</div>
			<div class="c4 ba-gr-yellow">
				<img src="{{url.static}}images/brand/en/png/sarshomar-brand-1024.png" alt=''>
			</div>
			<div class="c4 ba-gr-blue">
				<img src="{{url.static}}images/brand/en/png/sarshomar-brand-type-white-1024.png" alt=''>
			</div>
		</div>
{%endif%}
 	</div>
</div>
<div class="l1">
 	<p>کوچک‌ترین حد مجاز استفاده از نشان‌واره‌ی ما در وب 40px در 40px و در صورت چاپ 20mm در 20mm می‌باشد.</p>
	<div class="f two-logo">
		<div class="c6">
	 		<img src="{{url.static}}images/page-logo/brand-view.png" alt=''>
		</div>
		<div class="c6">
	 		<img src="{{url.static}}images/page-logo/brand-print.png" alt=''>
		</div>
	</div>
</div>
<div class="l1">
 	<p>کوچک‌ترین حد مجاز استفاده از نشان‌واره‌ی فارسی ما در وب 40px در 110px و در لاتین 40px در 180px است; و در صورت استفاده از نشان‌واره‌ی ما در چاپ فارسی 20mm در 55mm و در لاتین 20mm در 90mm می‌باشد.</p>
 	<div class="f">
 		<div class="c5">
 			<img src="{{url.static}}images/page-logo/minimum-size-fa.png" alt=''>
 		</div>
 		<div class="c7 en-brand">
 			<img src="{{url.static}}images/page-logo/minimum-size.png" alt=''>
 		</div>
 	</div>
</div>
<div class="l1">
 <p>فضای خالی مناسب برای بهتر دیده شدن و قرارگیری مناسب نشان‌واره‌ی ما، ۲۵٪ خود نشان‌واره می‌باشد. به این صورت که از هر طرف ۲۵٪ باید فاصله داشته باشد پس لطفا به طرز قرارگیری آن دقت کنید.</p>
 	<div class="brand-logo">
{%if site.currentlang =='fa'%}
 		<div>
		 	<img src="{{url.static}}images/page-logo/logo-spacing-fa.png" alt=''>
 		</div>
{%else%}
 		<div>
		 	<img src="{{url.static}}images/page-logo/logo-spacing.png" alt=''>
 		</div>
{%endif%}
 	</div>
</div>
