<h3 class="bh">{%trans "Wrong usage"%}</h3>
<div class="l1">
 <p>نشان‌واره‌ی ما بیانگر فکر و شخصیت ما می‌باشد و مورد احترام است. پس از شما خواهش می‌کنیم که به نشان‌واره‌ی ما صدمه نزنید و آن را تحریف نکنید. در صورتی که نوع خاصی از نشان‌واره را خواستید و آن را اینجا نیافتید با سرشمار تماس بگیرید و نیاز خود را برطرف کنید.</p>
</div>
	<div class="l2 wrong-samples">
	<p>{%trans "Don't: Minimize our logo or use it under another object or element"%}</p>
	<img src="{{url.static}}/images/page-logo/wrong-set-01.png" alt='{%trans "Wrong"%}'>

	<p>{%trans "Don't: Use shadow or change colors"%}</p>
	<img src="{{url.static}}/images/page-logo/wrong-set-02.png" alt='{%trans "Wrong"%}'>

	<p>{%trans "Don't: Manipulate our logo"%}</p>
	<img src="{{url.static}}/images/page-logo/wrong-set-03.png" alt='{%trans "Wrong"%}'>

	<p>{%trans "Don't: Change the color or font"%}</p>
	<img src="{{url.static}}/images/page-logo/wrong-set-07.png" alt='{%trans "Wrong"%}'>
</div>