{%extends display.dash%}


{%block ititle %}
<label for="title">{%trans "Title"%} <small class="fc-red">* {%trans "Require"%}</small></label>
<div class="input">
  <input type="text" name="title" id="title" placeholder='{%trans "Title of poll"%} *' value="{{dataRow.title}}" autofocus required maxlength='200' minlength="1" pattern=".{1,200}" title='{%trans "Enter a valid title"%}'>
</div>
{% endblock %}




{%block ilanguage%}
<div class="mB10" title='{%trans "You can publish in another language"%}'>
  <label for="language">{%trans "Language"%}</label>
  <select name="language" class="ui dropdown select">
    <option value=""><i>{%trans "Please select one item"%}</i></option>
    {%for key, value in lang.list%}
      {%if key | length == 2%}
      <option value="{{key}}" {%if dataRow.language == key or (not dataRow.lang and lang.current == key)  %} selected {%endif%}>{{value}}</option>
      {%endif%}
    {%endfor%}
  </select>
</div>
{%endblock%}


{%block ipassword %}
<label for="password">{%trans "Password"%}</label>
<div class="input">
  <input type="text" name="password" id="password" placeholder='{%trans "Password of poll"%}' value="{{dataRow.password}}"  maxlength='200' minlength="1" pattern=".{1,200}" title='{%trans "Enter a valid password"%}'>
</div>
{% endblock %}





{%block istatus%}

<div class="mT15">
 <label >{%trans "Status"%}</label>

 <div class="radio1 green">
  <input type="radio" id="r-publish" name="status" value="publish" {%if dataRow.status == 'publish' or not dataRow.status %} checked{%endif%}>
  <label for="r-publish">{%trans "Publish"%}</label>
 </div>

 <div class="radio1 black">
  <input type="radio" id="r-draft" name="status" value="draft" {%if dataRow.status == 'draft'%} checked{%endif%} >
  <label for="r-draft">{%trans "Draft"%}</label>
 </div>

 <div class="radio1 yellow ">
  <input type="radio" id="r-disable" name="status" value="disable" {%if dataRow.status == 'disable'  %} checked{%endif%}>
  <label for="r-disable">{%trans "Disable"%}</label>
 </div>

 <div class="radio1 red mB25">
  <input type="radio" id="r-deleted" name="status" value="deleted" {%if dataRow.status == 'deleted'  %} checked{%endif%}>
  <label for="r-deleted">{%trans "Deleted"%}</label>
 </div>

</div>
{%endblock%}



{%block iprivacy%}

<div class="mT15">

 <label >{%trans "Privacy"%}</label>

 <div class="radio1 green">
  <input type="radio" id="r-private" name="privacy" value="private" {%if dataRow.privacy == 'private' or not dataRow.privacy %} checked{%endif%}>
  <label for="r-private">{%trans "Private"%}</label>
 </div>

 <div class="radio1 black">
  <input type="radio" id="r-public" name="privacy" value="public" {%if dataRow.privacy == 'public'%} checked{%endif%} >
  <label for="r-public">{%trans "Public"%}</label>
 </div>

</div>
{%endblock%}




{%block pageSteps%}

  <div class="f">


   <div class="c s4">
    <a class="dcard {%if url.child == 'general'%}active{%endif%}" href='{{url.this}}/general?id={{requestGET.id}}' data-shortkey="49ctrlshift" title='{%trans "Edit general setting of poll"%}'>
     <div class="statistic sm">
      <div class="value"><i class="sf-cog"></i></div>
      <div class="label">{%trans "General"%}<br><kbd class="mT5">Ctrl+Shift+1</kbd></div>
     </div>
    </a>
   </div>


   <div class="c s4">
    <a class="dcard {%if url.child == 'detail'%}active{%endif%}" href='{{url.this}}/detail?id={{requestGET.id}}' data-shortkey="50ctrlshift" title='{%trans "Edit sume detail of poll"%}'>
     <div class="statistic sm">
      <div class="value"><i class="sf-thumbnails"></i></div>
      <div class="label">{%trans "Detail"%}<br><kbd class="mT5">Ctrl+Shift+2</kbd></div>
     </div>
    </a>
   </div>


   <div class="c s4">
    <a class="dcard {%if url.child == 'social'%}active{%endif%}" href='{{url.this}}/social?id={{requestGET.id}}' data-shortkey="51ctrlshift" title='{%trans "Edit sume social of poll"%}'>
     <div class="statistic sm">
      <div class="value"><i class="sf-network"></i></div>
      <div class="label">{%trans "Social Network"%}<br><kbd class="mT5">Ctrl+Shift+3</kbd></div>
     </div>
    </a>
   </div>


    <div class="c s4">
    <a class="dcard {%if url.child == 'phone'%}active{%endif%}" href='{{url.this}}/phone?id={{requestGET.id}}' data-shortkey="52ctrlshift" title='{%trans "Edit sume phone of poll"%}'>
     <div class="statistic sm">
      <div class="value"><i class="sf-phone"></i></div>
      <div class="label">{%trans "Phone"%}<br><kbd class="mT5">Ctrl+Shift+4</kbd></div>
     </div>
    </a>
   </div>

   <div class="c s4">
    <a class="dcard {%if url.child == 'schedule'%}active{%endif%}" href='{{url.this}}/schedule?id={{requestGET.id}}' data-shortkey="53ctrlshift" title='{%trans "Edit sume schedule of poll"%}'>
     <div class="statistic sm">
      <div class="value"><i class="sf-calendar"></i></div>
      <div class="label">{%trans "Schedule"%}<br><kbd class="mT5">Ctrl+Shift+5</kbd></div>
     </div>
    </a>
   </div>

    <div class="c s4">
    <a class="dcard {%if url.child == 'address'%}active{%endif%}" href='{{url.this}}/address?id={{requestGET.id}}' data-shortkey="54ctrlshift" title='{%trans "Edit sume address of poll"%}'>
     <div class="statistic sm">
      <div class="value"><i class="sf-pin"></i></div>
      <div class="label">{%trans "Address"%}<br><kbd class="mT5">Ctrl+Shift+6</kbd></div>
     </div>
    </a>
   </div>



    <div class="c s4">
    <a class="dcard {%if url.child == 'message'%}active{%endif%}" href='{{url.this}}/message?id={{requestGET.id}}' data-shortkey="55ctrlshift" title='{%trans "Edit sume message of poll"%}'>
     <div class="statistic sm">
      <div class="value"><i class="sf-envelope-o"></i></div>
      <div class="label">{%trans "Message"%}<br><kbd class="mT5">Ctrl+Shift+7</kbd></div>
     </div>
    </a>
   </div>



  </div>
{%endblock%}



{%block iadd%}
<button class="btn primary block mT20">{%trans "Save"%}</button>
{%endblock%}

{%block isave%}
<button class="btn primary block mT20">{%trans "Save"%}</button>
{%endblock%}
