{%extends display.admin%}


{%block ititle %}
<label for="title">{%trans "Title"%} <small class="fc-red">* {%trans "Require"%}</small></label>
<div class="input">
  <input type="text" name="title" id="title" placeholder='{%trans "Survey title"%} *' value="{{surveyRow.title}}" autofocus required maxlength='200' minlength="1" pattern=".{1,200}" >
</div>
{% endblock %}




{%block ilanguage%}
<div class="mB10" title='{%trans "You can publish in another language"%}'>
  <label for="language">{%trans "Language"%}</label>
  <select name="language" class="ui dropdown select">
    <option value=""><i>{%trans "Please select one item"%}</i></option>
    {%for key, value in lang.list%}
      {%if key | length == 2%}
      <option value="{{key}}" {%if surveyRow.lang == key or (not surveyRow.lang and lang.current == key)  %} selected {%endif%}>{{value}}</option>
      {%endif%}
    {%endfor%}
  </select>
</div>
{%endblock%}





{%block ibuttontitle %}
<label for="buttontitle">{%trans "Survey start button text"%}</label>
<div class="input">
  <input type="text" name="buttontitle" id="buttontitle" placeholder='{%trans "Start"%} - {%trans "Survey start button text"%}' value="{{surveyRow.setting.buttontitle}}"  maxlength='200' minlength="1" pattern=".{1,200}" >
</div>
{% endblock %}




{%block istatus%}

<div class="mT15">
 <label >{%trans "Status"%}</label>

 <div class="radio1 green">
  <input type="radio" id="r-publish" name="status" value="publish" {%if surveyRow.status == 'publish' or not surveyRow.status %} checked{%endif%}>
  <label for="r-publish">{%trans "Publish"%}</label>
 </div>

 <div class="radio1 black">
  <input type="radio" id="r-draft" name="status" value="draft" {%if surveyRow.status == 'draft'%} checked{%endif%} >
  <label for="r-draft">{%trans "Draft"%}</label>
 </div>

 <div class="radio1 yellow ">
  <input type="radio" id="r-expire" name="status" value="expire" {%if surveyRow.status == 'expire'  %} checked{%endif%}>
  <label for="r-expire">{%trans "Expire"%}</label>
 </div>

 <div class="radio1 red mB25">
  <input type="radio" id="r-deleted" name="status" value="deleted" {%if surveyRow.status == 'deleted'  %} checked{%endif%}>
  <label for="r-deleted">{%trans "Deleted"%}</label>
 </div>

</div>
{%endblock%}



{%block iprivacy%}

<div class="mT15">

 <label >{%trans "Privacy"%}</label>

 <div class="radio1 green">
  <input type="radio" id="r-private" name="privacy" value="private" {%if surveyRow.privacy == 'private' or not surveyRow.privacy %} checked{%endif%}>
  <label for="r-private">{%trans "Private"%}</label>
 </div>

 <div class="radio1 black">
  <input type="radio" id="r-public" name="privacy" value="public" {%if surveyRow.privacy == 'public'%} checked{%endif%} >
  <label for="r-public">{%trans "Public"%}</label>
 </div>

</div>
{%endblock%}




{%block pageSteps%}

  <div class="f">


   <div class="c s6">
    <a class="dcard {%if url.child == 'general'%}active{%endif%}" href='{{url.this}}/general?id={{requestGET.id}}' data-shortkey="49ctrlshift" >
     <div class="statistic sm">
      <div class="value"><i class="sf-cog"></i></div>
      <div class="label">{%trans "General"%}<br><kbd class="mT5">Ctrl+Shift+1</kbd></div>
     </div>
    </a>
   </div>


   {%if false%}


   <div class="c s6">
    <a class="dcard {%if url.child == 'branding'%}active{%endif%}" href='{{url.this}}/branding?id={{requestGET.id}}' data-shortkey="51ctrlshift" >
     <div class="statistic sm">
      <div class="value"><i class="sf-medal"></i></div>
      <div class="label">{%trans "Branding"%}<br><kbd class="mT5">Ctrl+Shift+3</kbd></div>
     </div>
    </a>
   </div>

    <div class="c s6">
    <a class="dcard {%if url.child == 'trans'%}active{%endif%}" href='{{url.this}}/trans?id={{requestGET.id}}' data-shortkey="52ctrlshift" >
     <div class="statistic sm">
      <div class="value"><i class="sf-language"></i></div>
      <div class="label">{%trans "Translation"%}<br><kbd class="mT5">Ctrl+Shift+4</kbd></div>
     </div>
    </a>
   </div>

   <div class="c s6">
    <a class="dcard {%if url.child == 'email'%}active{%endif%}" href='{{url.this}}/email?id={{requestGET.id}}' data-shortkey="53ctrlshift" >
     <div class="statistic sm">
      <div class="value"><i class="sf-at"></i></div>
      <div class="label">{%trans "Email"%}<br><kbd class="mT5">Ctrl+Shift+5</kbd></div>
     </div>
    </a>
   </div>
   {%endif%}

    <div class="c s6">
    <a class="dcard {%if url.child == 'welcome'%}active{%endif%}" href='{{url.this}}/welcome?id={{requestGET.id}}' data-shortkey="52ctrlshift" >
     <div class="statistic sm">
      <div class="value"><i class="sf-hourglass-start"></i></div>
      <div class="label">{%trans "Welcome message"%}<br><kbd class="mT5">Ctrl+Shift+4</kbd></div>
     </div>
    </a>
   </div>



    <div class="c s6">
    <a class="dcard {%if url.child == 'thankyou'%}active{%endif%}" href='{{url.this}}/thankyou?id={{requestGET.id}}' data-shortkey="53ctrlshift" >
     <div class="statistic sm">
      <div class="value"><i class="sf-flag-checkered"></i></div>
      <div class="label">{%trans "Thank you message"%}<br><kbd class="mT5">Ctrl+Shift+5</kbd></div>
     </div>
    </a>
   </div>




   <div class="c s6">
    <a class="dcard {%if url.child == 'privacy'%}active{%endif%}" href='{{url.this}}/privacy?id={{requestGET.id}}' data-shortkey="50ctrlshift" >
     <div class="statistic sm">
      <div class="value"><i class="sf-lock"></i></div>
      <div class="label">{%trans "Privacy"%}<br><kbd class="mT5">Ctrl+Shift+2</kbd></div>
     </div>
    </a>
   </div>



   <div class="c s6">
    <a class="dcard {%if url.child == 'advance'%}active{%endif%}" href='{{url.this}}/advance?id={{requestGET.id}}' data-shortkey="54ctrlshift" >
     <div class="statistic sm">
      <div class="value"><i class="sf-rocket"></i></div>
      <div class="label">{%trans "Advance"%}<br><kbd class="mT5">Ctrl+Shift+5</kbd></div>
     </div>
    </a>
   </div>

    <div class="c s6">
    <a class="dcard {%if url.child == 'status'%}active{%endif%}" href='{{url.this}}/status?id={{requestGET.id}}' data-shortkey="54ctrlshift" >
     <div class="statistic sm">
      <div class="value"><i class="sf-publish"></i></div>
      <div class="label">{%trans "Status"%}<br><kbd class="mT5">Ctrl+Shift+5</kbd></div>
     </div>
    </a>
   </div>

   <div class="cauto">
    <a class="dcard {%if url.child == 'duplicate'%}active{%endif%}" href='{{url.this}}/duplicate?id={{requestGET.id}}' data-shortkey="55ctrlshift" >
     <div class="statistic sm">
      <div class="value"><i class="sf-hand-peace-o"></i></div>
      <div class="label">{%trans "Duplicate"%}<br><kbd class="mT5">Ctrl+Shift+6</kbd></div>
     </div>
    </a>
   </div>



  </div>
{%endblock%}



{%block iadd%}
<button class="btn primary block mT20">{%trans "Add"%}</button>
{%endblock%}

{%block isave%}
<button class="btn primary block mT20">{%trans "Save"%}</button>
{%endblock%}


{%block iforcelogin%}
<div class="switch1 mB10">
 <input type="checkbox" name="forcelogin" id="forcelogin" {%if surveyRow.setting.forcelogin %}checked{%endif%}>
 <label for="forcelogin"></label>
 <label for="forcelogin">{%trans "Force user to login and continue"%}</label>
</div>
{%endblock%}


{%block ibranding%}
<div class="switch1 mB10">
 <input type="checkbox" name="branding" id="branding" {%if surveyRow.branding %}checked{%endif%}>
 <label for="branding"></label>
 <label for="branding">{%trans "Enable branding"%}</label>
</div>
{%endblock%}


{%block ibrandingtitle %}
<label for="brandingtitle">{%trans "Branding title"%}</label>
<div class="input">
  <input type="text" name="brandingtitle" id="brandingtitle" placeholder='{%trans "Branding title"%}' value="{{surveyRow.brandingtitle}}"  maxlength='200' minlength="1" pattern=".{1,200}" >
</div>
{% endblock %}


{%block ibrandingdesc%}
<label for="brandingdesc">{%trans "Description"%}</label>
<textarea data-editor class="txt mB10" id='brandingdesc' name="brandingdesc" placeholder='{%trans "Description"%}' maxlength='500' rows="5">{{surveyRow.brandingdesc}}</textarea>
{%endblock%}


{%block idesc%}
<label for="desc">{%trans "Description"%}</label>
<textarea class="txt mB10" id='desc' name="desc" placeholder='{%trans "Description"%}' maxlength='500' rows="5">{{surveyRow.desc}}</textarea>
{%endblock%}


{%block ibrandingfile%}

{%if surveyRow.brandingmeta.file%}
<div class="mediaBox mB20">
  <img src="{{surveyRow.brandingmeta.file}}" alt="{{surveyRow.title}}" id="logoPreview">
</div>
{%endif%}

<label for="brandingfile" class="block">{%trans "Image/Video/File"%}</label>
<div class="input" title='{%trans "allowed extentions jpg, png. Max 1000Kb"%}'>
 <input type="file" accept="image/gif, image/jpeg, image/png" name="brandingfile" id="brandingfile" data-max="1000">
</div>
{%endblock%}

{%block ibrandingurl %}
<label for="brandingurl">{%trans "Branding url"%}</label>
<div class="input">
  <input type="url" name="brandingurl" id="brandingurl" placeholder='{%trans "Branding url"%}' value="{{surveyRow.brandingmeta.url}}"  maxlength='200' minlength="1" pattern=".{1,200}" >
</div>
{% endblock %}






{%block iprogresbar%}
<div class="switch1 mB10">
 <input type="checkbox" name="progresbar" id="progresbar" {%if surveyRow.progresbar %}checked{%endif%}>
 <label for="progresbar"></label>
 <label for="progresbar">{%trans "Show progresbar"%}</label>
</div>
{%endblock%}


{%block itrans%}
<label for="trans">{%trans "Translation"%}</label>
<textarea class="txt mB10" id='trans' name="trans" placeholder='{%trans "Translation list"%}' maxlength='500' rows="5">{{surveyRow.trans}}</textarea>
{%endblock%}





{%block iemail%}
<div class="switch1 mB10">
 <input type="checkbox" name="email" id="email" {%if surveyRow.email %}checked{%endif%}>
 <label for="email"></label>
 <label for="email">{%trans "Enable email"%}</label>
</div>
{%endblock%}


{%block iemailtitle %}
<label for="emailtitle">{%trans "Email title"%}</label>
<div class="input">
  <input type="text" name="emailtitle" id="emailtitle" placeholder='{%trans "Email title"%}' value="{{surveyRow.emailtitle}}"  maxlength='200' minlength="1" pattern=".{1,200}" >
</div>
{% endblock %}


{%block iemailmsg%}
<label for="emailmsg">{%trans "Description"%}</label>
<textarea data-editor class="txt mB10" id='emailmsg' name="emailmsg" placeholder='{%trans "Description"%}' maxlength='500' rows="5">{{surveyRow.emailmsg}}</textarea>
{%endblock%}



{%block iemailto %}
<label for="emailto">{%trans "Email to"%}</label>
<div class="input">
  <input type="email" name="emailto" id="emailto" placeholder='{%trans "Email to"%}' value="{{surveyRow.emailto}}"  maxlength='200' minlength="1" pattern=".{1,200}" >
</div>
{% endblock %}







{%block iwelcomemessagetitle %}
<label for="welcometitle">{%trans "Welcome message title"%}</label>
<div class="input">
  <input type="text" name="welcometitle" id="welcometitle" placeholder='{%trans "Welcome message title"%}' value="{{surveyRow.welcometitle}}"  maxlength='200' minlength="1" pattern=".{1,200}" >
</div>
{% endblock %}


{%block iwelcomemessagedesc%}
<label for="welcomedesc">{%trans "Description"%}</label>
<textarea data-editor class="txt mB10" id='welcomedesc' name="welcomedesc" placeholder='{%trans "Description"%}' maxlength='500' rows="5">{{surveyRow.welcomedesc}}</textarea>
{%endblock%}


{%block iwelcomemessagefile%}

{%if surveyRow.welcomemedia.file%}
   <div class="mediaBox mB20">

{% set myExt = surveyRow.welcomemedia.file[(surveyRow.welcomemedia.file | length)-3:3] %}
 {%if myExt == 'mp4' %}
    <video class="block" controls>
     <source src="{{surveyRow.welcomemedia.file}}" type="video/mp4">
    </video>
 {%elseif myExt == 'mp3' %}
    <audio class="block" controls>
     <source src="{{surveyRow.welcomemedia.file}}" type="audio/mp3">
    </audio>
 {%elseif myExt == 'png' or myExt == 'jpg' or myExt == 'jpeg' or myExt == 'gif'%}
    <img src="{{surveyRow.welcomemedia.file}}" alt="{{myTitle.title}}">
 {%elseif myExt == 'pdf' %}
    <a class="btn primary outline block" href="{{surveyRow.welcomemedia.file}}">{%trans "Download PDF"%}</a>
 {%else%}
    <a class="btn primary outline block" href="{{surveyRow.welcomemedia.file}}">{%trans "Download File"%}</a>
 {%endif%}
   </div>
{%endif%}


<label for="welcomefile" class="block">{%trans "Welcome Image/Video"%}</label>
<div class="input" title='{%trans "Max 1Mb"%}'>
 <input type="file" name="welcomefile" id="welcomefile" data-max="1000">
 </label>
</div>
{%endblock%}




{%block ithankyoutitle %}
<label for="thankyoutitle">{%trans "Thankyou message title"%}</label>
<div class="input">
  <input type="text" name="thankyoutitle" id="thankyoutitle" placeholder='{%trans "Thankyou message title"%}' value="{{surveyRow.thankyoutitle}}"  maxlength='200' minlength="1" pattern=".{1,200}" >
</div>
{% endblock %}


{%block ithankyoudesc%}
<label for="thankyoudesc">{%trans "Description"%}</label>
<textarea data-editor class="txt mB10" id='thankyoudesc' name="thankyoudesc" placeholder='{%trans "Description"%}' maxlength='500' rows="5">{{surveyRow.thankyoudesc}}</textarea>
{%endblock%}


{%block ithankyoufile%}


{%if surveyRow.thankyoumedia.file%}
   <div class="mediaBox mB20">

{% set myExt = surveyRow.thankyoumedia.file[(surveyRow.thankyoumedia.file | length)-3:3] %}
 {%if myExt == 'mp4' %}
    <video class="block" controls>
     <source src="{{surveyRow.thankyoumedia.file}}" type="video/mp4">
    </video>
 {%elseif myExt == 'mp3' %}
    <audio class="block" controls>
     <source src="{{surveyRow.thankyoumedia.file}}" type="audio/mp3">
    </audio>
 {%elseif myExt == 'png' or myExt == 'jpg' or myExt == 'jpeg' or myExt == 'gif'%}
    <img src="{{surveyRow.thankyoumedia.file}}" alt="{{myTitle.title}}">
 {%elseif myExt == 'pdf' %}
    <a class="btn primary outline block" href="{{surveyRow.thankyoumedia.file}}">{%trans "Download PDF"%}</a>
 {%else%}
    <a class="btn primary outline block" href="{{surveyRow.thankyoumedia.file}}">{%trans "Download File"%}</a>
 {%endif%}
   </div>
{%endif%}


<label for="thankyoufile" class="block">{%trans "Thankyou Image/Video"%}</label>
<div class="input" title='{%trans "Max 1Mb"%}'>
 <input type="file" name="thankyoufile" id="thankyoufile" data-max="1000">
 </label>
</div>
{%endblock%}


