{%extends display.question%}


{%block pageContent%}
{{block('pageSteps')}}
<div class="f justify-center">

	<div class="c7">
		{{block('quSetting')}}
	</div>
</div>

{%endblock%}




{%block quSetting%}

<div class="cbox">
	<h3 class="txtC">{%trans "General setting"%}</h3>
	<form method="post" autocomplete="off">
		<input type="hidden" name="formType" value="setting">
		{{block('irequire')}}
		{%if choiceDetail.key%}
			{{block(choiceDetail.key)}}
		{%endif%}

		<button class="btn primary block mT20">{%trans "Save setting"%}</button>
	</form>
</div>

{%endblock%}
