{%extends display.admin%}




{%block pageContent%}

<table class="tbl1 v1">
  <thead>
    <tr>
      <th>#</th>
      <th>{%trans "Code"%}</th>
      <th>{%trans "Title"%}</th>
      <th>{%trans "Question"%}</th>
      <th>{%trans "Answer"%}</th>
      <th>{%trans "Status"%}</th>
      <th>{%trans "Created on"%}</th>
      <th>{%trans "Last update"%}</th>
      <th>{%trans "Creator"%}</th>
    </tr>
  </thead>
  <tbody>
{%for key, value in dataTable%}
{%set cardColor%}
	{%if value.status == 'publish'%}blue{%elseif value.status == 'draft'%}green{%elseif value.status == 'deleted'%}red{%else%}black{%endif%}
{%endset%}

    <tr class="{%if value.status == 'publish'%}positive{%elseif value.status == 'draft'%}{%else%}negative{%endif%}">
      <td>{{loop.index | fitNumber}}</td>
      <td class="collapsing"><a href='{{url.here}}/survey?id={{value.id}}'>{{value.id}}</a></td>
      <td>
        <div class="txtB">{{value.title}}</div>
        <div>{{value.desc}}</div>
      </td>
      <td class="collapsing">
        {%if value.countblock%}
          {{value.countblock | fitNumber}} <small>{%trans "Question"%}</small>
        {%else%}
          <small>{%trans "Without question"%}</small>
        {%endif%}
      </td>
      <td class="collapsing">
        {%if value.answer_count%}
          {{value.answer_count | fitNumber}} <small>{%trans "Response"%}</small>
        {%else%}
          <small>{%trans "No responses"%}</small>
        {%endif%}
      </td>
      <td class="collapsing fs08">{%set myStatus = value.status%}<a href="{{url.this}}?status={{value.status}}">{%if value.status == 'publish'%}<i class="sf-check mRa5 fc-green"></i>{%endif%}{%trans myStatus%}</a></td>
      <td class="collapsing fs09">
        <span title='{{value.datecreated | dt(true)}}'>{{value.datecreated | dt('human', 'year')}}</span>
      </td>
      <td class="collapsing fs09">
        <span title='{{value.datemodified | dt(true)}}'>{{value.datemodified | dt('human', 'year')}}</span>
      </td>
      <td>-</td>
    </tr>

{%endfor%}
  </tbody>
</table>

{%include display.pagination%}

{{block('htmlSearchBox')}}

{%endblock%}




{%block htmlSearchBox%}
<div class="cbox fs10">
  <form method="get" action='{{url.this}}' data-action>
    <div class="input">
      <input type="search" name="q" placeholder='{%trans "Search"%}' id="q" value="{{requestGET.q}}" autocomplete='off'>

      <button class="addon btn ">{%trans "Search" %}</button>
    </div>
  </form>
</div>
{%endblock%}

