{%extends display.dash%}


{%block pageContent%}
{%if surveyRow.status != 'publish'%}
<a href="{{url.kingdom}}/a/survey/status?id={{surveyRow.id}}" data-direct class="msg warn block fs14 txtC">{%trans "Survey status"%} {%set myStatus = surveyRow.status%} <b>{%trans myStatus%}</b></a>
{%endif%}


<div class="f justify-center">
 <div class="c8 x6 m9 s12 mB25">
  <div class="cbox mB10">
{{block("blockTitle")}}

{%if step.type == 'welcome' %}
{{block('startBtn')}}
{%elseif step.type == 'thankyou' %}
 <a class="msg info2 mB0 block txtC" href="{{url.kingdom}}"><b>{{site.title}}</b> | {{site.desc}}</a>
{%else%}
    <form method="post" autocomplete="off">
    {{block(step.display)}}
   </form>
{%endif%}

  </div>
{%if skipBtn %}
  <div class="f">
   <a class="cauto os btn outline" href="{{url.pwd}}&skip=true" data-ajaxify data-method='post' data-data='{"skip":true}'>{%trans "I'm not willing to answer"%}</a>
  </div>
{%endif%}
 </div>
</div>

{%endblock%}



{%block blockTitle%}
{%if myTitle.media%}
   <div class="mediaBox mB20">
 {%if myTitle.mediaType == 'image' or 1 %}
    <img src="{{myTitle.media}}" alt="{{myTitle.title}}">
 {%elseif myTitle.mediaType == 'video' %}
    <video controls>
     <source src="{{myTitle.media}}" type="video/mp4">
    </video>
 {%endif%}
   </div>
{%endif%}

{%if myTitle.title or myTitle.desc%}
   <div class="detailBox">
{%if myTitle.title%}
    <h2 class="txtC">{{myTitle.title}}{%if question.require%} <small class="fc-red compact">* <span class="fs05">{%trans "Require"%}</span></small>{%endif%} </h2>
{%endif%}
{%if myTitle.desc%}
    <p class="msg txtC">{{myTitle.desc | raw | nl2br}}</p>
{%endif%}
   </div>
{%endif%}
{%endblock%}



{%block startBtn%}
 <a href="{{url.pwd}}" data-ajaxify data-data='{"start":"survey", "{{XKEY}}":"{{XVALUE}}"}' data-method='post' class="btn outline lg success block">{%trans "Start"%}</a>
{%endblock%}







{%block short_answer%}
{{block('hidden_input')}}
 <div class="input">
  <input type="text" id="answer" name="answer" value="{{myAnswer.text}}"{%if question.require%} required{%endif%}{%if question.maxchar%} maxlength="{{question.maxchar}}"{%endif%} placeholder='{%if question.require%}* {%endif%}{%trans "Type here ..."%}' autofocus>
 {{block('nextBtn')}}
 </div>
{%endblock%}


{%block descriptive_answer%}
{{block('hidden_input')}}
 <textarea class="txt" type="text" id="answer" name="answer" {%if question.require%} required{%endif%}{%if question.maxchar%} maxlength="{{question.maxchar}}" rows="{{ (question.maxchar / 100) |round(0, 'ceil')  + 2}}"{%else%} rows="3"{%endif%} placeholder='{%if question.require%}* {%endif%}{%trans "Type here ..."%}' autofocus>{{myAnswer.text}}</textarea>
 {{block('nextBtn')}}
{%endblock%}


{%block numeric%}
{{block('hidden_input')}}
 <div class="input">
  <input type="number" id="answer" name="answer" value="{{myAnswer.text}}" {%if question.require%} required{%endif%}{%if question.setting.min%}min="{{question.setting.min}}"{%endif%}{%if question.setting.max%}max="{{question.setting.max}}"{%endif%} placeholder='{%if question.require%}* {%endif%}{%trans "Type here ..."%}' inputmode="numeric" pattern="[0-9]*" autofocus>
 </div>
 {{block('nextBtn')}}
{%endblock%}


{%block single_choice%}
{{block('hidden_input')}}
{%for key, value in question.choice%}
  <button class="btn block mB5{%if myAnswer.text == value.title%} success{%endif%}" id="r-{{key}}" name="answer" value="{{value.title}}">{%if myAnswer.text == value.title%}<span class="sf-check-1 floatLa"></span> {%endif%}{{value.title}}</button>
{%endfor%}
{%endblock%}


{%block multiple_choice%}
{{block('hidden_input')}}
 {%for key, value in question.choice%}
  <div class="check1{%if myAnswer.text == value.title%} green{%endif%}">
  <input type="checkbox" name="answer[]" id="{{key}}" value="{{value.title}}" {%if myAnswer.text == value.title%} checked {%endif%}>
  <label for="{{key}}">{{value.title}}</label>
 </div>
 {%endfor%}
 {{block('nextBtn')}}
{%endblock%}


{%block dropdown%}
{{block('hidden_input')}}
 <div class="mB10">
   <select name="answer" class="ui dropdown select{%if (question.choice | length) > 4 %} search{%endif%}">
     <option value="">{%trans "Please choose one item"%}</option>
{%for key, value in question.choice%}
{%if myAnswer.text == value.title%}
       <option value="{{value.title}}" checked>✔️ {{value.title}}</option>
{%else%}
       <option value="{{value.title}}">{{value.title}} </option>
{%endif%}
{%endfor%}
   </select>
 </div>
 {{block('nextBtn')}}
{%endblock%}




















{%block hidden_input%}

<input type="hidden" name="survay" value="" class="hide">

<div class="hide">
 <input type="text" name="userprocode" value="">
</div>


<div class="hide">
 <input type="text" name="{{XKEY}}" value="{{XVALUE}}">
</div>

<div class="input c auto hide">
 <input type="password" name="passwd" value="">
</div>

<input type="text" name="id" value="" class="input hide">


{%endblock%}






{%block nextBtn%}
{%if question.setting.buttontitle%}
<button class="btn primary block mT20">{{question.setting.buttontitle}}</button>
{%else%}
<button class="btn primary block mT20">{%trans "Save & Next"%}</button>
{%endif%}
{%endblock%}



{%block next_back%}
<div class="f justify-center mT5">
 {%if requestGET.step > 1 %}
  <a href="{{url.this}}?step={{(requestGET.step) - 1}}"  class="c2 m12 s12 btn info2 mR5 outline mT20">{%trans "Back"%}</a>
 {%endif%}
 {%if step.end > requestGET.step and step.must > requestGET.step%}
  <a href="{{url.this}}?step={{(requestGET.step) + 1}}"  class="c2 m12 s12 btn info2 mR5 outline mT20">{%trans "Next"%}</a>
 {%endif%}
</div>
{%endblock%}




{%block question_attr%}

{%if question.require%} required {%endif%}
{%if question.maxchar%} maxlength="{{question.maxchar}}" {%endif%}
{%if question.setting.min%} min="{{question.setting.min}}" {%endif%}
{%if question.setting.max%} max="{{question.setting.max}}" {%endif%}

{%if question.setting.max and question.setting.min%}
 placeholder='{%trans "Between" %} {{question.setting.min | fitNumber }} {%trans "and" %} {{question.setting.max | fitNumber }}'
{%else%}
 placeholder='{%trans "Type here ..."%}'
{%endif%}

{%endblock%}


{%block start_btn%}
<a href="{{url.pwd}}" data-ajaxify data-data='{"start" : "survey", "{{XKEY}}":"{{XVALUE}}" }' data-method='post' class="btn c3 hauto xl primary ">{%trans "Start"%}</a>
{%endblock%}












{%block confirm%}
{{block('hidden_input')}}
 <input type="hidden" name="next" value="step">
 {{block('nextBtn')}}
{%endblock%}



{%block date%}
{{block('hidden_input')}}
 <label for="answer">{%trans "Answer"%}</label>
 <div class="input">
   <input class="datepicker" type="text" name="answer" id="answer" placeholder='{{"1369/04/15" | fitNumber}}' {{block('question_attr')}} value="{{myAnswer.text}}" maxlength='20' data-format="YYYY/MM/DD" data-view="year">
 </div>
 {{block('nextBtn')}}
{%endblock%}



{%block email%}
{{block('hidden_input')}}
 <label for="answer">{%trans "Answer"%}</label>
 <div class="input">
   <input class="" type="email" name="answer" id="answer" value="{{myAnswer.text}}" {{block('question_attr')}} >
 </div>
 {{block('nextBtn')}}
{%endblock%}



{%block website%}
{{block('hidden_input')}}
 <label for="answer">{%trans "Answer"%}</label>
 <div class="input">
   <input class="" type="url" name="answer" id="answer" value="{{myAnswer.text}}" {{block('question_attr')}} >
 </div>
 {{block('nextBtn')}}
{%endblock%}



{%block rating%}
{{block('hidden_input')}}
 <label for="answer">{%trans "Answer"%}</label>
 <div class="input">
   <input class="" type="number" name="answer" id="answer" value="{{myAnswer.text}}" {{block('question_attr')}} >
 </div>
 {{block('nextBtn')}}
{%endblock%}


{%block star%}
{{block('hidden_input')}}

 <label for="answer">{%trans "Answer"%}</label>
 <div class="input">
   <input class="" type="number" name="answer" id="answer"  value="{{myAnswer.text}}" {{block('question_attr')}} >
 </div>
 {{block('nextBtn')}}
{%endblock%}























{%block sidenav%}

 <li class="detail">
  <span class="fc-mute">{%trans "Start Time"%}</span> <span class="floatRa mRa10 fc-mute">{{askDetail.start_time | fitNumber}}</span>
 </li>
 <li class="detail">
  <span class="fc-mute">{%trans "Spend Time"%}</span> <span class="floatRa mRa10 fc-mute">{{askDetail.spend_time | fitNumber}}</span>
 </li>
{%if false%}
 <li class="detail">
  <span class="fc-mute">{%trans "Remain Time"%}</span> <span class="floatRa mRa10 fc-mute">{{askDetail.remain_time | fitNumber}}</span>
 </li>
{%endif%}
{%if false%}
 <li class="detail">
  <span class="fc-mute">{%trans "End Time"%}</span> <span class="floatRa mRa10 fc-mute">{{askDetail.end_time | fitNumber}}</span>
 </li>
{%endif%}
<hr>
<li class="detail">
 <span class="fc-mute">{%trans "Current question"%}</span> <span class="floatRa mRa10 fc-mute">{{askDetail.step | fitNumber}}</span>
</li>
<li class="detail">
 <span class="fc-mute">{%trans "Total questions"%}</span> <span class="floatRa mRa10 fc-mute">{{askDetail.countblock | fitNumber}}</span>
</li>
<li class="detail">
 <span class="floatRa mRa10">{{askDetail.completed | fitNumber}} %</span> <span>{%trans "Completed"%}</span>
</li>

<li class="detail">
 <div class="progress" data-percent="{{askDetail.completed}}"><div class="bar"></div></div>
</li>

{%if false%}
<li class="detail">
 <a href="{{url.this}}/restart" class="btn warn hauto outline">{%trans "Restart"%}</a>
</li>
{%endif%}

{%if mySurvey%}
<li class="detail">
 <a href="{{url.kingdom}}/a/survey?id={{surveyRow.id}}" class="btn white hauto outline" data-direct>{%trans "Edit Survey"%}</a>
</li>
{%endif%}

{%endblock%}
