{%extends display.dash%}


{%block pageContent%}
{%if surveyRow.status != 'publish'%}
<a href="{{url.kingdom}}/a/survey/status?id={{surveyRow.id}}" data-direct class="msg warn block fs14 txtC">{%trans "Survey status"%} {%set myStatus = surveyRow.status%} <b>{%trans myStatus%}</b></a>
{%endif%}


<div class="f justify-center">
 <div class="c8 x6 m9 s12 mB25">
  <div class="cbox mB10">
{{block("blockTitle")}}

{%if step.type == 'welcome' %}
{{block('startBtn')}}
{%elseif step.type == 'thankyou' %}
 <a class="msg info2 mB0 block txtC" href="{{url.kingdom}}"><b>{{site.title}}</b> | {{site.desc}}</a>
{%else%}
    <form method="post" autocomplete="off">
      <input type="hidden" name="questionid" value="{{question.id}}">
    {{block(step.display)}}
   </form>
{%endif%}

  </div>
{%if skipBtn %}
  <div class="f">
   <a class="cauto os btn outline" href="{{url.pwd}}&skip=true" data-ajaxify data-method='post' data-data='{"skip":true}' data-shortkey="113">{%trans "I'm not willing to answer"%} <kbd>f2</kbd></a>
  </div>
{%endif%}
 </div>
</div>

{%endblock%}



{%block blockTitle%}
{%if myTitle.media%}
   <div class="mediaBox mB20">
 {%if myTitle.mediaType == 'image' or 1 %}
    <img src="{{myTitle.media}}" alt="{{myTitle.title}}">
 {%elseif myTitle.mediaType == 'video' %}
    <video controls>
     <source src="{{myTitle.media}}" type="video/mp4">
    </video>
 {%endif%}
   </div>
{%endif%}

{%if myTitle.title or myTitle.desc%}
   <div class="detailBox">
{%if myTitle.title%}
    <h2 class="txtC">{{myTitle.title}}{%if question.require%} <small class="fc-red compact">* <span class="fs05">{%trans "Require"%}</span></small>{%endif%} </h2>
{%endif%}
{%if myTitle.desc%}
    <p class="msg txtC">{{myTitle.desc | raw | nl2br}}</p>
{%endif%}
   </div>
{%endif%}
{%endblock%}



{%block startBtn%}
 <a href="{{url.pwd}}" data-ajaxify data-data='{"start":"survey", "{{XKEY}}":"{{XVALUE}}"}' data-method='post' class="btn outline lg success block" data-shortkey="13">{%trans "Start"%} <kbd>Enter</kbd></a>
{%endblock%}







{%block short_answer%}
 <div class="input">
  <input type="text" id="answer" name="answer" value="{{myAnswer[0].text}}"{%if question.require%} required{%endif%}{%if question.setting.short_answer.max%} maxlength="{{question.setting.short_answer.max}}"{%endif%} placeholder='{%if question.require%}* {%endif%}{{question.setting.short_answer.placeholder}}' autofocus>
 {{block('nextBtn')}}
 </div>
{%endblock%}


{%block descriptive_answer%}
 <textarea class="txt" type="text" id="answer" name="answer" {%if question.require%} required{%endif%}{%if question.setting.descriptive_answer.max%} maxlength="{{question.setting.descriptive_answer.max}}" rows="{{ (question.setting.descriptive_answer.max / 100) |round(0, 'ceil')  + 2}}"{%else%} rows="3"{%endif%} placeholder='{%if question.require%}* {%endif%}{{question.setting.descriptive_answer.placeholder}}' autofocus>{{myAnswer[0].text}}</textarea>
 {{block('nextBtn')}}
{%endblock%}


{%block numeric%}
 <div class="input">
  <input type="number" id="answer" name="answer" value="{{myAnswer[0].text}}" {%if question.require%} required{%endif%}{%if question.setting.numeric.min%} min="{{question.setting.numeric.min}}"{%endif%}{%if question.setting.numeric.max%} max="{{question.setting.numeric.max}}"{%endif%} placeholder='{%if question.require%}* {%endif%}{{question.setting.numeric.placeholder}}' inputmode="numeric" pattern="[0-9]*" autofocus>
 </div>
 {{block('nextBtn')}}
{%endblock%}



{%block mobile%}
 <div class="input">
  <input type="tel" id="answer" name="answer" value="{{myAnswer[0].text}}" {%if question.require%} required{%endif%} maxlength="12"  placeholder='{%if question.require%}* {%endif%}{{question.setting.mobile.placeholder}}' inputmode="numeric" pattern="[0-9]*" autofocus>
 </div>
 {{block('nextBtn')}}
{%endblock%}


{%block single_choice%}
{%if question.choice | length < 10%}
{%set haveKBD = true%}
{%endif%}

{%for key, value in question.choice%}

  <button class="btn {%if question.setting.single_choice.choiceinline%}block {%else%} mR10{%endif%} mB5{%if value.title in myAnswerTitle%} success{%endif%}" id="r-{{key}}" name="answer" value="{{value.title}}" {%if haveKBD%} data-shortkey='{{loop.index + 48}}' {%endif%}>{%if value.title in myAnswerTitle%}<span class="sf-check-1 floatRa"></span> {%endif%}{{value.title}} {%if haveKBD%}<kbd class="floatLa">{{loop.index}}</kbd> {%endif%}</button>
{%endfor%}
{%endblock%}


{%block multiple_choice%}
 {%for key, value in question.choice%}
  <div class="check1{%if value.title in myAnswerTitle%} green{%endif%}">
  <input type="checkbox" name="answer[]" id="{{key}}" value="{{value.title}}" {%if value.title in myAnswerTitle %} checked {%endif%}>
  <label for="{{key}}">{{value.title}}</label>
 </div>
 {%endfor%}
 {{block('nextBtn')}}
{%endblock%}


{%block dropdown%}
 <div class="mB10">
   <select name="answer" class="ui dropdown select{%if (question.choice | length) > 4 %} search{%endif%}">
     <option value="">{{question.setting.dropdown.placeholder}}</option>
{%for key, value in question.choice%}
{%if value.title in myAnswerTitle%}
       <option value="{{value.title}}" checked>✔️ {{value.title}}</option>
{%else%}
       <option value="{{value.title}}">{{value.title}} </option>
{%endif%}
{%endfor%}
   </select>
 </div>
 {{block('nextBtn')}}
{%endblock%}


{%block date%}
 <div class="input ltr">
   <input class="datepicker" type="text" name="answer" id="answer" placeholder='{{question.setting.date.placeholder}}' {%if question.require%} required{%endif%} value="{{myAnswer[0].text}}" maxlength='10' data-format="YYYY/MM/DD" data-view="year" autofocus>
 </div>
 {{block('nextBtn')}}
{%endblock%}

{%block time%}
 <div class="input clockpicker ltr">
    <input type="text" class="input" name="answer" placeholder="{{question.setting.time.placeholder}}" value="{{myAnswer[0].text}}" {%if question.require%} required{%endif%} autofocus>
 </div>
 {{block('nextBtn')}}
{%endblock%}


{%block email%}
 <div class="input">
   <input class="" type="email" name="answer" id="answer" value="{{myAnswer[0].text}}" {%if question.require%} required{%endif%} placeholder="{{question.setting.email.placeholder}}" autofocus>
 </div>
 {{block('nextBtn')}}
{%endblock%}


{%block website%}
 <div class="input">
   <input class="" type="url" name="answer" id="answer" value="{{myAnswer[0].text}}" {%if question.require%} required{%endif%} placeholder="{{question.setting.date.placeholder}}" autofocus>
 </div>
 {{block('nextBtn')}}
{%endblock%}


{%block rating%}
  <div class="radioRating togglable txtC {{question.setting.rating.ratetype}}">
    <div class="rateBox">
{% for i in 1..(question.setting.rating.max) %}
{%set currentRate = question.setting.rating.max - i + 1%}
      <input type="radio" name="answer" value="{{currentRate}}" id="myRate-{{i}}" {%if question.require%} required{%endif%}{%if myAnswer[0].text == currentRate %} checked{%endif%}>
      <label for="myRate-{{i}}">{% if question.setting.rating.max | length == 1%}{%else%}{{currentRate}}{%endif%}</label>
{% endfor %}
    </div>
  </div>
 {{block('nextBtn')}}
{%endblock%}


{%block rangeslider%}
  <div class="rangeSlider1">
    <input type="range" name="answer" min="{{question.setting.rangeslider.min}}" max="{{question.setting.rangeslider.max}}" step="{{question.setting.rangeslider.step}}" value="{%if myAnswer[0].text%}{{myAnswer[0].text | number_format }}{%endif%}"{%if question.require%} required{%endif%}>
    <output>60</output>
  </div>
  <div class="f">
    <div class="c txtLa">{{question.setting.rangeslider.label1}}</div>
    <div class="c txtC">{{question.setting.rangeslider.label2}}</div>
    <div class="c txtRa">{{question.setting.rangeslider.label3}}</div>
    <div class="cauto we80"></div>
  </div>


 {{block('nextBtn')}}
{%endblock%}

























{%block nextBtn%}
{%if question.setting.buttontitle%}
<button class="btn primary block mT20">{{question.setting.buttontitle}}</button>
{%else%}
<button class="btn primary block mT20">{%trans "Save & Next"%}</button>
{%endif%}
{%endblock%}



{%block next_back%}
<div class="f justify-center mT5">
 {%if requestGET.step > 1 %}
  <a href="{{url.this}}?step={{(requestGET.step) - 1}}"  class="c2 m12 s12 btn info2 mR5 outline mT20">{%trans "Back"%}</a>
 {%endif%}
 {%if step.end > requestGET.step and step.must > requestGET.step%}
  <a href="{{url.this}}?step={{(requestGET.step) + 1}}"  class="c2 m12 s12 btn info2 mR5 outline mT20">{%trans "Next"%}</a>
 {%endif%}
</div>
{%endblock%}




{%block question_attr%}

{%if question.require%} required {%endif%}
{%if question.maxchar%} maxlength="{{question.maxchar}}" {%endif%}
{%if question.setting.min%} min="{{question.setting.min}}" {%endif%}
{%if question.setting.max%} max="{{question.setting.max}}" {%endif%}

{%if question.setting.max and question.setting.min%}
 placeholder='{%trans "Between" %} {{question.setting.min | fitNumber }} {%trans "and" %} {{question.setting.max | fitNumber }}'
{%else%}
 placeholder='{%trans "Type here ..."%}'
{%endif%}

{%endblock%}













































{%block sidenav%}

 <li class="detail">
  <span class="fc-mute">{%trans "Start Time"%}</span> <span class="floatRa mRa10 fc-mute">{{askDetail.start_time | fitNumber}}</span>
 </li>
 <li class="detail">
  <span class="fc-mute">{%trans "Spend Time"%}</span> <span class="floatRa mRa10 fc-mute">{{askDetail.spend_time | fitNumber}}</span>
 </li>
{%if false%}
 <li class="detail">
  <span class="fc-mute">{%trans "Remain Time"%}</span> <span class="floatRa mRa10 fc-mute">{{askDetail.remain_time | fitNumber}}</span>
 </li>
{%endif%}
{%if false%}
 <li class="detail">
  <span class="fc-mute">{%trans "End Time"%}</span> <span class="floatRa mRa10 fc-mute">{{askDetail.end_time | fitNumber}}</span>
 </li>
{%endif%}
<hr>
<li class="detail">
 <span class="fc-mute">{%trans "Current question"%}</span> <span class="floatRa mRa10 fc-mute">{{askDetail.step | fitNumber}}</span>
</li>
<li class="detail">
 <span class="fc-mute">{%trans "Total questions"%}</span> <span class="floatRa mRa10 fc-mute">{{askDetail.countblock | fitNumber}}</span>
</li>
<li class="detail">
 <span class="floatRa mRa10">{{askDetail.completed | fitNumber}} %</span> <span>{%trans "Completed"%}</span>
</li>

<li class="detail">
 <div class="progress" data-percent="{{askDetail.completed}}"><div class="bar"></div></div>
</li>

{%if false%}
<li class="detail">
 <a href="{{url.this}}/restart" class="btn warn hauto outline">{%trans "Restart"%}</a>
</li>
{%endif%}

{%if mySurvey%}
<li class="detail">
 <a href="{{url.kingdom}}/a/survey?id={{surveyRow.id}}" class="btn white hauto outline" data-direct>{%trans "Edit Survey"%}</a>
</li>
{%endif%}

{%endblock%}
