{%extends display.festivalAdd%}


{%block pageContent%}

{{block('pageSteps')}}

<div class=" f txtC">
	<a class="{%if requestGET.type == 'intro' or not requestGET.type %}primary{%else%}primary2{%endif%} c mLa5 msg" href="{{url.this}}/detail?id={{requestGET.id}}&type=intro">{%if dataRow.intro%}<i class="sf-check mRa5 fs12 fc-green"></i>{%endif%}<b>{%trans "Intro"%}</b></a>
	<a class="{%if requestGET.type == 'about' %}primary{%else%}primary2{%endif%} c mLa5 msg" href="{{url.this}}/detail?id={{requestGET.id}}&type=about">{%if dataRow.about%}<i class="sf-check mRa5 fs12 fc-green"></i>{%endif%}<b>{%trans "About"%}</b></b></a>
	<a class="{%if requestGET.type == 'target' %}primary{%else%}primary2{%endif%} c mLa5 msg" href="{{url.this}}/detail?id={{requestGET.id}}&type=target">{%if dataRow.target%}<i class="sf-check mRa5 fs12 fc-green"></i>{%endif%}<b>{%trans "Target"%}</b></a>
	<a class="{%if requestGET.type == 'axis' %}primary{%else%}primary2{%endif%} c mLa5 msg" href="{{url.this}}/detail?id={{requestGET.id}}&type=axis">{%if dataRow.axis%}<i class="sf-check mRa5 fs12 fc-green"></i>{%endif%}<b>{%trans "Axis"%}</b></a>
	<a class="{%if requestGET.type == 'view' %}primary{%else%}primary2{%endif%} c mLa5 msg" href="{{url.this}}/detail?id={{requestGET.id}}&type=view">{%if dataRow.view%}<i class="sf-check mRa5 fs12 fc-green"></i>{%endif%}<b>{%trans "View"%}</b></a>
	<a class="{%if requestGET.type == 'place' %}primary{%else%}primary2{%endif%} c mLa5 msg" href="{{url.this}}/detail?id={{requestGET.id}}&type=place">{%if dataRow.place%}<i class="sf-check mRa5 fs12 fc-green"></i>{%endif%}<b>{%trans "Place"%}</b></a>
	<a class="{%if requestGET.type == 'award' %}primary{%else%}primary2{%endif%} c mLa5 msg" href="{{url.this}}/detail?id={{requestGET.id}}&type=award">{%if dataRow.award%}<i class="sf-check mRa5 fs12 fc-green"></i>{%endif%}<b>{%trans "Award"%}</b></a>
</div>

<div class="f justify-center">
	<div class="c8">
		<div class="cbox">
			<form method="post" autocomplete="off">

				{%if requestGET.type == 'intro' or not requestGET.type%} {{block('iintro')}} {%endif%}
				{%if requestGET.type == 'about'%} {{block('iabout')}} {%endif%}
				{%if requestGET.type == 'target'%} {{block('itarget')}} {%endif%}
				{%if requestGET.type == 'axis'%} {{block('iaxis')}} {%endif%}
				{%if requestGET.type == 'view'%} {{block('iview')}} {%endif%}
				{%if requestGET.type == 'place'%} {{block('iplace')}} {%endif%}
				{%if requestGET.type == 'award'%} {{block('iaward')}} {%endif%}
				{{block('isave')}}
			</form>
		</div>
	</div>
</div>
{%endblock%}


