{%extends display.survey%}


{%block pageContent%}
{{block('pageSteps')}}
<div class="f justify-center">
	<div class="c6 s12">
		<div class="cbox">
			<form method="post" autocomplete="off">
				<p class="msg info">{%trans "This title and description show on all page of your suvery in website for your visitor."%}</p>
				<p class="msg info2">{%trans "In Telegram only title is show on load survey."%}</p>
				{{block('ititle')}}
				{{block('idesc')}}
				{{block('ilanguage')}}
				{{block('ibuttontitle')}}



				{{block('isave')}}
			</form>
		</div>
	</div>
</div>
{%endblock%}
