 <footer>
  <div class="container">
   <nav class="f" id='footer-nav'>
    <a class="cauto link_home" href="{{url.kingdom}}">{%trans "Home"%}</a>
    <a class="cauto" href="{{url.kingdom}}/about">{%trans "About"%}</a>
    <a class="cauto hide" href="{{url.kingdom}}/press">{%trans "Press and Media"%}</a>
    <a class="cauto" href="{%if site.currentlang =='fa'%}https://ermile.com/fa{%else%}https://ermile.com{%endif%}/careers" target="_blank">{%trans "Careers"%}</a>
    <a class="cauto" href="{{url.kingdom}}/social-responsibility">{%trans "Social Responsibility"%}</a>
    <a class="cauto" href="{{url.kingdom}}/help">{%trans "Help Center"%}</a>
    <a class="eco hint--left hint--success" href='{{url.kingdom}}/eco' data-hint='{%trans "Eco Friendly"%}'><img src="{{url.static}}/images/svg/general/eco.svg" alt='{%trans "Eco Friendly"%}' class='flip-ltr grayscale'></a>
   </nav>

   <div class="f" id="footer-links">
{%if lang.current =='fa'%}
    <nav class="c" id="footer-enamad">
     <a href="{{url.kingdom}}">
      <div></div>
      <img src="{{url.static}}/images/enamad2.png" alt='{%trans "Enamad"%}' onclick='window.open("https://trustseal.enamad.ir/Verify.aspx?id=56701&p=yncrhwmbqgwldrfsnbpd", "Popup","toolbar=no, location=no, statusbar=no, menubar=no, scrollbars=1, resizable=0, width=580, height=600, top=30")'>
      <div></div>
     </a>
    </nav>
{%endif%}

    <nav class="c s12">
     <h4>{%trans "Service"%}</h4>
     <ul>
      <li><a href="{{url.kingdom}}/benefits">{%trans "Benefits"%}</a></li>
      <li><a href="{{url.kingdom}}/pricing">{%trans "Pricing"%}</a></li>
     </ul>
    </nav>

    <nav class="c s12">
     <h4>{%trans "Learn More"%}</h4>
     <ul>
      <li><a href="{{url.kingdom}}/terms">{%trans "Terms of Service"%}</a></li>
      <li><a href="{{url.kingdom}}/privacy">{%trans "Privacy Policy"%}</a></li>
      <li><a href="{{url.kingdom}}/changelog">{%trans "Changelog"%}</a></li>
     </ul>
    </nav>

    <nav class="c s12">
     <h4>{%trans "Support"%}</h4>
     <ul>
      <li><a href="{{url.kingdom}}/contact">{%trans "Contact us"%}</a></li>
      <li><a href="{{url.kingdom}}/help">{%trans "Help Center"%}</a></li>
      <li><a href="{{url.kingdom}}/logo">{%trans "Logo"%}</a></li>
     </ul>
    </nav>

    {%if false%}
    <section class="c s12" id='footer-news'>
     <h4>{%trans "Latest News"%}</h4>
     {{posts(3, {"cat":['news'], 'desc':1, 'html':true})}}
    </section>
    {%endif%}

    <div class="c s12">
     {%include "content/template/social.html"%}
    </div>
   </div>


   <div class="flex justify-between" id="footer-note">
    <div>{{langList({'html':true})}}</div>
    <div><span data-value='1746670'>{{1746670 | fitNumber}}</span>+ {%trans "Questions answered"%}</div>
    <div class="love"><a href="{%if site.currentlang =='fa'%}https://ermile.com/fa{%else%}https://ermile.com{%endif%}" target="_blank">{%trans "Proudly Made in IRAN"%}</a></div>
   </div>


  </div>
 </footer>