  <header data-scroll>
   <h1 class='logo flex align-center s-justify-center'>
    <a href='{{url.kingdom}}' tabindex='1'>
          {%if lang.current =='fa'%}
     <img src='{{url.static}}/images/logo/logo-fa.svg' alt='{{site.title}} | {{site.desc}}'>
     {%else%}
      <img src='{{url.static}}/images/logo/logo-en.svg' alt='{{site.title}} | {{site.desc}}'>
     {%endif%}
    </a>
    <span>{{site.title}}</span>
   </h1>
   <div id='header-box'>

    <nav class="f pA10 headerLine fs14">
      <div class="c s0">
        <a class="btn outline mRa10" href='{{url.kingdom}}/benefits' tabindex='3'>{%trans "Benefits"%}</a>
        <a class="btn outline mRa10" href='{{url.kingdom}}/pricing' tabindex='5'>{%trans "Pricing"%}</a>
        <a class="btn outline" href='{{url.kingdom}}/support' data-direct tabindex='4'>{%trans "Help Center"%}</a>
      </div>
      <div class="cauto os s12 txtC">
{%if login%}
        <a href='{{url.kingdom}}/a' class='btn primary' tabindex='6' data-direct>{%trans "Dashboard"%}</a>
{%else%}
        <a href='{{url.kingdom}}/enter' data-direct class='btn primary'>{%trans "Enter"%}</a>
{%endif%}
{% set lang_list = langList() %}
{%for key, value in lang_list%}
      <a href="/{{key}}" hreflang="{{key}}" data-direct class="btn mLa5"><span class="sf-globe mRa10"></span> {{value}}</a>
{%endfor%}
      </div>
    </nav>

   </div>
   <div id='menu-bar'><span></span></div>
  </header>
