  <header data-scroll>
   <h1 class='logo flex align-center s-justify-center'>
    <a href='{{url.kingdom}}' tabindex='1'>
          {%if lang.current =='fa'%}
     <img src='{{url.site}}/static/images/logo/logo-fa.svg' alt='{{site.title}} | {{site.desc}}'>
     {%else%}
      <img src='{{url.site}}/static/images/logo/logo-en.svg' alt='{{site.title}} | {{site.desc}}'>
     {%endif%}
    </a>
    <span>{{site.title}}</span>
   </h1>
   <div id='header-box'>
    <div id='header-top'>
     <nav id='header-quick'>
      <a href='{{url.kingdom}}/benefits' tabindex='3'>{%trans "Benefits"%}</a>
      <a href='{{url.kingdom}}/help' tabindex='4'>{%trans "Help Center"%}</a>
     </nav>
     <nav id='header-profile' data-xhr='header-profile' {%if login%}class='login'{%endif%}>
{%if login%}
      <a href='{{url.kingdom}}/a' class='btn primary' tabindex='6' data-direct>{%trans "Dashboard"%}</a>

{%else%}
      <a href='{{url.kingdom}}/enter' data-direct class='btn primary'>{%trans "Enter"%}</a>
{%endif%}
{% set lang_list = langList() %}
{%for key, value in lang_list%}
      <a href="/{{key}}" hreflang="{{key}}" data-direct class="btn mLa5"><span class="sf-globe mRa10"></span> {{value}}</a>
{%endfor%}

     </nav>
    </div>
    <div id='header-bottom'>
     <nav class="breadcrumb" data-xhr="breadcrumb" tabindex='-1' data-step='4' data-intro='{%trans "View your current location and navigate to parent of it"%}' data-position='bottom'>
{%block breadcrumb%}
     {{breadcrumb(null, true, false, true) | raw}}
{%endblock%}
     </nav>

    </div>
   </div>
   <div id='menu-bar'><span></span></div>
  </header>
