{%set inestimableClass%}{%spaceless%}
{%if module == 'about'%}special{%else%}{%if login and login.status == 'active'%}complete{%elseif login%}verify{%endif%}{%endif%}
{%endspaceless%}{%endset%}

<div id="inestimable" class="flex justify-center align-center {{inestimableClass}}" data-xhr="specialbox">
 <div class="inestimable-left"></div>
 <div class="inline-flex inestimable-content">

{%block specialbox%}
 {%if module == 'about'%}
  <div class="flex f-column justify-between align-start s-align-center inestimable-inner">
   <h3>{%trans "Sarshomar Vision"%}</h3>
   <h4>{%trans "Ask Anyone Anywhere"%}</h4>
  </div>
 {%else%}
  {%if login and login.status == 'active'%}
   <img height="150" class="flip-rtl" src="{{url.site}}/static/images/miniature/launch-ok.png" alt='{%trans "We are inestimable"%}'>
   <div class="flex f-column justify-center align-start s-align-center inestimable-inner">
    <h3>{%trans "Ask and Answer with Sarshomar"%}</h3>
    <h4>{%trans "Sarshomar is about to launch..."%}</h4>
   </div>
  {%elseif login%}
   <img height="150" class="flip-rtl" src="{{url.site}}/static/images/miniature/launch-ok.png" alt='{%trans "We are inestimable"%}'>
   <div class="flex f-column justify-around align-start inestimable-inner">
    <h4>{%trans "If we were inestimable, Signup!"%}</h4>
    <a href="{{url.kingdom}}/account/profile" class="btn outline xl" data-direct>{%trans "Go to profile"%}</a>
   </div>
  {%else%}
   <img height="150" class="flip-rtl" src="{{url.site}}/static/images/miniature/launch-ok.png" alt='{%trans "We are inestimable"%}'>
   <div class="flex f-column justify-between align-start s-align-center inestimable-inner">
    <h3>{%trans "Inspection and Answer"%}</h3>
    <h4>{%trans "Then if we were inestimable, Signup!"%}</h4>
    {%if not login%}
     <a href="{{url.kingdom}}/enter" class="special-btn">{%trans "Enter to Sarshomar"%}</a>
    {%endif%}
   </div>
  {%endif%}
 {%endif%}
{%endblock%}

 </div>
 <div class="inestimable-right"></div>
</div>