{%set inestimableClass%}{%spaceless%}
{%if module == 'about'%}special{%else%}{%if login and login.status == 'active'%}complete{%elseif login%}verify{%endif%}{%endif%}
{%endspaceless%}{%endset%}

<div id="inestimable" class="flex justify-center align-center {{inestimableClass}}" data-xhr="specialbox">
 <div class="inestimable-left"></div>
 <div class="inline-flex inestimable-content">

{%block specialbox%}
 {%if module == 'about'%}
  <div class="flex f-column justify-between align-start s-align-center inestimable-inner">
   <h3>{%trans "Sarshomar Vision"%}</h3>
   <h4>{%trans "Ask Anyone Anywhere"%}</h4>
  </div>
 {%else%}
  {%if login and login.status == 'active'%}
   <img height="150" class="flip-rtl" src="{{url.static}}images/miniature/launch-ok.png" alt='{%trans "We are inestimable"%}'>
   <div class="flex f-column justify-center align-start s-align-center inestimable-inner">
    <h3>{%trans "Ask and Answer with Sarshomar"%}</h3>
    <h4>{%trans "Sarshomar is about to launch..."%}</h4>
   </div>
  {%elseif login%}
   <img height="150" class="flip-rtl" src="{{url.static}}images/miniature/launch-ok.png" alt='{%trans "We are inestimable"%}'>
   <div class="flex f-column justify-around align-start inestimable-inner">
    <h4>{%trans "If we were inestimable, Signup!"%}</h4>
    <form class="f fix field" data-method="get" data-action="{{url.base}}/enter" action="{{url.base}}/enter"  data-direct >
     <label class="c2 flex justify-center align-center icon-mobile2 icon-2x"></label>
     <input class="c8" type='tel' name='mobile' placeholder='{%trans "Mobile"%}' maxlength="15">
     <button class="c2 flex justify-center align-center icon-check disabled"></button>
    </form>
   </div>
  {%else%}
   <img height="150" class="flip-rtl" src="{{url.static}}images/miniature/launch-ok.png" alt='{%trans "We are inestimable"%}'>
   <div class="flex f-column justify-between align-start s-align-center inestimable-inner">
    <h3>{%trans "Inspection and Answer"%}</h3>
    <h4>{%trans "Then if we were inestimable, Signup!"%}</h4>
    {%if not login%}
     <a href="{{url.base}}/benefits/guest" class="special-btn">{%trans "Try Before Register"%}</a>
    {%endif%}
   </div>
  {%endif%}
 {%endif%}
{%endblock%}

 </div>
 <div class="inestimable-right"></div>
</div>