{%set inestimableClass%} {%spaceless%} {%if module == 'about'%}special {%else%} {%if login and login.status == 'active'%}complete
{%elseif login%}verify {%endif%} {%endif%} {%endspaceless%} {%endset%}


<div class="special-row f align-center {{inestimableClass}}" data-xhr="specialbox">


{%block specialbox%}

{%if module == 'about'%}
<div class="inner-msg f align-center">
    <div>
      <h3 class="nm"><strong>{%trans "Sarshomar Vision"%}</strong></h3>
      <h4>{%trans "Ask Anyone Anywhere"%}</h4>
    </div>
  </div>
{%else%}
{%if login and login.status == 'active'%}
  <div class="inner-msg f align-center">
    <div class="rocket">
      <img width="150" class="launch" src="{{url.site}}/static/images/miniature/launch-ok.png" alt='{%trans "We are inestimable"%}'>
    </div>
    <div>
      <h3 class="nm"><strong>{%trans "Ask and Answer with Sarshomar"%}</strong></h3>
      <h4>{%trans "Sarshomar is about to launch..."%}</h4>
    </div>
  </div>
  {%elseif login%}
<div class="inner-msg f align-center">
    <div class="rocket">
      <img width="150" class="launch" src="{{url.site}}/static/images/miniature/launch-ok.png" alt='{%trans "We are inestimable"%}'>
    </div>
    <div>
      <h3 class="nm"><strong>{%trans "Inspection and Answer"%}</strong></h3>
      <h4>{%trans "Then if we were inestimable, Signup!"%}</h4>
      <a class="special-btn" href="{{url.kingdom}}/account/recovery">{%trans "Verify account"%}</a>
    </div>
  </div>
{%else%}
<div class="inner-msg f align-center">
    <div class="rocket">
      <img width="150" class="launch" src="{{url.site}}/static/images/miniature/launch-ok.png" alt='{%trans "We are inestimable"%}'>
    </div>
    <div>
      <h3 class="nm"><strong>{%trans "Inspection and Answer"%}</strong></h3>
      <h4>{%trans "Then if we were inestimable, Signup!"%}</h4>
      {%if not login%}
        <a href="{{url.kingdom}}/benefits/guest" class="special-btn">{%trans "Try Before Register"%}</a>
      {%endif%}
    </div>
  </div>
{%endif%}
    {%endif%}
    {%endblock%}
</div>

