<nav class="socialbox sharebox">
 <a class="twitter" href="https://twitter.com/{{social.twitter}}" data-direct>
 	<span>{%trans "Twitter"%}</span>
  <span class="icon-twitter"></span>
 </a>

 {%if false%}
 <a class="rss" href="{{url.base}}/rss" target="_blank" data-direct>
  <span>{%trans "RSS"%}</span>
  <span class="icon-rss"></span>
 </a>
 {%endif%}

 <a class="telegram" href="http://t.me/{{social.telegram}}" data-direct>
  <span>{%trans "Telegram"%}</span>
  <span class="icon-send"></span>
 </a>
 <a class="gplus" href="https://plus.google.com/{{social.googleplus}}" data-direct>
  <span>{%trans "Google Plus"%}</span>
  <span class="icon-google-plus"></span>
 </a>
 <a class="facebook" href="https://www.facebook.com/{{social.facebook}}" data-direct>
  <span>{%trans "Facebook"%}</span>
  <span class="icon-facebook"></span>
 </a>

 {%if social.linkedin%}
 <a class="linkedin" href="http://www.linkedin.com/{{social.linkedin}}" data-direct>
  <span>{%trans "LinkedIn"%}</span>
  <span class="icon-linkedin2"></span>
 </a>
 {%endif%}
</nav>