{%extends display.question%}




{%block pageContent%}
<div class="cbox">
  <form method="post" >

    <ul class="sortable">

{%for key, value in questionList%}
      <li class="msg {%if value.require%}danger2{%else%}{%endif%} f">
        <div class="cauto pRa10">
          <span class="handle fs16"><i class="sf-th-list"></i></span>
        </div>
        <div class="cauto pRa10">{{(key + 1) | fitNumber}}</div>
        <div class="cauto pRa10 s0">
          {%if value.require%}
              <i title='{%trans "Required answer"%}' class="fs12 sf-lock"></i>
          {%else%}
              <i title='{%trans "Optional to answer"%}' class="fs12 sf-unlock"></i>
          {%endif%}
          <input type="hidden" name="sort[]" value="{{value.id}}">
        </div>

        <div class="c Ra10">
          <div class="txtB">
            {%if value.media.file%}<i title='{%trans "Have Media"%}' class="fs12 sf-file-image-o  mRa5"></i>{%endif%}
            {{value.title}}
          </div>
          {%if value.desc%}<div class="mT10 fs08 s0">{{value.desc}}</div>{%endif%}
          {%if not value.title and not value.desc%}<i>{%trans "Untitled"%}</i>{%endif%}
        </div>

        <div class="cauto pLa10 os"><small class="badge light">{{value.type_detail.title}}</small></div>
        <div class="cauto pLa10 os"><a class="badge secondary s0" href="{{url.here}}/question/general?id={{requestGET.id}}&questionid={{value.id}}">{%trans "Edit"%}</a></div>
      </li>
{%endfor%}

    </ul>
    <button class="btn success block mT25">{%trans "Save sort"%}</button>
  </form>

</div>
{%endblock%}

