{%extends display.question%}




{%block pageContent%}
<div class="cbox">
  <form method="post" >

    <ul class="sortable ">

      {%for key, value in dataTable%}
      <li>
        <div class="msg">
        <span class="handle">☰ </span>

          {%if value.title%}<b>{{value.title}}</b>{%endif%}
          {%if value.desc%}<b>{{value.desc}}</b>{%endif%}
          {%if not value.title and not value.desc%}<i>{%trans "Untitled"%}</i>{%endif%}

          <input type="hidden" name="sort[]" value="{{value.id}}">
        </div>
      </li>
      {%endfor%}
    </ul>
      <button class="btn success block">{%trans "Save sort"%}</button>
  </form>

</div>
{%endblock%}

