{%extends display.question%}


{%block pageContent%}
{{block('pageSteps')}}
<div class="f justify-center">
	<div class="c7 pRa10">
		{{block('quTitle')}}
	</div>

</div>

{%endblock%}





{%block iaddress%}
<label for="address">{%trans "Address"%} <small>{%trans "To use the user answers of this question in another question"%}</small></label>
<div class="input">
  <input type="text" name="address" id="address" placeholder='{%trans "Question address / slug"%}'  value="{{dataRow.address}}"  maxlength='200' minlength="1" pattern=".{1,200}" >
</div>
{%endblock%}

{%block quTitle%}
<div class="cbox">
	<h3 class="txtC">{%trans "Question title"%}</h3>
	<form method="post" autocomplete="off">
		<input type="hidden" name="formType" value="title">
		{{block('imedia')}}
		{{block('ititle')}}
		{%if passwordQuestion%}
		<div class="msg warn2 ">

			<label for="password">{%trans "Password"%}</label>
			<div class="input">
			  <input type="text" name="password" id="password" placeholder='{%trans "Enter your password"%}' value="{{dataRow.setting.password.password}}" required  maxlength='200' minlength="1" pattern=".{1,200}" >
			</div>
		</div>
		{%endif%}
		{{block('idesc')}}
		{{block('iaddress')}}
		<button class="btn primary block mT20">{%trans "Save question title"%}</button>
	</form>
</div>

{%endblock%}


